<?php
$banners=$this->getCollection();
//echo $banners->count();
?>
<div id="carousel-example-generic" class="carousel fade">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<?php
			$i=0;
		foreach($banners as $sliders)
			{
		?>
		<li data-target="#carousel-example-generic" data-slide-to="<?php echo $i; ?>" class="<?php if($i==0){ echo 'active'; } ?>"></li>
		<?php
			$i++;
			}
		?>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<?php
			$j=0;
			foreach($banners as $slider)
			{
		?>
		<!-- First slide -->
		<div class="item<?php if($j==0){ echo ' active'; } ?>" style="background:url(<?php echo $this->resizeImg($slider->getImage(),864,312)?>) no-repeat center center;">
			<div class="tot_layer"></div>
			<?php /* ?>
		
			</div>
			<?php */ ?>
	</div>
		 <?php
			$j++;
			}
		 ?>	
	</div>
</div>