<?php
$specialoffer=$this->getCollection();
//echo $specialoffer->count();
?>

<?php
$cls='mr15';
$i=0;
	foreach($specialoffer as $slider)
	{
		if(($specialoffer->count()-1)==$i)
		{
			$cls='';
		}
?>
<a href="<?php echo $slider->getUrl(); ?>">
<div class="left-bottom-pic <?php echo $cls; ?>">
	<div class="left-bottom-image"><img src="<?php echo $this->resizeImg($slider->getImage(),278,185)?>" alt=""></div>
</div>
</a>
 <?php
	$i++;
	}
?>