<!--@subject Products are out of stock @-->
<!--@vars
{"var alertGrid":"Alert Data Grid"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
           <p style="font-family: Verdana, Arial;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 5px;
    line-height: 28px;""> Hello admin,</p>
            <p style="font-family: Verdana, Arial;
    font-weight: normal;font-size:16px;
">Following products are out of stock : </p>
        </td>
    </tr>
    <tr>
        <td>
            {{var alertGrid}}
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}