<?php
function getChildrenCollection($parentId=false, $sort='ASC', $attribute='id') 
{
  if (empty($parentId) || !is_numeric($parentId)) return false;
  $childrenArray = explode(',',Mage::getModel('catalog/category')->load($parentId)->getChildren());
  // remove parent id from array in case it gets returned
  if ($key = array_search($parentId, $childrenArray)) {
    unset($childrenArray[$key]);
  } 
  $collection = Mage::getModel('catalog/category')->getCollection()
    ->addAttributeToFilter('entity_id', array('in' => $childrenArray))
    ->addAttributeToSelect('*');

  if (!empty($sort)) {
    return $collection->setOrder($attribute, $sort);
  }
  return $collection;           
}

function retrieveAllChilds($id = null, $childs = null)
{
    $category = Mage::getModel('catalog/category')->load($id);
    return $category->getResource()->getChildren($category, true);
}

function  get_sub_categories($mob_categories,$tot_chld)
{
  $mob_child_arr=explode(',',$mob_categories);
  $mob_array='';
   $smrt_cls='';
                                if($tot_chld/10>0 && $tot_chld/10<1)
                                {
                                  $smrt_cls='col-tot-12';
                                }
                                
                                if($tot_chld/10>1 && $tot_chld/10<2)
                                {
                                  $smrt_cls='col-tot-6';
                                }
                                
                                if($tot_chld/10>2 && $tot_chld/10<3)
                                {
                                  $smrt_cls='col-tot-4';
                                }
                                
                                if($tot_chld/10>3 && $tot_chld/10<4)
                                {
                                  $smrt_cls='col-tot-3';
                                }
                                
                                $mob_array.= '<ul class="dropdown-menu '.$smrt_cls.'">';
                                $i1=1;
                                $mob_array .= '<li>';
                                if($tot_chld/10>0 && $tot_chld/10<1)
                                {
                                  $mob_array.= '<div class="col-md-12">';
                                }
                                
                                if($tot_chld/10>1 && $tot_chld/10<2)
                                {
                                  $mob_array.= '<div class="col-md-6">';
                                }
                                
                                if($tot_chld/10>2 && $tot_chld/10<3)
                                {
                                  $mob_array.= '<div class="col-md-4">';
                                }
                                
                                if($tot_chld/10>3 && $tot_chld/10<4)
                                {
                                  $mob_array.= '<div class="col-md-3">';
                                }
                                
                                foreach($mob_child_arr as $mob_categories)
                                {
                                  //echo $mob_categories;
                                    $mob_cat = Mage::getModel('catalog/category')->load($mob_categories);
                                    //if($mob_cat->hasChildren())
                                    //{
                                    //    $mob_class="parent_mob";
                                    //    $icon='<span class="left_span"><i class="fa fa-arrow-circle-right"></i></span>';
                                    //}
                                    //else
                                    //{
                                    //    $mob_class="";
                                    //    $icon="";
                                    //}
                                    $category_dtls = Mage::getModel('catalog/category')->load($mob_cat->getId());
                                    $class='';
                                    //if($i==7 || $i==14 || $i==21 || $i==28){
                                    //  $class='lastitem';
                                    //}
                                    
                                    $mob_array .= '<div>
                                                <a href="'.$category_dtls->getURL().'" >'.$category_dtls->getName() . "</a></div>";
                                    
                                  if($category_dtls->getChildren())
                                  {
                                      $sub_desk_arr1=array();
                                      foreach (getChildrenCollection($category_dtls->getId()) as $child) {
                                       $sub_desk_arr1[]=$child->getId();
                                      }
                                      
                                      $sub_subcats=implode(',',$sub_desk_arr1);
                                      $j1=1;
                                      
                                      foreach(explode(',',$sub_subcats) as $sub_subCatid)
                                      {
                                        //echo $sub_subCatid;
                                          $_sub_category = Mage::getModel('catalog/category')->load($sub_subCatid);
                                          if($_sub_category->getIsActive())
                                          {
                                            $mob_array.= '<span><a href="'.$_sub_category->getURL().'">'.$_sub_category->getName().'</a></span>'; 
                                            //if($j1==4*$k1)
                                            //{
                                            // $mob_array.='</div><div class="col_newsm">';
                                            // $k1++;
                                            //}
                                            //$j1++;
                                            //$r--;
                                          }
                                         //echo $r;
                                        if($i1==8 || $i1==18 || $i1==28 || $i1==38)
                                        {
                                          //if(floor($tot_chld/10)==1)
                                          //{
                                          //  $mob_array.= '</div><div class="col-md-12">';
                                          //}
                                          
                                          if($tot_chld/10>1 && $tot_chld/10<2)
                                          {
                                            $mob_array.= '</div><div class="col-md-6">';
                                          }
                                          
                                          if($tot_chld/10>2 && $tot_chld/10<3)
                                          {
                                            $mob_array.= '</div><div class="col-md-4">';
                                          }
                                          
                                          if($tot_chld/10>3 && $tot_chld/10<4)
                                          {
                                            $mob_array.= '</div><div class="col-md-3">';
                                          }
                                        }
                                        $i1++;
                                      }
                                  }
                                  else
                                  {
                                    
                                    
                                    if($i1==8 || $i1==18 || $i1==28 || $i1==38)
                                    {
                                      //if(floor($tot_chld/10)==1)
                                      //{
                                      //  $mob_array.= '</div><div class="col-md-12">';
                                      //}
                                      
                                      if($tot_chld/10>1 && $tot_chld/10<2)
                                      {
                                        $mob_array.= '</div><div class="col-md-6">';
                                      }
                                      
                                      if($tot_chld/10>2 && $tot_chld/10<3)
                                      {
                                        $mob_array.= '</div><div class="col-md-4">';
                                      }
                                      
                                      if($tot_chld/10>3 && $tot_chld/10<4)
                                      {
                                        $mob_array.= '</div><div class="col-md-3">';
                                      }
                                    }
                                    $i1++;
                                  }
                                  //echo $i1;
                                 // $a++;
                                  //$mob_array .= '</div>';
                                  //if($i1==11 || $i==21 || $i==31 || $i==41)
                                  //{
                                  //  //if(floor($tot_chld/10)==1)
                                  //  //{
                                  //  //  $mob_array.= '</div><div class="col-md-12">';
                                  //  //}
                                  //  
                                  //  if($tot_chld/10>1 && $tot_chld/10<2)
                                  //  {
                                  //    $mob_array.= '</div><div class="col-md-6">';
                                  //  }
                                  //  
                                  //  if($tot_chld/10>2 && $tot_chld/10<3)
                                  //  {
                                  //    $mob_array.= '</div><div class="col-md-4">';
                                  //  }
                                  //  
                                  //  if($tot_chld/10>3 && $tot_chld/10<4)
                                  //  {
                                  //    $mob_array.= '</div><div class="col-md-3">';
                                  //  }
                                  //}
                                }
                                if($tot_chld/10>0 && $tot_chld/10<1)
                                {
                                  $mob_array.= '</div>';
                                }
                                
                                if($tot_chld/10>1 && $tot_chld/10<2)
                                {
                                  $mob_array.= '</div>';
                                }
                                
                                if($tot_chld/10>2 && $tot_chld/10<3)
                                {
                                  $mob_array.= '</div>';
                                }
                                
                                if($tot_chld/10>3 && $tot_chld/10<4)
                                {
                                  $mob_array.= '</div>';
                                }
    return  $mob_array . '</li></ul>';
}

function  get_menu_categories($categories)
{
  $arr=explode(',',$categories);
  $i=1;
  $array= '';
  
    foreach($arr as $subCatid)
    {
      $add_ac_cls='';
      $_category = Mage::getModel('catalog/category')->load($subCatid);
      if($_category->getIsActive())
      {
        $tot_chld=count(retrieveAllChilds($_category->getId()));
        //echo implode(',',retrieveAllChilds($_category->getId()));
        if($_category->getChildren())
        {
          $cls='dropdown';
          $ar_cls='class="dropdown-toggle" data-toggle="dropdown"';
          $caret_cls='<span class="caret"></span>';
          $cat_url='javascript:void(0)';
        }
        else
        {
          $cls='';
          $ar_cls='';
          $caret_cls='';
          $cat_url=$_category->getURL();
        }
      
        if(Mage::registry('current_category'))
        {
          $cur_cat=Mage::registry('current_category')->getId();
          /* used for category level*/
          $catmodel=Mage::getModel('catalog/category')->load($cur_cat);
          $path = $catmodel->getPath();
          $ids = explode('/', $path);
         //print_r($ids);
         $path2=$_category->getPath() ;
         $ids2 = explode('/', $path2);
          //print_r($ids2);
         if($ids[2]==$ids2[2]){
            $add_ac_cls=' active-menu';
            
          }
        }
      if($i<8)
      {
        $array .= '<li id="li_'.$i.'" class="'.$cls.$add_ac_cls.'">'.
        '<a href="'.$cat_url.'" '.$ar_cls.' >' .
                  $_category->getName() .$caret_cls. "</a>";
          
          if($_category->hasChildren()) {
              $mob_child_arr=array();
              foreach(getChildrenCollection($_category->getId()) as $sub_child)
              {
                  $mob_child_arr[]=$sub_child->getId();
              }

                                //$mob_child_arr;
                                
                                
                
                $mob_subcats_rec=implode(',',$mob_child_arr);
              
              $array .=  get_sub_categories($mob_subcats_rec,$tot_chld);
                
                
                
                
              }
              
         $array .= '</li>';
      }
      
      if($i==8)
      {
           $array .= '<li class="dropdown" style="display:block;" > <a  class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
               <ul class="dropdown-menu">';
      }
      
      if($i>7)
      {
          $array .= '<li class="'.$add_ac_cls.'">'.
          '<a href="'.$_category->getURL().'" >' .
                    $_category->getName() . "</a>";
            
            if($_category->hasChildren()) {
                $mob_child_arr=array();
                foreach(getChildrenCollection($_category->getId()) as $sub_child)
                {
                    $mob_child_arr[]=$sub_child->getId();
                }
                $mob_subcats_rec=implode(',',$mob_child_arr);
                
                //$array .=  get_sub_categories($mob_subcats_rec,$tot_chld);
                }
                
           $array .= '</li>';
      }
      //if(end($arr))
      //{
      //  $array .= '</ul></li>';
      //}
      $i++;
    }
  }
  return $array;
}
$_rootCatId=Mage::app()->getStore()->getRootCategoryId();

//$no_leftpad_cls='';
//$pid=Mage::getSingleton('cms/page')->getIdentifier();
//$route=Mage::app()->getFrontController()->getRequest()->getRouteName();
//if($pid=='home' && $route=='cms')
//{
//    $no_leftpad_cls='no_leftpad';
//}

?>
<section>
  <div class="bot_header">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header"> 
          <!--<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
          <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
          <div class="nav_left">
            <ul class="nav navbar-nav" id="bs-example-navbar-collapse-1">
               <?php
                    $desk_arr=array();
                    //print_r(getChildrenCollection($_rootCatId));
                    foreach (getChildrenCollection($_rootCatId) as $child) {
                     $desk_arr[]=$child->getId();
                    }
                    
                    $subcats=implode(',',$desk_arr);
                    echo get_menu_categories($subcats);
                    
                  //if(isset($cat_arr_IDs[1]))
                  //{
                  //  $gift_category_id = $cat_arr_IDs[1];
                  //}
                  //else{
                  //  $gift_category_id=10;
                  //}
                  //$gift_cat_url=Mage::getModel("catalog/category")->load($gift_category_id)->getUrl();
                  //
                  //if(Mage::registry('current_category'))
                  //{
                  //  $g_cur_cat=Mage::registry('current_category')->getId();
                  //  /* used for category level*/
                  //  if($g_cur_cat==10)
                  //  {
                  //    $g_add_ac_cls='active';
                  //  }
                  //}
                  ?>
              <!--<li><a class="active-menu" href="computing.html">Computing </a></li>
              <li><a href="storage.html">Storage</a></li>
              <li><a href="cables.html">Cables</a></li>
              <li ><a  href="networking.html">Networking</a></li>
              <li ><a  href="peripherals.html">Peripherals </a></li>
              <li ><a  href="enterprise.html">Enterprise and Power Supply </a></li>
              <li ><a  href="software .html">Software</a></li>
              <li class="dropdown" > <a  class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Menu item 1</a></li>
                  <li><a href="#">Menu item 2</a></li>
                </ul>
              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="clearfix"></div>
</section>