<?php foreach ($this->getItems() as $_item): ?>
        <li <?php if ($_item->isSelected()): ?> class="active_list" <?php endif; ?>>
            <?php if ($_item->getCount() > 0): ?>
                <a href="<?php echo ($_item->isSelected()) ? $_item->getRemoveUrl() : $_item->getUrl() ?>">
                    <?php /* ?><input type="checkbox"<?php if ($_item->isSelected()): ?> checked="checked" <?php endif; ?>/><?php */ ?>
                    <?php echo $_item->getLabel() ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        (<?php echo $_item->getCount() ?>)
                    <?php endif; ?>
                </a>
            <?php else: ?>
               
                    <?php echo $_item->getLabel(); ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        (<?php echo $_item->getCount() ?>)
                    <?php endif; ?>
                
            <?php endif; ?>
            
        
        </li>
    <?php endforeach ?>