<?php if ($this->canShowBlock()): ?>
    <?php if (!$this->getRequest()->isAjax()): ?>
    <div id="layered-navigation">
    <?php endif; ?>
    <div class="panel-body">
        <div class="tot_pad">
    <div class="block block-layered-nav<?php if (!$this->getLayer()->getState()->getFilters()): ?> block-layered-nav--no-filters<?php endif; ?>">
           <div class="block-content toggle-content">
            <?php echo $this->getStateHtml() ?>
            <?php if ($this->getLayer()->getState()->getFilters()): ?>
                <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
            <?php endif; ?>
            <?php if($this->canShowOptions()): ?>
                <!--<p class="block-subtitle block-subtitle--filter"><?php echo $this->__('Filter') ?></p>-->
                <ul class="nav">
                    <?php $_filters = $this->getFilters() ?>
                    <?php foreach ($_filters as $_filter): ?>
                        <?php
                        if($_filter->getName()=='Category') continue;
                        if($_filter->getItemsCount()): ?>
                        <li>
                            <div id="info">
                                <h1><?php echo $this->__($_filter->getName()) ?></h1>
                                <ul><?php echo $_filter->getHtml() ?></ul>
                            </div>
                        </li>
                    <hr/>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
            </div>
    </div>
        </div>
    </div>
    <?php if (!$this->getRequest()->isAjax()): ?>
    </div>
    <?php endif; ?>
<?php endif; ?>
