<?php
/**
 * Vincent Enjalbert
 *
 * Version Française :
 * *****************************************************************************
 *
 * Notification de la Licence
 *
 * Ce fichier source est sujet au CLUF
 * qui est fourni avec ce module dans le fichier LICENSE-FR.txt.
 * Il est également disponible sur le web à l'adresse suivante:
 * http://www.web-cooking.net/licences/magento/LICENSE-FR.txt
 *
 * =============================================================================
 *        NOTIFICATION SUR L'UTILISATION DE L'EDITION MAGENTO
 * =============================================================================
 * Ce module est conçu pour l'édition COMMUNITY de Magento
 * WebCooking ne garantit pas le fonctionnement correct de cette extension
 * sur une autre édition de Magento excepté l'édition COMMUNITY de Magento.
 * WebCooking ne fournit pas de support d'extension en cas
 * d'utilisation incorrecte de l'édition.
 * =============================================================================
 *
 * English Version :
 * *****************************************************************************
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-EN.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 *
 * =============================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =============================================================================
 * This package designed for Magento COMMUNITY edition
 * WebCooking does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * WebCooking does not provide extension support in case of
 * incorrect edition usage.
 * =============================================================================
 *
 * @category   Webcooking
 * @package    Webcooking_SimpleBundle
 * @copyright  Copyright (c) 2011-2015 Vincent René Lucien Enjalbert
 * @license    http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 */
?>
<div id="template_product_popup" class="box" style="display:none;padding: 40px 100px;position:absolute; top:250px; margin-left:50%; with:700px;left:-350px"></div>
<script type="text/javascript">

    function loadEditProductPopup(itemId) {
        new Ajax.Updater(
                'template_product_popup',
                '<?php echo $this->getUrl('adminhtml/simplebundle_template_item/openpopup') ?>',
                {
                    method: 'post',
                    parameters: {
                        templateItemId: itemId,
                        templateId: <?php echo Mage::registry('simplebundle_template')->getId() ?>,
                    },
                    evalScripts: true,
                    onSuccess: function(response) {
                        $('template_product_popup').setStyle({});
                        $('template_product_popup').show();
                    }
                }
        );
    }

    function loadAddProductPopup() {
        loadEditProductPopup(false);
    }
    
    function selectSbTemplateProduct() {
        new Ajax.Updater(
                'simplebundle_template_product_grid',
                '<?php echo $this->getUrl('adminhtml/simplebundle_template_item/productgrid') ?>',
                {
                    method: 'post',
                    parameters: {},
                    evalScripts: true
                }
        );
    }
    
    function setProductFromGrid(productId) {
        $$('.product_cell')[0].update(productId);
        $('product_id').value = productId;
        $('simplebundle_template_product_grid').update('');
    }
   
    
    function saveSimpleBundleProduct(deleteAction) {
        templateItemId = '';
        if($('template_item_id')) {
            templateItemId = $('template_item_id').getValue();
        }
        templateId = $('template_id').getValue();
        new Ajax.Request(
                '<?php echo $this->getUrl('adminhtml/simplebundle_template_item/savetemplateitem') ?>',
                {
                    method: 'post',
                    parameters: {
                        templateItemId: templateItemId,
                        templateId: templateId,
                        selectionQty: $('selection_qty').getValue(),
                        position: $('position').getValue(),
                        productId: $('product_id').getValue(),
                        delete: deleteAction
                    },
                    evalScripts: true,
                    onSuccess: function(){
                        $('template_product_popup').hide();
                        simplebundleTemplateItemGridJsObject.doFilter();
                    }
                }
        );
    }

</script>
