<?php
/**
 * Vincent Enjalbert
 *
 * Version Française :
 * *****************************************************************************
 *
 * Notification de la Licence
 *
 * Ce fichier source est sujet au CLUF
 * qui est fourni avec ce module dans le fichier LICENSE-FR.txt.
 * Il est également disponible sur le web à l'adresse suivante:
 * http://www.web-cooking.net/licences/magento/LICENSE-FR.txt
 *
 * =============================================================================
 *        NOTIFICATION SUR L'UTILISATION DE L'EDITION MAGENTO
 * =============================================================================
 * Ce module est conçu pour l'édition COMMUNITY de Magento
 * WebCooking ne garantit pas le fonctionnement correct de cette extension
 * sur une autre édition de Magento excepté l'édition COMMUNITY de Magento.
 * WebCooking ne fournit pas de support d'extension en cas
 * d'utilisation incorrecte de l'édition.
 * =============================================================================
 *
 * English Version :
 * *****************************************************************************
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-EN.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 *
 * =============================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =============================================================================
 * This package designed for Magento COMMUNITY edition
 * WebCooking does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * WebCooking does not provide extension support in case of
 * incorrect edition usage.
 * =============================================================================
 *
 * @category   Webcooking
 * @package    Webcooking_SimpleBundle
 * @copyright  Copyright (c) 2011-2015 Vincent René Lucien Enjalbert
 * @license    http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 */
?>
<span style="position:absolute;right:10px;"><a href="javascript:void(0);" onclick="$('template_product_popup').hide();"><?php echo $this->__('close') ?></a></span>
<form id="template_item_form_add">
    <input type="hidden" name="template_id" id="template_id" value="<?php echo $this->getTemplateId() ?>" />
    <?php if($this->getTemplateItemId()): ?>
        <input type="hidden" name="template_item_id" id="template_item_id" value="<?php echo $this->getTemplateItemId() ?>" />
    <?php endif; ?>
    <div colspan="10" class="grid tier">
        <?php if($this->getTemplateItemId() ):?>
            <h3><?php echo $this->__('Edit product') ?></h3>
        <?php else: ?>
            <h3><?php echo $this->__('Add product') ?></h3>
        <?php endif; ?>
        <table cellspacing="0" class="data border" id="template_items">
            <colgroup><col width="135">
                <col width="120">
                <col>
                <col width="1">
            </colgroup><thead>
                <tr class="headings">
                    <th><?php echo $this->__('Product') ?></th>
                    <th><?php echo $this->__('Qty') ?></th>
                    <th><?php echo $this->__('Position') ?></th>
                </tr>
            </thead>
            <tbody id="custom_option_82449_1_2_container">
                <tr>
                    <td>
                        <span id="product_select" class="product_select">
                            <input type="hidden" name="product_id" id="product_id" <?php if($this->getTemplateItemId() ):?>value="<?php echo $this->getItem()->getProductId(); ?>"<?php endif; ?>/>
                            <span class="product_cell">
                                <?php if($this->getTemplateItemId() ):?>
                                    <?php echo $this->getItem()->getProductId(); ?>
                                <?php else: ?>
                                    <a href="javascript:void(0);" onclick="javascript:selectSbTemplateProduct();">
                                        <?php echo Mage::helper('simplebundle')->__('Select Product'); ?>
                                    </a>
                                <?php endif; ?>
                            </span>
                        </span>

                    </td>
                    <td>
                        <input class="selection_qty required-entry"  type="text" name="selection_qty" id="selection_qty" <?php if($this->getTemplateItemId() ):?>value="<?php echo $this->getItem()->getSelectionQty(); ?>"<?php endif; ?> />
                    </td>
                    <td>
                        <input class="position required-entry"  type="text" name="position" id="position" <?php if($this->getTemplateItemId() ):?>value="<?php echo $this->getItem()->getPosition(); ?>"<?php endif; ?> />
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="grid">
        <div id="simplebundle_template_product_grid"></div>
        <button id="save_product" title="<?php echo $this->__('Save Product') ?>" type="button" class="scalable save" onclick="javascript:saveSimpleBundleProduct(0);" style="">
            <span><span><span><?php echo $this->__('Save Product') ?></span></span></span>
        </button>
        <button id="save_product" title="<?php echo $this->__('Delete Product') ?>" type="button" class="scalable delete" onclick="javascript:saveSimpleBundleProduct(1);" style="">
            <span><span><span><?php echo $this->__('Delete Product') ?></span></span></span>
        </button>
    </div>
</form>
