<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                <td style="background:#60bb22; color:#fff;font-size:24px; text-align:center;padding:20px;">Thank you, {{var store.getFrontendName()}}!</td>
                </tr>
              <tr>
  
  <td style="background:#093a61;color:#fff; text-align:center;padding:20px">Registered office: Office 28, 28 Cleveland Street, Wolverhampton WV1 3HT 
  <br>Registered in England No. 09408503
  <br>VAT No: 207 4065 33 (UK)
<br>© 2016 etqit. All Rights Reserved. </td>  
</tr>
            </table>
            
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
