<?php
/**
 * @project     SocialLogin
 * @package     LitExtension_SocialLogin
 * @author      LitExtension
 * @email       litextension@gmail.com
 */
?>
<?php
$check_show_social = Mage::helper('le_sociallogin')->checkShowSociallogin();
if($check_show_social == true && Mage::getSingleton('customer/session')->IsLoggedIn() == false):
?>
    <link type="text/css" rel="stylesheet" media="screen" href="<?php echo $this->getSkinUrl('le_sociallogin/css/style.css');?>"/>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('le_sociallogin/js/sociallogin.js');?>"></script>  

    <div class="container-header">
        <div class="header-stripe"></div>
        <span>Or</span>
        <br>
        <div class="clear"></div>
    </div>
    <div class="social-login">
        <p class="text-center social-btn">
            <?php
             if($this->getButtons()){
                foreach($this->getButtons() as $button){
                    echo $button->render();
                }
             }
            ?>
        </p>
    <?php
    if(Mage::getSingleton('core/design_package')->getTheme('frontend') == 'iphone') { ?>
    <style type="text/css">
        .le-social-button-login .le-icon-social{
            float: left;
        }
    </style>
    <?php } ?>
<?php endif;?>