<?php
    $left_root_cat_id=Mage::app()->getStore()->getRootCategoryId();
    
    $category = Mage::getModel('catalog/category')->load($left_root_cat_id);
    
    $categoryCollection=getChildrenCollection($left_root_cat_id);
    //print_r($categoryCollection);
?>
<div id='cssmenu'>
    <ul>
        <li><a href='#'><?php echo $this->__('CATEGORIES') ?></a>   
    <?php if($category->getIsActive()): ?>
    <ul>
    <?php
    foreach( $categoryCollection as $category)
    {
        $add_ac_cls='';
        $catg = Mage::getModel('catalog/category')->load($category->getId());
            //if($catg->getChildren())
            //{
            //  $cat_url1='javascript:void(0)';
            //}
            //else
            //{
            //  $cat_url1=$catg->getURL();
            //}
            $cat_url1=$catg->getURL();
        if(Mage::registry('current_category'))
        {
            $cur_cat=Mage::registry('current_category')->getId();
            /* used for category level*/
            $catmodel=Mage::getModel('catalog/category')->load($cur_cat);
            $path = $catmodel->getPath();
            $ids = explode('/', $path);
           
            $path2=$catg->getPath() ;
            $ids2 = explode('/', $path2);
            
            if($ids[2]==$ids2[2])
            {
                $add_ac_cls=' cat_active';
            }
        }
        ?>
        <li class="<?php echo $add_ac_cls; ?>">
            <a href="<?php echo $cat_url1; ?>"  title="<?php echo $catg->getName(); ?>" alt="<?php echo $catg->getName(); ?>">
                <?php echo $catg->getName();?>
            </a> 
            <?php
                if($catg->hasChildren())
                {?>
                <ul>
                <?php
                    $subCategoryCollection=getChildrenCollection($catg->getId());
                    foreach( $subCategoryCollection as $scategory)
                    {
                        $sub_catg = Mage::getModel('catalog/category')->load($scategory->getId());
                        //if($sub_catg->getChildren())
                        //{
                        //  $sub_catg_url='javascript:void(0)';
                        //}
                        //else
                        //{
                        //  $sub_catg_url=$sub_catg->getURL();
                        //}
                        $sub_catg_url=$sub_catg->getURL();
                        ?>
                        <li class="<?php echo $add_ac_cls; ?>">
                        <a href="<?php echo $sub_catg_url; ?>" title="<?php echo $sub_catg->getName(); ?>" alt="<?php echo $sub_catg->getName(); ?>">
                            <?php echo $sub_catg->getName();?>
                        </a>
                        
                <?php
                if($sub_catg->hasChildren())
                {?>
                <ul>
                <?php
                    $subSubCategoryCollection=getChildrenCollection($sub_catg->getId());
                    foreach( $subSubCategoryCollection as $sscategory)
                    {
                        $sub_scatg = Mage::getModel('catalog/category')->load($sscategory->getId());
                        
                        $sub_scatg_url=$sub_scatg->getURL();
                        ?>
                        <li class="<?php echo $add_ac_cls; ?>">
                        <a href="<?php echo $sub_scatg_url; ?>" title="<?php echo $sub_scatg->getName(); ?>" alt="<?php echo $sub_scatg->getName(); ?>">
                            <?php echo $sub_scatg->getName();?>
                        </a>
                        
                        </li>
                    <?php
                    }
                    ?>
                    </ul>
                <?php
                }
                ?>
                </li> 
               
                <?php
                }?>
                </ul>
            <?php
            }
            ?>
    <?php } ?>
    </ul>
    <?php endif; ?>
        </li>
    </ul>
</div>