<?php
function left_sub_menu($subcats1)
{
  $i1=1;
  $arr1=explode(',',$subcats1);
  $array1='';
  foreach($arr1 as $subCatid)
  {
    $_left_category = Mage::getModel('catalog/category')->load($subCatid);
    if($_left_category->getIsActive())
    {
        //echo $i1;
        
        if($_left_category->getChildren())
        {
            //echo $i1;
            $sub_desk_arr1=array();
            foreach (getChildrenCollection2($_left_category->getId()) as $child) {
             $sub_desk_arr1[]=$child->getId();
            }
          
            $sub_subcats=implode(',',$sub_desk_arr1);
            
            $array1.='<div id="demo'.$i1.'" class="collapse sub_maincats">  
            <div class="sub_catinner">
            <h3 class="for_mob">SubCategories</h3>
            <a href="javascript:void(0);" class="close_menu"><img src="'.Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/zawadi/default/images/close_menu.png'.'" alt=""></a>
            <div class="owl-carousel-list">';
            
            foreach(explode(',',$sub_subcats) as $sub_subCatid)
            {
                $_sub_category = Mage::getModel('catalog/category')->load($sub_subCatid);
               // $cat_img_url_left=Mage::helper('timage')->init($_sub_category->getImageUrl())->resize(190, 142);
               if($_sub_category->getImage()){
               $cat_img_url_left=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'catalog/category/cache/190-142/'.$_sub_category->getImage();
               }else{
                $cat_img_url_left=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'catalog/category/noimage.jpg';
               }
                if($_sub_category->getIsActive())
                  {
                      $array1.= '<div class="item col-xs-12">
                      <a href="'.$_sub_category->getURL().'" >
                      <img src="'.$cat_img_url_left.'" alt="'.$_sub_category->getName().'"></a>
                      <a href="'.$_sub_category->getURL().'" ><h4>'.$_sub_category->getName() . '</h4></a></div>';
                  } 
            }
           
          $array1.='</div></div></div>';
        }
      
    }
    $i1++;
  }
  //echo $array1;
  return $array1;
}

$left_category_id=  9;
$desk_arr1=array();
foreach (getChildrenCollection2($left_category_id) as $child) {
  $category = Mage::getModel('catalog/category')->load($child->getId());
        if($category->getName()=='Occasion'){
            $desk_arr1[0]=$category->getId();
        }
        if($category->getName()=='Recipient'){
            $desk_arr1[1]=$category->getId();
        }
         if($category->getName()=='Category'){
            $desk_arr1[2]=$category->getId();
        }
         if($category->getName()=='Cakes/Chocolates'){
            $desk_arr1[3]=$category->getId();
        }
         if($category->getName()=='Flowers'){
            $desk_arr1[4]=$category->getId();
        }
         if($category->getName()=='Luxury Gifts'){
            $desk_arr1[5]=$category->getId();
        }
         if($category->getName()=='Personalized'){
            $desk_arr1[6]=$category->getId();
        }
         if($category->getName()=='Souvenirs/Party Favours'){
            $desk_arr1[7]=$category->getId();
        }
        if($category->getName()=='Corporate Gifts'){
            $desk_arr1[8]=$category->getId();
        }
}
ksort($desk_arr1);
$subcats1=implode(',',$desk_arr1);

echo left_sub_menu($subcats1);

function getChildrenCollection2($parentId=false, $sort='ASC', $attribute='name') 
{
  if (empty($parentId) || !is_numeric($parentId)) return false;
  $childrenArray = explode(',',Mage::getModel('catalog/category')->load($parentId)->getChildren());
  // remove parent id from array in case it gets returned
  if ($key = array_search($parentId, $childrenArray)) {
    unset($childrenArray[$key]);
  } 
  $collection = Mage::getModel('catalog/category')->getCollection()
    ->addAttributeToFilter('entity_id', array('in' => $childrenArray))
    ->addAttributeToSelect('*');

  if (!empty($sort)) {
    return $collection->setOrder($attribute, $sort);
  }
  return $collection;           
}
?>