<?php
/**
 * Vincent Enjalbert
 *
 * Version Française :
 * *****************************************************************************
 *
 * Notification de la Licence
 *
 * Ce fichier source est sujet au CLUF
 * qui est fourni avec ce module dans le fichier LICENSE-FR.txt.
 * Il est également disponible sur le web à l'adresse suivante:
 * http://www.enjalbert.net/licences/magento/LICENSE-FR.txt
 *
 * =============================================================================
 *        NOTIFICATION SUR L'UTILISATION DE L'EDITION MAGENTO
 * =============================================================================
 * Ce module est conçu pour l'édition COMMUNITY de Magento
 * WebCooking ne garantit pas le fonctionnement correct de cette extension
 * sur une autre édition de Magento excepté l'édition COMMUNITY de Magento.
 * WebCooking ne fournit pas de support d'extension en cas
 * d'utilisation incorrecte de l'édition.
 * =============================================================================
 *
 * English Version :
 * *****************************************************************************
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-EN.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 *
 * =============================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =============================================================================
 * This package designed for Magento COMMUNITY edition
 * WebCooking does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * WebCooking does not provide extension support in case of
 * incorrect edition usage.
 * =============================================================================
 *
 * @category   Webcooking
 * @package    Webcooking_SimpleBundle
 * @copyright  Copyright (c) 2011-2015 Vincent René Lucien Enjalbert
 * @license    http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 */
?>
<div class="sb-popup-wrapper">
    <div class="sb-popup-overlay" onclick="javascript:$(this).up('.sb-popup-wrapper').hide()"></div>
    <div class="sb-popup-container">
        <div class="sb-popup">
            <div class="products-header">
                <span id="products-header-notice"><?php echo $this->__('Some products of this bundle need configuration:') ?></span>
                <!--<span class="products-header-price">
                          <p class="simplebundle-info-prices"><span class="simplebundle-orig-price"><?php echo Mage::helper('core')->currency($this->getBundle()->getOriginalAmount()) ?></span> <span class="simplebundle-price"><?php echo Mage::helper('core')->currency($this->getBundle()->getAmount()) ?></span>  </p>
                          <p class="simplebundle-percent"><?php echo $this->__('%s%% discount', round($this->getBundle()->getDiscountAmount(),2)) ?><br /><span class="small"><?php echo $this->__('-%s buying this bundle', Mage::helper('core')->currency($this->getBundle()->getDiscountAmount())) ?></span></p>
                </span>-->

            </div>
            <div class="clear"></div>
            <ul>
                <?php echo $this->getProductInfosHtml() ?>
            </ul>
            <button id="sb-popup-addtocart" class='button btn-cart'><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    function resizeSbPopup() {
        $$('.sb-popup').each(function(elem){
            elem.up('.sb-popup-container').setStyle({height: '95%'});
            ulHeight = document.viewport.getHeight() * 80/100;
            $$('.sb-popup > ul').each(function(ulElem) {
                ulElem.setStyle({height: ulHeight + 'px'});
            });
        });
    }
    resizeSbPopup();
    Event.observe(window, "resize", resizeSbPopup);
    
    $('sb-popup-addtocart').observe('click', function() {
        formValidate = true;
        formsValues = [];
        $(this).up('.sb-popup').select('form').each(function(formElem) {
            formElem.select('.required-entry').each(function(inputElem) {
                if (!inputElem.getValue()) {
                    formValidate = false;
                    inputElem.addClassName('validation-failed');
                } else {
                    inputElem.removeClassName('validation-failed');
                }
            });
            formsValues.push(formElem.serialize());
            //console.log(formsValues);
        });

        if (formValidate) {
            new Ajax.Request(
            '<?php echo $this->getAddToCartViaPopupUrl($this->getBundle()) ?>',
                    {
                        method: 'post',
                        evalScripts: true,
                        parameters: {'sbdata[]': formsValues},
                        onSuccess: function() { 
                            window.location.href = '<?php echo Mage::helper('checkout/cart')->getCartUrl() ?>';
                        },
                    }
            );
        } else {
            $('products-header-notice').innerHTML = '<strong class="popup-error"><?php echo $this->__('There are still some option to configure:')?></strong>';
        }
    });
     //]]>
</script>