<?php
$_productCollection = Mage::getModel('catalog/product')->getCollection();
$_productCollection->addAttributeToSelect(array(
                                   '*'
                   ))
                   ->addFieldToFilter('visibility', array(
                               Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH,
                               Mage_Catalog_Model_Product_Visibility::VISIBILITY_IN_CATALOG
                   )) //showing just products visible in catalog or both search and catalog
                   ->addFinalPrice()
//                        ->addAttributeToSort('price', 'asc') //in case we would like to sort products by price
                   ->getSelect()
                   ->where('price_index.final_price < price_index.price')
//                        ->limit(30) //we can specify how many products we want to show on this page
//                        ->order(new Zend_Db_Expr('RAND()')) //in case we would like to sort products randomly
    ;

$totl_offer_count=$_productCollection->count();
$total_offer_pages = ceil($totl_offer_count/4)-1;

$_Special_productCollection = Mage::getModel('catalog/product')->getCollection();
$_Special_productCollection->addAttributeToSelect(array(
			       '*'
	       ))
	       ->addFieldToFilter('visibility', array(
			   Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH,
			   Mage_Catalog_Model_Product_Visibility::VISIBILITY_IN_CATALOG
	       )) //showing just products visible in catalog or both search and catalog
	       ->addFinalPrice()
	       ->getSelect()
	       ->where('price_index.final_price < price_index.price')->limit(4,0);

//Mage::getModel('review/review')->appendSummary($_productCollection);
 
//$_helper = $this->helper('catalog/output');


?>
<div class="listing_block_heading">
    <h2> <span><?php echo $this->__('OFFER') ?></span> <?php echo $this->__('Products') ?></h2>
</div>
<?php if(!$_Special_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="row" id="offer_list">
    <?php
    $offer=0;
	$attr_arr1=array();
    foreach ($_Special_productCollection as $_product):
	$attr_arr1=array();
	?>
    <div class="col-sm-6 col-md-3">
	<div class="list_pan img_cont">
	    <div class="pro_con">
	    <div class="product-box-con">
		<div class="product-box">
		    <div class="product-image">
		    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" >
		    <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(225,145);?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
		    </a>
		    </div>
		</div>
		
		<?php if(!$_product->isSaleable()): ?>
        <div class="bought"><span></span><span></span>OUT OF <br/>STOCK</div>
		<?php endif; ?>
		
                <?php
                    $save=0;
                    $save=$_product->getPrice()-$_product->getSpecialPrice();
                ?>
                <div class="save"><?php echo $this->__('SAVE') ?> <span><?php echo Mage::helper('core')->currency($save,true,false); ?></span></div>
	    </div>
	    <div class="listing_content text-center">
	    <h4><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" ><?php echo $_product->getName() ?></a></h4>
	    
		<?php $product_dtls = Mage::getModel('catalog/product')->load($_product->getId()); ?>
                            
                   <p>
			<?php if($product_dtls->getBrand()!=''){ ?>
		
				<?php
						$attr = $product_dtls->getResource()->getAttribute("brand");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getBrand());
				?>

		<?php } ?>
		
		<?php if($product_dtls->getMake()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("make");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getMake());
				?>
		
		<?php } ?>
		
		<?php if($product_dtls->getModel()!=''){ ?>
		
				<?php
						$attr_arr1[] = $product_dtls->getModel();
				?>
	
		<?php } ?>
		
		<?php if($product_dtls->getProcessor()!=''){ ?>
		
				<?php
						$attr = $product_dtls->getResource()->getAttribute("processor");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getProcessor());
				?>
		
		<?php } ?>
		
		<?php if($product_dtls->getInstalledMemoryRam()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("installed_memory_ram");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getInstalledMemoryRam());
				?>
	
		<?php } ?>
		
		<?php if($product_dtls->getDisplaySizeDiagonal()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("display_size_diagonal");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getDisplaySizeDiagonal());
				?>
		
		<?php } ?>
		
		<?php if($product_dtls->getOperatingsystem()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("operatingsystem");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getOperatingsystem());
				?>
	
		<?php } ?>
		
		<?php if($product_dtls->getHarddrivesize()!=''){ ?>

				<?php
						$attr = $product_dtls->getResource()->getAttribute("harddrivesize");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getHarddrivesize());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getLaptopBagSize()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("laptop_bag_size");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getLaptopBagSize());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getColour()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("colour");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getColour());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getDisplaySize()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("display_size");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getDisplaySize());
				?>
				
		<?php } ?>
		
		<?php if($product_dtls->getCamera()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("camera");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getCamera());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getInternalStorage()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("internal_storage");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getInternalStorage());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getColourOrMono()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("colour_or_mono");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getColourOrMono());
				?>	

		<?php } ?>
		
		<?php if($product_dtls->getMaxPrintSpeed()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("max_print_speed");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getMaxPrintSpeed());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getWiredNetwork()!=''){ ?>
		
				<?php
						$attr = $product_dtls->getResource()->getAttribute("wired_network");
                        $is_wired=$attr->getSource()->getOptionText($product_dtls->getWiredNetwork());
                        if($is_wired=='Yes'){
                            $attr_arr1[] = 'Wired Network';
                        }
				?>	
		
		<?php } ?>
		
		<?php if($product_dtls->getWirelssNetwork()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("wirelss_network");
                        $is_wireless=$attr->getSource()->getOptionText($product_dtls->getWirelssNetwork());
                        if($is_wireless=='Yes'){
                            $attr_arr1[] = 'Wireless Network';
                        }
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getDisplaySizeDiagonal()!=''){ ?>
		
				<?php
						$attr = $product_dtls->getResource()->getAttribute("display_size_diagonal");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getDisplaySizeDiagonal());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getResolution()!=''){ ?>
		
				<?php
						$attr = $product_dtls->getResource()->getAttribute("resolution");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getResolution());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getAspectRatio()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("aspect_ratio");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getAspectRatio());
				?>	
		
		<?php } ?>
		
		<?php
				if(!empty($attr_arr1)):
				echo implode(' | ',$attr_arr1);
				endif;
		?>
		</p>
		<p class="price_listing pull-left">
                <?php
				// Get the Special Price
				$specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice(); 
				// Get the Special Price FROM date
				$specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
				// Get the Special Price TO date
				$specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
				// Get Current date
				$today =  time();
				
				$store = Mage::app()->getStore('default');
				$taxCalculation = Mage::getModel('tax/calculation');
				$request = $taxCalculation->getRateRequest(null, null, null, $store);
				$taxClassId = $_product->getTaxClassId();
				$percent = $taxCalculation->getRate($request->setProductClassId($taxClassId));
				
				if ($specialprice)
				{
					if($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate))
					{
						$taxprice=$_product->getSpecialPrice()*($percent/100);
							
						$inc_tax_price=$_product->getSpecialPrice()+$taxprice;
						
						$taxprice2=$_product->getPrice()*($percent/100);
					
						$inc_tax_price2=$_product->getPrice()+$taxprice2;
		    ?>
		    <span><?php echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price2,true,false); ?></span>
		   
		    <?php echo $_formattedSpecialPrice = Mage::helper('core')->currency($inc_tax_price,true,false); ?>
		    <?php
					}
					else
					{
						$taxprice=$_product->getPrice()*($percent/100);
					
						$inc_tax_price=$_product->getPrice()+$taxprice;
						
						echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price,true,false);
					}
				}
				else
				{
					$taxprice=$_product->getPrice()*($percent/100);
					
					$inc_tax_price=$_product->getPrice()+$taxprice;
					
					echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price,true,false);
				}
			?>
	    </p>
	    </div>
            <?php /*?>
            <div class="pro-overlay">
                  <div class="iconset pro-overlay-iconset">
		    <a class="icon" href="<?php echo $this->getAddToCartUrl($_product) ?>"><span><img src="<?php echo  $this->getSkinUrl('images/cart.png') ?>" alt=""></span></a>
		    <?php if ($this->helper('wishlist')->isAllow()) : ?>
		    <a class="icon" href="<?php echo $this->getAddToWishlistUrl($_product) ?>"><span><img src="<?php echo  $this->getSkinUrl('images/like.png') ?>" alt=""></span></a>
		    <?php endif; ?>
                    <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
		    <a class="icon" href="<?php echo $_compareUrl ?>"><span><img src="<?php echo  $this->getSkinUrl('images/compare.png') ?>" alt=""></span></a>
		     <?php endif; ?>
		  </div>
            </div>
            <?php */?>
	</div>
    </div>
    </div>
    <?php endforeach; ?>
</div>
    
<?php
if($totl_offer_count > 4)
{
?>
<div class="animation_image2" style="display: none;">
    <img alt="" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
</div>
<div class="more_heading load_more2" id="mr_ld">
    <a href="javascript:void(0)" class="lod_offer_prd">
    <h2><span class="more"><?php echo $this->__('MORE') ?></span></h2>
    </a>
</div>
<?php } ?>
<?php endif; ?>

<script>
    jQuery(document).ready(function()
    {
	var track_click = 1;
	var total_pages = '<?php echo $total_offer_pages; ?>';
	
	jQuery(".load_more2").click(function (e) {
	    if(track_click <= total_pages) //make sure user clicks are still less than total pages
	    {
		    jQuery(this).hide(); //hide load more button on click
		    jQuery('.animation_image2').show(); //show loading image
		    new Ajax.Request("<?php echo Mage::getBaseUrl();?>ak/index/offerprodlist",
			    {
				method: "post",
				parameters: {
				    start : track_click
				},
				onSuccess: function( transport )
				{
				    var da = transport.responseText;
				    
				    jQuery(".load_more2").show();
				    jQuery("#offer_list").append(da); //append data received from server  
				    jQuery('.animation_image2').hide();
				    track_click++;
				}
			    }); 
		    if(track_click >= total_pages)
		    {
			jQuery('.load_more2').hide();
			jQuery('.lod_offer_prd').hide();
		    }
	     }
	    });
    });
</script>