<?php

/**
 * Vincent Enjalbert
 *
 * Version Française :
 * *****************************************************************************
 *
 * Notification de la Licence
 *
 * Ce fichier source est sujet au CLUF
 * qui est fourni avec ce module dans le fichier LICENSE-FR.txt.
 * Il est également disponible sur le web à l'adresse suivante:
 * http://www.enjalbert.net/licences/magento/LICENSE-FR.txt
 *
 * =============================================================================
 *        NOTIFICATION SUR L'UTILISATION DE L'EDITION MAGENTO
 * =============================================================================
 * Ce module est conçu pour l'édition COMMUNITY de Magento
 * WebCooking ne garantit pas le fonctionnement correct de cette extension
 * sur une autre édition de Magento excepté l'édition COMMUNITY de Magento.
 * WebCooking ne fournit pas de support d'extension en cas
 * d'utilisation incorrecte de l'édition.
 * =============================================================================
 *
 * English Version :
 * *****************************************************************************
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-EN.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 *
 * =============================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =============================================================================
 * This package designed for Magento COMMUNITY edition
 * WebCooking does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * WebCooking does not provide extension support in case of
 * incorrect edition usage.
 * =============================================================================
 *
 * @category   Webcooking
 * @package    Webcooking_SimpleBundle
 * @copyright  Copyright (c) 2011-2015 Vincent René Lucien Enjalbert
 * @license    http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 */
?>
<?php if($this->getBundles()->count() > 0): ?>
<div  id="product-list-simple-bundles">

<ul>
<?php foreach($this->getBundles() as $bundle): ?>
    <?php $_selections = $bundle->getSelections() ?>
    <li class="simplebundle">
        
        
        
        
        <div class="simplebundle-selection">
            
                    <?php if($_selections->getSize()<=0): ?>
                        <?php for($i=0; $i < intval($bundle->getBaseQty()); $i++): ?>
                            <?php if($i != 0): ?><div class="simplebundle-plus">+</div><?php endif; ?>
                            <div class="simplebundle-selection-item">
                                <div class="simplebundle-pic">
                                   <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'small_image')->resize(38); ?>" width="38" height="38" alt="<?php echo $this->stripTags($this->getImageLabel($this->getProduct(), 'small_image'), null, true) ?>" />
                                </div>
                            </div>
                        <?php endfor; ?>
                    <?php else: ?>
                            <div class="simplebundle-selection-item">
                                <div class="simplebundle-pic">
                                    <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'small_image')->resize(38); ?>" width="38" height="38" alt="<?php echo $this->stripTags($this->getImageLabel($this->getProduct(), 'small_image'), null, true) ?>" />
                                    <div class="simplebundle-pic-qty">X<?php echo $bundle->getBaseQty() ?></div>
                                </div>
                            </div>
                    <?php endif; ?>
              
            <?php foreach($_selections as $_selection): ?>
                <div class="simplebundle-plus">+</div>
                
                <div class="simplebundle-selection-item">
                    <div class="simplebundle-pic">
                        <a href="<?php echo $_selection->getProduct()->getProductUrl() ?>" >
                            <img src="<?php echo $this->helper('catalog/image')->init($_selection->getProduct(), 'small_image')->resize(38); ?>" width="38" height="38" alt="<?php echo $this->stripTags($_selection->getName(), null, true) ?>" />
                            <div class="simplebundle-pic-qty">X<?php echo $_selection->getSelectionQty() ?></div>
                        </a>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="simplebundle-list-total">
            <p class="simplebundle-info-prices"><?php /*<span class="simplebundle-orig-price"><?php echo Mage::helper('core')->currency($bundle->getOriginalAmount()) ?></span> */?><span class="simplebundle-price"><?php echo Mage::helper('core')->currency($bundle->getAmount()) ?></span>  </p>
            <?php /*if($bundle->getDiscountPercentageValue() > 0): ?>
                <p class="simplebundle-percent">
                    <?php echo $this->__('%s%% discount', round($bundle->getDiscountPercentageValue(),2)) ?>
                    <?php if($bundle->getExcludeBaseProductFromDiscount() && !$bundle->getUsedLowerPrice()): ?>
                        <?php echo $this->__('on accessories') ?>
                    <?php endif ?>
                    <br />
                    <span class="small"><?php echo $this->__('-%s buying this bundle', Mage::helper('core')->currency($bundle->getDiscountAmountValue(false, true))) ?></span>
                </p>
            <?php endif;*/ ?>
            
        
        </div>
        <br/>
        
        
        
        <div style="clear:left;"></div>
        
        
    </li>
<?php endforeach; ?>
</ul>



<script type="text/javascript">
    
function openPopup(url) {
    new Ajax.Updater(
        {success: 'sb_popup'},
        url,
            {
                method: 'post',
                evalScripts: true,
                parameters: {}
            }
        );
}
    
<?php
//Since we use popup to manage options, we do not need to update price here anymore
/*
function updateSbPrices() {
    priceRequest = '';
    $$('.super-attribute-select').each(function(superAttributeElem){
          name = superAttributeElem.getAttribute('name');
          name = name.replace(/^[^0-9]*([0-9]+)[^0-9]*$/, '$1');
          value = superAttributeElem.getValue();
          options = spConfig.config.attributes[name].options;
          for(var i=0; i<options.length; i++) {
              option = options[i];
              if(option.id == value && option.price>0) {
                  priceRequest += option.price + '-fixed;';
              }
          }
      });
      $$('.product-custom-option').each(function(optionElem){
          name = optionElem.getAttribute('name');
          name = name.replace(/^[^0-9]*([0-9]+)[^0-9]*$/, '$1');
          value = optionElem.getValue();
          option = opConfig.config[name];
          if(option.price && value) {
              priceInfo = option;
          } else {
            priceInfo = option[value];
          }
          if(priceInfo) {
            priceRequest += priceInfo.price + '-' + priceInfo.type + ';';
          }
      });
      
      new Ajax.Updater(
        {success: 'product-simple-bundles'},
        '<?php echo $this->getUpdatePricesUrl() ?>',
                {
                    method: 'post',
                    evalScripts: true,
                    parameters: {optionPrice: priceRequest, productId: '<?php echo $this->getProduct()->getId() ?>'}
                }
        );
      
}
    
$$('body .product-custom-option').each(function(element){
   Event.stopObserving(element, 'change', updateSbPrices);
   Event.observe(element, 'change', updateSbPrices);
});

$$('body .super-attribute-select').each(function(element){
   Event.stopObserving(element, 'change', updateSbPrices);
   Event.observe(element, 'change', updateSbPrices);
});

*/?>

</script>
</div>

<?php endif; ?>