<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<?php if (!$this->getRequest()->isAjax()): ?>
<div id="ajax-errors" style="display: none;">
    <ul class="messages">
        <li class="error-msg">
            <ul>
                <li><span><?php echo $this->__('An error occurred, please try again later.'); ?></span></li>
            </ul>
        </li>
    </ul>
</div>
<div id="loading" class="please-wait" style="display: none;">
    <img alt="" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
</div>
<div id="catalog-listing">
<?php endif; ?>
 <?php echo $this->getToolbarHtml() ?>
    <div class="products-list">
        <?php // List mode ?>
        <?php if($this->getMode()!='grid'): ?>
            <?php $_iterator = 0; ?>
            <div class="list-page">
            <ul id="products-list">
                <?php foreach ($_productCollection as $_product): ?>
                    <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
                        <?php // Product Image ?>
                         <div id="product-image-hov" class="product-image" >
                            <div class="productlist-box-con">
                                <div class="productlist-box">
                                    <div class="productlist-image">
                                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                            <?php /* Based on the native RWD styling, product images are displayed at a max of ~400px wide when viewed on a
                                        one column page layout with four product columns from a 1280px viewport. For bandwidth reasons,
                                        we are going to serve a 300px image, as it will look fine at 400px and most of the times, the image
                                        will be displayed at a smaller size (eg, if two column are being used or viewport is smaller than 1280px).
                                        This $_imgSize value could even be decreased further, based on the page layout
                                        (one column, two column, three column) and number of product columns. */ ?>
                                            <?php $_imgSize = 225; ?>
                                            <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(true)->resize($_imgSize,143); ?>"
                                                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <?php
                            /*
                            $heavy_weight = Mage::getModel('catalog/product')->load($_product->getId())->getHeavyWeight();
                            if($heavy_weight!=1)
                            {
                            ?>
                            <div class="hover-overlay">
                                <div class="iconset">
                                    <?php if($_product->isSaleable() && !$_product->canConfigure()): ?>
                                    <a class="icon" href="<?php echo $this->getAddToCartUrl($_product) ?>"><span><img src="<?php echo  $this->getSkinUrl('images/cart.png') ?>" alt=""></span></a>
                                    <?php /*elseif($_product->isSaleable()): ?>
                                    <p class="action"><a title="<?php echo $this->__('View Details') ?>" class="button" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a></p>
                                    <?php else: ?>
                                        <p class="action availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                    <?php */ /* endif; ?>
                                  <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                  <a class="icon" href="<?php echo $this->getAddToWishlistUrl($_product) ?>"><span><img src="<?php echo  $this->getSkinUrl('images/like.png') ?>" alt=""></span></a>
                                  <?php endif; ?>
                                  <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                  <a class="icon" href="<?php echo $_compareUrl ?>"><span><img src="<?php echo  $this->getSkinUrl('images/compare.png') ?>" alt=""></span></a>
                                   <?php endif; ?>
                                </div>
                            </div>
                            <?php } */?>
                         </div>
                        <?php // Product description ?>
                        <div class="product-shop">
                                <div class="product-primary">
                                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                                    <div class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></div>
                                    <?php //if($_product->getRatingSummary()): ?>
                                        <?php //echo $this->getReviewsSummaryHtml($_product) ?>
                                    <?php //endif; ?>

                                    <?php
                                    $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                    foreach($_nameAfterChildren as $_nameAfterChildName):
                                        $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                        $_nameAfterChild->setProduct($_product);
                                        ?>
                                        <?php //echo $_nameAfterChild->toHtml(); ?>
                                    <?php endforeach; ?>
                                </div>
                                <div class="product-secondary">
                                    <div class="product-des">
                                        <p><?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?></p>
                                    </div>
                                </div>
                        </div>
                        
                        <div class="product-price">
                            
                            <?php
                                $heavy_weight = Mage::getModel('catalog/product')->load($_product->getId())->getHeavyWeight();
                                if($heavy_weight==1)
                                {
                                ?>
                                
                                <div class="direct_sell">
                                    <img src="<?php echo $this->getSkinUrl('images/direct-sell_small.png', array('_secure'=>true)); ?>" alt="">
                                </div>
                                <?php } else { ?>
                            
                            <p class="price_listing pull-left">
                               <?php
                                    // Get the Special Price
                                    $specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice(); 
                                    // Get the Special Price FROM date
                                    $specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
                                    // Get the Special Price TO date
                                    $specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
                                    // Get Current date
                                    $today =  time();
                                    
                                    $store = Mage::app()->getStore('default');
                                    $taxCalculation = Mage::getModel('tax/calculation');
                                    $request = $taxCalculation->getRateRequest(null, null, null, $store);
                                    $taxClassId = $_product->getTaxClassId();
                                    $percent = $taxCalculation->getRate($request->setProductClassId($taxClassId));
                                    
                                    if ($specialprice)
                                    {
                                        if($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate))
                                        {
                                            $taxprice=$_product->getSpecialPrice()*($percent/100);
                                                
                                            $inc_tax_price=$_product->getSpecialPrice()+$taxprice;
                                            
                                            $taxprice2=$_product->getPrice()*($percent/100);
                                        
                                            $inc_tax_price2=$_product->getPrice()+$taxprice2;
                                ?>
                                <span><?php echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price2,true,false); ?></span>
                               
                                <?php echo $_formattedSpecialPrice = Mage::helper('core')->currency($inc_tax_price,true,false); ?>
                                <?php
                                        }
                                        else
                                        {
                                            $taxprice=$_product->getPrice()*($percent/100);
                                        
                                            $inc_tax_price=$_product->getPrice()+$taxprice;
                                            
                                            echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price,true,false);
                                        }
                                    }
                                    else
                                    {
                                        $taxprice=$_product->getPrice()*($percent/100);
                                        
                                        $inc_tax_price=$_product->getPrice()+$taxprice;
                                        
                                        echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price,true,false);
                                    }
                                ?>
                            </p>
                            <p class="delivery-txt">
                                <?php $attributeValue = Mage::getModel('catalog/product')->load($_product->getId())->getProductShip(); ?>
                                
                            <?php if($attributeValue==1){ ?><?php echo $this->__('Free Delivery') ?><?php } ?></p>
                            <?php } ?>
                            <div class="view-btn">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="btn"><?php echo $this->__('View Details') ?></a>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ul>
            <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
            </div>
        <?php else: ?>

        <?php // Grid Mode
        $attr_arr1=array();
        
        ?>

        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount(); ?>
            <div class="grid_list">
                <?php $i=0; foreach ($_productCollection as $_product): ?>
                
                <?php $attr_arr1=array(); ?>
                    <?php /*if ($i++%$_columnCount==0): ?>
            <?php endif*/ ?>
                <div class="col-sm-6 col-md-4">
                    <div class="list_pan img_cont">
                        <div class="pro_con">
                        <div class="product-box-con">
                            <?php if(!$_product->isSaleable()): ?>
                            <div class="bought"><span></span><?php echo $this->__('OUT OF STOCK');?></div>
                            <?php endif; ?>
                            <div class="product-box">
                                <div class="product-image">
                                     <?php $_imgSize = 225; ?>
                                <a href="<?php echo $_product->getProductUrl() ?>">
                                <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(true)->resize($_imgSize,145); ?>"
                                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                </a>
                                </div>
                            </div>
                        </div>
                        <div class="listing_content text-center">
                            <h4><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $_product->getName() ?></a></h4>
                            
                            <?php $product_dtls = Mage::getModel('catalog/product')->load($_product->getId()); ?>
                         	<p>   
                            <p>
			<?php if($product_dtls->getBrand()!=''){ ?>
		
				<?php
						$attr = $product_dtls->getResource()->getAttribute("brand");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getBrand());
				?>

		<?php } ?>
		
		<?php if($product_dtls->getMake()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("make");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getMake());
				?>
		
		<?php } ?>
		
		<?php if($product_dtls->getModel()!=''){ ?>
		
				<?php
						$attr_arr1[] = $product_dtls->getModel();
				?>
	
		<?php } ?>
		
		<?php if($product_dtls->getProcessor()!=''){ ?>
		
				<?php
						$attr = $product_dtls->getResource()->getAttribute("processor");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getProcessor());
				?>
		
		<?php } ?>
		
		<?php if($product_dtls->getInstalledMemoryRam()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("installed_memory_ram");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getInstalledMemoryRam());
				?>
	
		<?php } ?>
		
		<?php if($product_dtls->getDisplaySizeDiagonal()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("display_size_diagonal");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getDisplaySizeDiagonal());
				?>
		
		<?php } ?>
		
		<?php if($product_dtls->getOperatingsystem()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("operatingsystem");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getOperatingsystem());
				?>
	
		<?php } ?>
		
		<?php if($product_dtls->getHarddrivesize()!=''){ ?>

				<?php
						$attr = $product_dtls->getResource()->getAttribute("harddrivesize");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getHarddrivesize());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getLaptopBagSize()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("laptop_bag_size");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getLaptopBagSize());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getColour()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("colour");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getColour());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getDisplaySize()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("display_size");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getDisplaySize());
				?>
				
		<?php } ?>
		
		<?php if($product_dtls->getCamera()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("camera");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getCamera());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getInternalStorage()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("internal_storage");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getInternalStorage());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getColourOrMono()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("colour_or_mono");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getColourOrMono());
				?>	

		<?php } ?>
		
		<?php if($product_dtls->getMaxPrintSpeed()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("max_print_speed");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getMaxPrintSpeed());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getWiredNetwork()!=''){ ?>
		
				<?php
						$attr = $product_dtls->getResource()->getAttribute("wired_network");
                        $is_wired=$attr->getSource()->getOptionText($product_dtls->getWiredNetwork());
                        if($is_wired=='Yes'){
                            $attr_arr1[] = 'Wired Network';
                        }
						
				?>	
		
		<?php } ?>
		
		<?php if($product_dtls->getWirelssNetwork()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("wirelss_network");
                        $is_wireless=$attr->getSource()->getOptionText($product_dtls->getWirelssNetwork());
                        if($is_wireless=='Yes'){
                            $attr_arr1[] = 'Wireless Network';
                        }
						
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getDisplaySizeDiagonal()!=''){ ?>
		
				<?php
						$attr = $product_dtls->getResource()->getAttribute("display_size_diagonal");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getDisplaySizeDiagonal());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getResolution()!=''){ ?>
		
				<?php
						$attr = $product_dtls->getResource()->getAttribute("resolution");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getResolution());
				?>	
	
		<?php } ?>
		
		<?php if($product_dtls->getAspectRatio()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("aspect_ratio");
						$attr_arr1[] = $attr->getSource()->getOptionText($product_dtls->getAspectRatio());
				?>	
		
		<?php } ?>
		
		<?php
				if(!empty($attr_arr1)):
				echo implode(' | ',$attr_arr1);
				endif;
		?>
		</p>            
                                <?php
                                $heavy_weight = Mage::getModel('catalog/product')->load($_product->getId())->getHeavyWeight();
                                if($heavy_weight==1)
                                {
                                ?>
                                
                                <div class="direct_sell">
                                    <img src="<?php echo $this->getSkinUrl('images/direct-sell_small.png', array('_secure'=>true)); ?>" alt="">
                                </div>
                                <?php } else { ?>
                                <p class="price_listing pull-left">
                                <?php
                                    // Get the Special Price
                                    $specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice(); 
                                    // Get the Special Price FROM date
                                    $specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
                                    // Get the Special Price TO date
                                    $specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
                                    // Get Current date
                                    $today =  time();
                                    
                                    $store = Mage::app()->getStore('default');
                                    $taxCalculation = Mage::getModel('tax/calculation');
                                    $request = $taxCalculation->getRateRequest(null, null, null, $store);
                                    $taxClassId = $_product->getTaxClassId();
                                    $percent = $taxCalculation->getRate($request->setProductClassId($taxClassId));
                                    
                                    if ($specialprice)
                                    {
                                        if($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate))
                                        {
                                            $taxprice=$_product->getSpecialPrice()*($percent/100);
                                                
                                            $inc_tax_price=$_product->getSpecialPrice()+$taxprice;
                                            
                                            $taxprice2=$_product->getPrice()*($percent/100);
                                        
                                            $inc_tax_price2=$_product->getPrice()+$taxprice2;
                                ?>
                                <span><?php echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price2,true,false); ?></span>
                               
                                <?php echo $_formattedSpecialPrice = Mage::helper('core')->currency($inc_tax_price,true,false); ?>
                                <?php
                                        }
                                        else
                                        {
                                            $taxprice=$_product->getPrice()*($percent/100);
                                        
                                            $inc_tax_price=$_product->getPrice()+$taxprice;
                                            
                                            echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price,true,false);
                                        }
                                    }
                                    else
                                    {
                                        $taxprice=$_product->getPrice()*($percent/100);
                                        
                                        $inc_tax_price=$_product->getPrice()+$taxprice;
                                        
                                        echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price,true,false);
                                    }
                                ?>
                                </p>
                                <?php } ?>
                            
                        </div>
                        <?php
                           // $heavy_weight = Mage::getModel('catalog/product')->load($_product->getId())->getHeavyWeight();
                            if($heavy_weight!=1)
                            {
                            ?>
                        <div class="pro-overlay">
                              <div class="iconset pro-overlay-iconset">
                                <?php /*if($_product->isSaleable() && !$_product->canConfigure()): ?>
                                <a class="icon" href="<?php echo $this->getAddToCartUrl($_product) ?>" title="Add To Cart"><span><img src="<?php echo  $this->getSkinUrl('images/cart.png') ?>" alt="Add To Cart"></span></a>
                                <?php /*elseif($_product->isSaleable()): ?>
                                    <a title="<?php echo $this->__('View Details') ?>" class="button" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>
                                <?php else: ?>
                                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                <?php  endif;*/ ?>
                                <a class="icon" href="<?php echo $this->getAddToCartUrl($_product) ?>" title="Add To Cart"><span><img src="<?php echo  $this->getSkinUrl('images/cart.png') ?>" alt="Add To Cart"></span></a>
                                
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <a class="icon addwishlist" href="<?php echo $this->getAddToWishlistUrl($_product) ?>" title="Add To Wishlist"><span><img src="<?php echo  $this->getSkinUrl('images/like.png') ?>" alt="Add To Wishlist" ></span></a>
                                <?php endif; ?>
                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                <a class="icon" href="<?php echo $_compareUrl ?>" title="Add To Compare"><span><img src="<?php echo  $this->getSkinUrl('images/compare.png') ?>" class="cm" alt="Add To Compare" ></span></a>
                                 <?php endif; ?>
                              </div>
                        </div>
                        <?php } ?>
                    </div>
                </div>
                </div>
                                <?php /*if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
            <?php endif*/ ?>
                <?php endforeach ?>
            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
        <?php endif; ?>
            </div>
        <div class="toolbar-bottom">
            <?php echo $this->getToolbarHtml() ?>
        </div>
    </div>
<?php if (!$this->getRequest()->isAjax()): ?>
</div>
<?php endif; ?>
<?php endif; ?>

<?php
//set product collection on after blocks
$_afterChildren = $this->getChild('after')->getSortedChildren();
foreach($_afterChildren as $_afterChildName):
    $_afterChild = $this->getChild('after')->getChild($_afterChildName);
    $_afterChild->setProductCollection($_productCollection);
    ?>
    <?php echo $_afterChild->toHtml(); ?>
<?php endforeach; ?>

<script type="text/javascript">
    //<![CDATA[
    <?php if ($this->helper('catalin_seo')->isAjaxEnabled()): ?>
    CatalinSeoHandler.isAjaxEnabled = true;
    <?php endif; ?>
    CatalinSeoHandler.bindListeners();
    //]]>
</script>