<?php
/**
 * Vincent Enjalbert
 *
 * Version Française :
 * *****************************************************************************
 *
 * Notification de la Licence
 *
 * Ce fichier source est sujet au CLUF
 * qui est fourni avec ce module dans le fichier LICENSE-FR.txt.
 * Il est également disponible sur le web à l'adresse suivante:
 * http://www.enjalbert.net/licences/magento/LICENSE-FR.txt
 *
 * =============================================================================
 *        NOTIFICATION SUR L'UTILISATION DE L'EDITION MAGENTO
 * =============================================================================
 * Ce module est conçu pour l'édition COMMUNITY de Magento
 * WebCooking ne garantit pas le fonctionnement correct de cette extension
 * sur une autre édition de Magento excepté l'édition COMMUNITY de Magento.
 * WebCooking ne fournit pas de support d'extension en cas
 * d'utilisation incorrecte de l'édition.
 * =============================================================================
 *
 * English Version :
 * *****************************************************************************
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-EN.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 *
 * =============================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =============================================================================
 * This package designed for Magento COMMUNITY edition
 * WebCooking does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * WebCooking does not provide extension support in case of
 * incorrect edition usage.
 * =============================================================================
 *
 * @category   Webcooking
 * @package    Webcooking_SimpleBundle
 * @copyright  Copyright (c) 2011-2015 Vincent René Lucien Enjalbert
 * @license    http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 */
?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    //<![CDATA[
    Product.Config<?php echo $_product->getId() ?> = Class.create(Product.Config.prototype);
    //]]>
</script>
<?php if (Mage::helper('wcooall')->isModuleInstalled('Amasty_Conf') && $_product->getTypeId() == 'configurable') : ?>
    <script type="text/javascript">
        //<![CDATA[
    <?php //echo str_replace('Product.Config.prototype', 'Product.Config'.$_product->getId().'.prototype', file_get_contents($this->getSkinUrl('js/amasty/amconf/configurable.js')));  ?>
        Product.Config<?php echo $_product->getId() ?>.prototype.initialize = function (config) {
            this.config = config;
            this.taxConfig = this.config.taxConfig;
            if (config.containerId) {
                this.settings = $$('#' + config.containerId + ' ' + '.super-attribute-select');
            } else {
                this.settings = $$('.super-attribute-select');
            }
            this.state = new Hash();
            this.priceTemplate = new Template(this.config.template);
            this.prices = config.prices;

            // Set default values from config
            if (config.defaultValues) {
                this.values = config.defaultValues;
            }

            // Overwrite defaults by url
            var separatorIndex = window.location.href.indexOf('#');
            if (separatorIndex != -1) {
                var paramsStr = window.location.href.substr(separatorIndex + 1);
                var urlValues = paramsStr.toQueryParams();
                if (!this.values) {
                    this.values = {};
                }
                for (var i in urlValues) {
                    this.values[i] = urlValues[i];
                }
            }

            // Overwrite defaults by inputs values if needed
            if (config.inputsInitialized) {
                this.values = {};
                this.settings.each(function (element) {
                    if (element.value) {
                        var attributeId = element.id.replace(/[a-z]*/, '');
                        this.values[attributeId] = element.value;
                    }
                }.bind(this));
            }

            // Put events to check select reloads
            this.settings.each(function (element) {
                Event.observe(element, 'change', this.configure.bind(this))
            }.bind(this));

            // fill state
            this.settings.each(function (element) {
                var attributeId = element.id.replace(/[a-z]*/, '');
                if (attributeId && this.config.attributes[attributeId]) {
                    element.config = this.config.attributes[attributeId];
                    element.attributeId = attributeId;
                    this.state[attributeId] = false;
                }
            }.bind(this))

            // Init settings dropdown
            var childSettings = [];
            for (var i = this.settings.length - 1; i >= 0; i--) {
                var prevSetting = this.settings[i - 1] ? this.settings[i - 1] : false;
                var nextSetting = this.settings[i + 1] ? this.settings[i + 1] : false;
                if (i == 0) {
                    this.fillSelect(this.settings[i])
                } else {
                    this.settings[i].disabled = true;
                }
                $(this.settings[i]).childSettings = childSettings.clone();
                $(this.settings[i]).prevSetting = prevSetting;
                $(this.settings[i]).nextSetting = nextSetting;
                childSettings.push(this.settings[i]);
            }

            // Set values to inputs
            this.configureForValues();
            document.observe("dom:loaded", this.configureForValues.bind(this));
        };
        //]]>
    </script>
<?php endif; ?>


<li class="product-<?php echo $_product->getId() ?> sb-product <?php if ($this->getIsEven()): ?>sb-product-even<?php endif ?> <?php if (Mage::helper('simplebundle')->productNeedsConfiguration($_product)): ?>options-required<?php endif ?>" <?php if (!Mage::helper('simplebundle')->productNeedsConfiguration($_product) && !Mage::helper('simplebundle')->displayAllProductsInPopup()): ?>style="display:none;"<?php endif; ?>>
    <script type="text/javascript">
        //<![CDATA[
        var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
        var oplength = 0;
        for (var dummy in optionsPrice.containers) {
            optionsPrice.containers[oplength] = 'sb-' + optionsPrice.containers[oplength];
            oplength++;
        }
        //console.log('product-<?php echo $_product->getId() ?>');
        //console.log(optionsPrice.containers);


        //]]>
    </script>
    <form id="product_addtocart_form-<?php echo $_product->getId() ?>" enctype="multipart/form-data">
        <input type="hidden" name="qty" value="<?php echo $this->getSelectionQty() ?>" />
        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />

        <div class="product-left">

            <div class="product-image-name">
                <h1><?php echo $_product->getName(); ?></h1>
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(120); ?>" width="120" height="120" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" id="image-<?php echo $_product->getId() ?>" />
            </div>



            <?php echo $this->getChildHtml('extrahint') ?>

            <?php /* if (!$this->hasOptions()): ?>
              <div class="add-to-box">
              <?php //if ($_product->isSaleable()):  ?>
              <?php //echo $this->getChildHtml('addtocart') ?>
              <?php //endif; ?>
              </div>
              <?php echo $this->getChildHtml('extra_buttons') ?>
              <?php endif; */ ?>

        </div>


        <div class="product-right">
            <?php if ($_product->getTypeId() == 'bundle'): ?>
                <script type="text/javascript">
                    //<![CDATA[
    <?php echo file_get_contents($this->getSkinUrl('js/bundle.js')); ?>
                    //]]>
                </script>
            <?php endif; ?>

            <?php if ($_product->getTypeId() == 'configurable'): ?>
                <script type="text/javascript">
                    //<![CDATA[

    <?php if (Mage::helper('wcooall')->isModuleInstalled('OrganicInternet_SimpleConfigurableProducts')): ?>
                        Product.Config<?php echo $_product->getId() ?>.prototype.updateSpecialPriceDisplay = function (price, finalPrice) {

                            var prodForm = $('product_addtocart_form-<?php echo $_product->getId() ?>');

                            var specialPriceBox = prodForm.select('p.special-price');
                            var oldPricePriceBox = prodForm.select('p.old-price, p.was-old-price');
                            var magentopriceLabel = prodForm.select('span.price-label');

                            if (price == finalPrice) {
                                specialPriceBox.each(function (x) {
                                    x.hide();
                                });
                                magentopriceLabel.each(function (x) {
                                    x.hide();
                                });
                                oldPricePriceBox.each(function (x) {
                                    x.removeClassName('old-price');
                                    x.addClassName('was-old-price');
                                });
                            } else {
                                specialPriceBox.each(function (x) {
                                    x.show();
                                });
                                magentopriceLabel.each(function (x) {
                                    x.show();
                                });
                                oldPricePriceBox.each(function (x) {
                                    x.removeClassName('was-old-price');
                                    x.addClassName('old-price');
                                });
                            }
                        };




                        Product.Config<?php echo $_product->getId() ?>.prototype.addParentProductIdToCartForm = function (parentProductId) {
                            if (typeof $('product_addtocart_form-<?php echo $_product->getId() ?>').cpid != 'undefined') {
                                return; //don't create it if we have one..
                            }
                            var el = document.createElement("input");
                            el.type = "hidden";
                            el.name = "cpid";
                            el.value = parentProductId.toString();
                            $('product_addtocart_form-<?php echo $_product->getId() ?>').appendChild(el);
                        };


                        Product.Config<?php echo $_product->getId() ?>.prototype.updateFormProductId = function (productId) {
                            if (!productId) {
                                return false;
                            }
                            var currentAction = $('product_addtocart_form-<?php echo $_product->getId() ?>').action;
                            newcurrentAction = currentAction.sub(/product\/\d+\//, 'product/' + productId + '/');
                            $('product_addtocart_form-<?php echo $_product->getId() ?>').action = newcurrentAction;
                            $('product_addtocart_form-<?php echo $_product->getId() ?>').product.value = productId;
                        };



                        Product.Config<?php echo $_product->getId() ?>.prototype.showCustomOptionsBlock = function (productId, parentId) {
                            var coUrl;
                            if (this.config.ajaxBaseUrl.indexOf('?') > 0) {
                                var coURLtmp = this.config.ajaxBaseUrl.split('?', 2);
                                coUrl = coURLtmp[0] + "co/?id=" + productId + '&pid=' + parentId + '&' + coURLtmp[1];
                            } else {
                                coUrl = this.config.ajaxBaseUrl + "co/?id=" + productId + '&pid=' + parentId;
                            }
                            //var prodForm = $('product_addtocart_form-<?php echo $_product->getId() ?>')?$('product_addtocart_form-<?php echo $_product->getId() ?>'):$('product_addtocart_form');

                            if ($('SCPcustomOptionsDiv') == null) {
                                return;
                            }

                            Effect.Fade('SCPcustomOptionsDiv', {duration: 0.5, from: 1, to: 0.5});
                            if (productId) {
                                //Uncomment the line below if you want an ajax loader to appear while any custom
                                //options are being loaded.
                                $$('span.scp-please-wait').each(function (el) {
                                    el.show()
                                });

                                //prodForm.getElements().each(function(el) {el.disable()});
                                new Ajax.Updater('SCPcustomOptionsDiv', coUrl, {
                                    method: 'get',
                                    evalScripts: true,
                                    onComplete: function () {
                                        $$('span.scp-please-wait').each(function (el) {
                                            el.hide()
                                        });
                                        Effect.Fade('SCPcustomOptionsDiv', {duration: 0.5, from: 0.5, to: 1});
                                        //prodForm.getElements().each(function(el) {el.enable()});
                                    }
                                });
                            } else {
                                $('SCPcustomOptionsDiv').innerHTML = '';
                                window.opConfig = new Product.Options([]);
                            }
                        };
    <?php endif; ?>

                    Product.Config<?php echo $_product->getId() ?>.prototype.reloadPrice = function () {

    <?php if (Mage::helper('wcooall')->isModuleInstalled('OrganicInternet_SimpleConfigurableProducts')) : ?>
                            var childProductId = this.getMatchingSimpleProduct();
                            var childProducts = this.config.childProducts;
                            var usingZoomer = false;
                            if (this.config.imageZoomer) {
                                usingZoomer = true;
                            }

                            if (childProductId) {
                                var price = childProducts[childProductId]["price"];
                                var finalPrice = childProducts[childProductId]["finalPrice"];
                                optionsPrice.productPrice = finalPrice;
                                optionsPrice.productOldPrice = price;
                                optionsPrice.reload();
                                optionsPrice.reloadPriceLabels(true);
                                optionsPrice.updateSpecialPriceDisplay(price, finalPrice);
                                this.updateProductShortDescription(childProductId);
                                this.updateProductDescription(childProductId);
                                this.updateProductName(childProductId);
                                this.updateProductAttributes(childProductId);
                                this.updateFormProductId(childProductId);
                                this.addParentProductIdToCartForm(this.config.productId);
                                this.showCustomOptionsBlock(childProductId, this.config.productId);
                                if (usingZoomer) {
                                    this.showFullImageDiv(childProductId, this.config.productId);
                                } else {
                                    this.updateProductImage(childProductId);
                                }

                            } else {
                                var cheapestPid = this.getProductIdOfCheapestProductInScope("finalPrice");
                                //var mostExpensivePid = this.getProductIdOfMostExpensiveProductInScope("finalPrice");
                                var price = childProducts[cheapestPid]["price"];
                                var finalPrice = childProducts[cheapestPid]["finalPrice"];
                                optionsPrice.productPrice = finalPrice;
                                optionsPrice.productOldPrice = price;
                                optionsPrice.reload();
                                optionsPrice.reloadPriceLabels(false);
                                optionsPrice.updateSpecialPriceDisplay(price, finalPrice);
                                this.updateProductShortDescription(false);
                                this.updateProductDescription(false);
                                this.updateProductName(false);
                                this.updateProductAttributes(false);
                                this.showCustomOptionsBlock(false, false);
                                if (usingZoomer) {
                                    this.showFullImageDiv(false, false);
                                } else {
                                    this.updateProductImage(false);
                                }
                            }

    <?php else : ?>

                            if (this.config.disablePriceReload) {
                                return;
                            }
                            var price = 0;
                            var oldPrice = 0;
                            for (var i = this.settings.length - 1; i >= 0; i--) {
                                var selected = this.settings[i].options[this.settings[i].selectedIndex];
                                if (selected.config) {
                                    price += parseFloat(selected.config.price);
                                    oldPrice += parseFloat(selected.config.oldPrice);
                                }
                            }

                            optionsPrice.changePrice('config', {'price': price, 'oldPrice': oldPrice});
                            optionsPrice.reload();

                            return price;

                            if ($('product-price-' + this.config.productId)) {
                                $('product-price-' + this.config.productId).innerHTML = price;
                            }
                            this.reloadOldPrice();
    <?php endif; ?>
                    }

                    //]]>
                </script>
                <?php echo $this->getChildHtml('product_type_data_configurable') ?>   
            <?php elseif ($_product->getTypeId() == 'grouped'): ?>
                <?php echo $this->getChildHtml('product_type_data_grouped') ?>   
            <?php elseif ($_product->getTypeId() == 'virtual'): ?>
                <?php echo $this->getChildHtml('product_type_data_virtual') ?>   
            <?php elseif ($_product->getTypeId() == 'bundle'): ?>
                <?php echo $this->getChildHtml('product_type_data_bundle') ?>     
            <?php else: ?>
                <?php echo $this->getChildHtml('product_type_data_simple') ?>    
            <?php endif; ?>



            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <?php echo $this->getChildChildHtml('container1', '', false, true) ?>
            <?php endif; ?>

            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <?php echo $this->getChildChildHtml('container2', '', false, true) ?>
            <?php endif; ?>
        </div>

        <?php //echo $this->getChildHtml('other'); ?>

    </form>
    <div class="clear"></div>
    <?php if (Mage::helper('wcooall')->isModuleInstalled('OrganicInternet_SimpleConfigurableProducts')) : ?>
        <script type="text/javascript">
            //<![CDATA[
            $('product_addtocart_form-<?php echo $_product->getId() ?>').getElements().each(function (el) {
                if (el.type == 'select-one') {
                    if (el.options && (el.options.length > 1)) {
                        el.options[0].selected = true;
                        spConfig.reloadOptionLabels(el);
                    }
                }
            });
            //]]>
        </script>
    <?php endif; ?>
    <?php if (Mage::helper('wcooall')->isModuleInstalled('CJM_ColorSelectorPlus')) : ?>
        <script type="text/javascript">
            //<![CDATA[
    <?php echo preg_replace('%var\s%i', '/*var*/var ', preg_replace('%function\s+([a-z]+)\(%i', '$1 = function(', file_get_contents($this->getJsUrl('cjm/colorselectorplus/colorselected.js')))); ?>

            //]]>
        </script>
    <?php endif; ?>

</li>
