<?php
    // Check if current Magento version includes Persistent Shopping Cart Extension
    $isPersistantShoppingCartEnabled = Mage::getStoreConfigFlag('persistent/options/enabled');
    $isContextCheckout = 0;
    if ($isPersistantShoppingCartEnabled) {
        $html = $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml();
        $isContextCheckout = Mage::helper('checkout')->isContextCheckout();
    } else {
        $html = $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->toHtml();
    }
?>
<div class="col-sm-7">
<div class="log_box">
<div class="vert_cen ">
<h1><?php echo $this->__('Sign up for a new account!') ?></h1>
<p><?php echo $this->__('Suspendisse finibus orci a mi dapibus, vel ultrices diam posuere. Nulla imper diet eu elit et ultrices. Suspendisse fringilla pharetra scelerisque.') ?> </p>

<?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $this->getChildHtml('paypalauth.register'); ?>
    
<form class="form-horizontal" action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
    <?php echo $html ?>
    
    <div class="form-group">
        <div class="col-sm-12">
        <input type="email" name="email" id="email_address" value="<?php echo $this->htmlEscape($this->getFormData()->getEmail()) ?>" placeholder="<?php echo $this->__('Email Address') ?>" class="validate-email required-entry" />
        </div>
    </div>
    
    
    <?php if($this->getShowAddressFields()): ?>
        <div class="fieldset">
            <input type="hidden" name="create_address" value="1" />
            <h2 class="legend"><?php echo $this->__('Address Information') ?></h2>
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <label for="company"><?php echo $this->__('Company') ?></label>
                        <div class="input-box">
                            <input type="text" name="company" id="company" value="<?php echo $this->htmlEscape($this->getFormData()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                        <div class="input-box">
                            <input type="text" name="telephone" id="telephone" value="<?php echo $this->htmlEscape($this->getFormData()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" />
                        </div>
                    </div>
                </li>
                <li class="wide">
                    <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                    <div class="input-box">
                        <input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text required-entry" />
                    </div>
                </li>
            <?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
                <li class="wide">
                    <div class="input-box">
                        <input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i?>" class="input-text" />
                    </div>
                </li>
            <?php endfor ?>
                <li class="fields">
                    <div class="field">
                        <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                        <div class="input-box">
                            <input type="text" name="city" value="<?php echo $this->htmlEscape($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="input-text required-entry" id="city" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                        <div class="input-box">
                            <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                            //]]>
                            </script>
                            <input type="text" id="region" name="region" value="<?php echo $this->htmlEscape($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <div class="input-box">
                            <input type="text" name="postcode" value="<?php echo $this->htmlEscape($this->getFormData()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international required-entry" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect() ?>
                        </div>
                    </div>
                </li>
            </ul>
            <input type="hidden" name="default_billing" value="1" />
            <input type="hidden" name="default_shipping" value="1" />
        </div>
    <?php endif; ?>
    
    
    <div class="form-group">
        <div class="col-sm-12">
        <input type="password" name="password" id="password" placeholder="<?php echo $this->__('Password') ?>" class="required-entry validate-password" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-12">
          <input type="password" name="confirmation" placeholder="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="required-entry validate-cpassword" />
        </div>
    </div>
    
    <?php echo $this->getChildHtml('persistent.remember.me'); ?>
    
    <?php if ($this->isNewsletterEnabled()): ?>
        <p>
        <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php //if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php //endif; ?> class="regular-checkbox" />
        <label for="is_subscribed"></label><span><?php echo $this->__('Select whether you would like to be part of the Newsletter and Offers etc') ?></span>
        </p>
    <?php endif ?>
    
    <input type="submit" value="<?php echo $this->__('Register') ?>" class="btn  btn-primary register-btn"/>
    
    <?php if ($isContextCheckout): ?>
            <input name="context" type="hidden" value="checkout" />
    <?php endif; ?>
</form>

<script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        <?php if($this->getShowAddressFields()): ?>
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
        <?php endif; ?>
    //]]>
</script>
</div>
</div>
</div>

<div class="col-sm-5">
<div class="sign_box">
<div class="vert_cen">


<div class="sign-right-box">
<div class="col-sm-2"><img class="m20" src="<?php echo $this->getSkinUrl('images/car.png', array('_secure'=>true)); ?>" alt="" ></div>
<div class="col-sm-10">
<h1><?php echo $this->__('Fast Delivery') ?></h1>
<h2><?php echo $this->__('Less Lead Time, Easy Order Tracking') ?></h2>
</div>
</div>


<div class="sign-right-box">
<div class="col-sm-2 nopad"><img class="m20" src="<?php echo $this->getSkinUrl('images/envelope.png', array('_secure'=>true)); ?>" alt="" ></div>
<div class="col-sm-10">
<h1><?php echo $this->__('Newsletter') ?> </h1>
<h2><?php echo $this->__('Latest Offers, Product Launch') ?></h2>
</div>
</div>

<div class="sign-right-box">
<div class="col-sm-2"><img class="m20" src="<?php echo $this->getSkinUrl('images/wishlist.png', array('_secure'=>true)); ?>" alt="" ></div>
<div class="col-sm-10">
<h1><?php echo $this->__('Connect socially') ?></h1>
<h2><?php echo $this->__('Rate and Review us, Feedback') ?></h2>
</div>
</div>

</div>
</div>
</div>
<?php /* ?>
<div class="fieldset">
    
    <ul class="form-list">
        <?php if ($this->isNewsletterEnabled()): ?>
        <li class="control">
            <div class="input-box">
                <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
            </div>
            <label for="is_subscribed"><?php echo $this->__('Sign Up for Newsletter') ?></label>
        </li>
        <?php endif ?>
    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
    <?php if ($_dob->isEnabled()): ?>
        <li><?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?></li>
    <?php endif ?>
    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
    <?php if ($_taxvat->isEnabled()): ?>
        <li><?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?></li>
    <?php endif ?>
    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
    <?php if ($_gender->isEnabled()): ?>
        <li><?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?></li>
    <?php endif ?>
    </ul>
</div>
<?php */ ?>