<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_obj = $this->getDetails(); ?>
<div class="list-sec">
<div class="col-md-12">
    <h1><?php echo $this->__('News') ?></h1>
</div>
<div class="col-md-8">
    <div class="news_block">
    	<div class="news-blk-image"><img src="<?php echo $this->resizeImg($_obj->getImage(),"710","410"); ?>" alt="<?php echo $_obj->getTitle(); ?>" /></div>
	<h1><?php echo $_obj->getTitle(); ?></h1>
	<div class="post-date">Posted on <?php echo date('M d,Y',strtotime($_obj->getPubdate())); ?></div>
	<p><?php echo strip_tags($_obj->getDetails()); ?></p>
    </div>
</div>

 <div class="col-md-4 no_pad_mob">
<div class="blog_feild_area">
          <div class="blog_heading_bg">
        
            <div class="heading_text">Latest Tech News</div>
         
          </div>
            <div class="blog_feild_text">
          <?php
			$channel=array();
			try {
				$channel = new Zend_Feed_Rss('http://techrepublic.com.feedsportal.com/c/35463/f/670841/index.rss');
			} 
			catch (Exception $e) {
				
			}
	    ?>
	    <?php
	    $i=1;
		if(!empty($channel)):
	    foreach ($channel as $item):
	    if($i<6):
	    ?>
          <h2><?php echo $item->title; ?></h2>
          <div class="date">Posted On <?php echo date('M d,Y',strtotime($item->pubDate())); ?> </div>
          <p><?php echo substr($item->description,0,100); ?></p>
          <div><a class="read-more" href="<?php echo $item->link; ?>" target="_blank"> Read more...</a></div>
	  <?php if($i<5): ?>
          <hr/>
	  <?php endif; ?>
	  
	  <?php endif;
	  $i++; endforeach; ?>
	    <p class="text-center">
			<a class="feed-btn" href="http://www.techrepublic.com/" target="_blank">Get more Feed</a>
	    </p>
		<?php else: ?>
		<p>No News Found.</p>
		<?php endif; ?>
        </div>
    </div>
 </div>

</div>