<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $collection = $this->getCollection(); ?>
<div class="list-sec">
<div class="col-md-12">
    <h1><?php echo $this->__('News') ?></h1>
</div>
<div class="col-md-8">
<?php //echo $this->getPagerHtml(); ?>
<?php if($collection->getSize()): ?>

<div class="news_events">
	<?php $i = 1; ?>
    <?php foreach ($collection as $_obj): ?>
	<div class="list_block clearfix">
    	<div class="list_img_box"><a href="<?php echo Mage::getUrl("news-events/index/details/")?>?id=<?php echo $_obj->getId()?>"><img src="<?php echo $this->resizeImg($_obj->getImage(),"141","141"); ?>" alt="<?php echo $_obj->getTitle(); ?>" /></a></div>
        <div class="list_img_text">
            <h1><a href="<?php echo Mage::getUrl("news-events/index/details/")?>?id=<?php echo $_obj->getId()?>"><?php echo $_obj->getTitle(); ?></a></h1>
            <p class="date">Posted on <?php echo date('M d,Y',strtotime($_obj->getPubdate())); ?></p>
            <p>
	    <?php
		  $details= strlen(strip_tags($_obj->getDetails()));
		  if($details<300)
		  {
		    echo substr(strip_tags($_obj->getDetails()),0,300);
		  }
		  else
		  {
		    echo substr(strip_tags($_obj->getDetails()),0,300).'...';
		  }
	    ?>
	    </p>
            <a href="<?php echo Mage::getUrl("news-events/index/details/")?>?id=<?php echo $_obj->getId()?>">Read More...</a>
        </div>
    </div>
	<?php
	
	if($i!=$collection->count()): ?>
	<hr/>
	<?php endif; ?>
    <?php
    $i++;
    endforeach; ?>
</div>

<script type="text/javascript">decorateTable('my-custom-table');</script>
<?php echo $this->createLinks(); ?>
<?php else: ?>
    <p><?php echo $this->__('No News Found.'); ?></p>
<?php endif ?>
</div>

 <div class="col-md-4 no_pad_mob">
    <div class="blog_feild_area">
	<div class="blog_heading_bg">
	    <div class="heading_text"><?php echo $this->__('Latest Tech News') ?></div>
	</div>
	  <?php //echo $this->getLayout()->createBlock("cms/block")->setBlockId("news_feed")->toHtml();?>
        <div class="blog_feild_text">
			<?php
			$channel=array();
			try {
				$channel = new Zend_Feed_Rss('http://techrepublic.com.feedsportal.com/c/35463/f/670841/index.rss');
			} 
			catch (Exception $e) {
				
			}
			//print_r($channel);
			?>
			<?php
			$i=1;
			if(!empty($channel)):
			foreach ($channel as $item):
			if($i<6):
			?>
			  <h2><?php echo $item->title; ?></h2>
			  <div class="date">Posted On <?php echo date('M d,Y',strtotime($item->pubDate())); ?> </div>
			  <p><?php echo substr($item->description,0,100); ?></p>
			  <div><a class="read-more" href="<?php echo $item->link; ?>" target="_blank"> Read more...</a></div>
		  <?php if($i<5): ?>
			  <hr/>
		  <?php endif; ?>
	  
		<?php endif;
				$i++;
		endforeach;
		?>
	    <p class="text-center">
			<a class="feed-btn" href="http://www.techrepublic.com/" target="_blank">Get more Feed</a>
	    </p>
		<?php else: ?>
		<p>No News Found.</p>
		<?php endif; ?>
        </div>
    </div>
 </div>

</div>