<?php
$news=$this->newslist();
//echo $news->count();
?>
<div class="main-content">
      <div class="listing_block p30  md50">
        <div class="listing_block_heading">
          <h2> <span><?php echo $this->__('LATEST'); ?></span> <?php echo $this->__('NEWS'); ?></h2>
        </div>
        <div class="row">
            <?php
		foreach($news as $_obj)
		{
	    ?>
            
          <div class="col-sm-6 col-md-4">
            <div class="new-pic">
                <a href="<?php echo Mage::getUrl("news-events/index/details/")?>?id=<?php echo $_obj->getId()?>'"><img src="<?php echo $this->resizeThumbImg($_obj->getImage(),"350","198"); ?>" alt="<?php echo $_obj->getTitle(); ?>"/></a>
            </div>
            <div class="news_content text-center">
              <a href="<?php echo Mage::getUrl("news-events/index/details/")?>?id=<?php echo $_obj->getId()?>'"><h1><?php echo $_obj->getTitle(); ?></h1></a>
             <p> <?php
              //$details=str_word_count(strip_tags($_obj->getDetails()));
              $details= strlen(strip_tags($_obj->getDetails()));
              if($details<100)
              {
                echo substr(strip_tags($_obj->getDetails()),0,100);
              }
              else
              {
                echo substr(strip_tags($_obj->getDetails()),0,100).'...';
              }
              ?></p>
            </div>
          </div>
          <?php } ?>
        </div>
      </div>
      <div class="more_heading">
        <a href="<?php echo $this->getUrl('news-events'); ?>"><h2><span class="more"><?php echo $this->__('MORE'); ?></span></h2></a>
      </div>
</div>