<?php 
$configEnableValue = Mage::getStoreConfig('testimonialsection/testisettings/activetesty');
$enableguest = Mage::getStoreConfig('testimonialsection/testisettings/enableguest');
$helper = Mage::helper('testimonial');

$testimonials = $this->getTestimonials(); 
//echo get_class($this);
?>
<!--Testimonials-->
<?php if (count($testimonials) > 0): ?>
<div class="container">
    <div class="testimonial-area">
      <div id="carousel-example-testimonial" class="carousel testimonial-content fade"> 
        <!-- Indicators -->
        <ol class="carousel-indicators dots">
		<?php
			$i=0;
		foreach($testimonials as $sliders)
			{
		?>
		<li data-target="#carousel-example-testimonial" data-slide-to="<?php echo $i; ?>" class="<?php if($i==0){ echo 'active'; } ?>"></li>
		<?php
			$i++;
			}
		?>
        </ol>
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
		<?php
			$j=0;
			foreach ($testimonials as $testimonial):
		?>
          <div class="item <?php if($j==0){ echo ' active'; } ?>">
            <div class="head-title"> <span><?php echo $this->__('What our'); ?></span> <?php echo $this->__('client says'); ?> </div>
            <div class="client-thumb">
		<?php  if($helper->isEnableContactPhoto()):
		
			$configHeightValue = Mage::getStoreConfig('testimonialsection/showhideform/height');
			$configWidthValue = Mage::getStoreConfig('testimonialsection/showhideform/width');
			  
			if ($testimonial->getTestimonialImg()): 
				$resizeEndarray = explode("/",$testimonial->getTestimonialImg());
		?>
		<img class="img-circle" src="<?php echo  Mage::helper('testimonial')->resizeImage(end($resizeEndarray),$configHeightValue,$configWidthValue,'testimonials'); ?>"  alt="<?php echo $testimonial->getTestimonialName(); ?>" title="<?php echo $testimonial->getTestimonialName(); ?>" /> 
		
		<?php else: ?>
                <img class="img-circle" src="<?php echo  $this->getSkinUrl('apt/testimonial/images/no-image.png') ?>" alt="<?php echo $testimonial->getTestimonialName(); ?>" title="<?php echo $testimonial->getTestimonialName(); ?>"  height="<?php echo $configHeightValue.'px' ;?>" width="<?php echo $configWidthValue.'px' ;?>"/> 


                <?php endif; ?>
                <?php endif; ?>
	    </div>
            <p class="testimonial-txt"><?php echo substr($testimonial->getTestimonialText(),0,210).'...'; ?></p>
            <p class="testiholder"><span><?php  if($helper->isEnableContactName()):?><?php echo $testimonial->getTestimonialName(); ?>    
                <?php endif;?>,</span> <?php echo $testimonial->getTestimonialCompanyname(); ?></p>
          </div>
	<?php $j++; ?>
	  
	<?php endforeach; ?>
        </div>
        <!-- /.carousel-inner --> 
      </div>
    </div>
</div>

<?php endif;?>
<!--// Testimonials-->
