<?php if($this->getSource() instanceof Mage_Sales_Model_Order){ ?>
<?php if ((float) $this->getSource()->getSbundleDiscountAmountRefunded()): ?>
    <tr>
        <td class="label"><strong><?php echo Mage::helper('simplebundle')->__('Simple bundle discount refunded to customer') ?></strong></td>
        <td><strong><?php echo $this->getSource()->getSbundleDiscountAmountRefunded(); ?></strong></td>
    </tr>
<?php endif; ?>
<?php } else { ?>
<?php if ((float) $this->getSource()->getSbundleDiscountAmount()): ?>
    <tr>
        <td class="label"><strong><?php echo Mage::helper('simplebundle')->__('Simple bundle discount Refunded') ?></strong></td>
        <td><strong><?php echo $this->getSource()->getSbundleDiscountAmount(); ?></strong></td>
    </tr>
<?php endif; 
}?>

