<?php $this->setPriceDataObject($this->getSource()) ?>
<?php if ((float) $this->getSource()->getSbundleDiscountAmount()): ?>
    <tr class="simplebundle">
        <td class="label a-right" <?php echo $this->getColspan()?'colspan="'.$this->getColspan().'"':''?>><?php echo Mage::helper('simplebundle')->formatDescription($this->getSource()->getSbundleDiscountDescription()) ?></td>
        <td class="a-right">
            <?php echo $this->displayPrices(-$this->getSource()->getBaseSbundleDiscountAmount(), -$this->getSource()->getSbundleDiscountAmount()); ?>
        </td>
    </tr>
<?php endif; ?>