.simplebundle-plus { float: left;padding: 32px 5px 0px 5px; font-weight: bold;font-size: 36px; color:#767676;font-weight:normal;	font-family: 'Lato', sans-serif;width:80px; text-align:center;}


.simplebundle-selection-item .product-box-con .product-box .product-image img{
	max-width:185px;
}
.simplebundle-pic {position: relative; z-index: 999;    width: 185px;
    height: 135px; }
.simplebundle-selection-item:hover .simplebundle-pic {z-index: 1001; }
.simplebundle-selection {float: left;width: 68%; position: relative; }
.simplebundle-selection .simplebundle-selection-item {float: left;position: relative; }
.simplebundle-selection .simplebundle-selection-item:hover .extra-infos {display:block;}
.simplebundle-selection .extra-infos {
    border: #ddd 1px solid;
    text-align: justify;
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    min-height: 50px;
    z-index: 1003;
    padding: 9px 10px 0 10px;
    margin-top: -1px;
    width: auto;
}
.simplebundle-infos p{
	padding:0px;
	margin:0px;
}
.simplebundle-orig-price .price{
	    color: #ff0000;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding-right: 10px;
    text-decoration: line-through;
}

.simplebundle-price .price{
    font-size: 20px;
    line-height: 42px;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    height: 40px;
    font-weight: bold;
}
.simplebundle-selection .extra-infos strong {text-align: center;}
.simplebundle-pic-qty {background-color: #60bb22;text-align: center;font-weight: bold;color: white;width: 30px;height: 30px;border-radius: 16px;padding: 0px 5px;padding-top: 5px;position: absolute;right: 30%;top: 80%;border: white 2px solid;}
.simplebundle-infos {float: right;padding: 10px;background-color: white;margin: 0px 0px 10px 0px;width:250px;}
.sbundle-description {clear: both;background-color: white;padding: 15px;font-style: italic;margin-bottom: 20px;}
.simplebundle-orig-price {  text-decoration: line-through;font-weight: bold;padding-right: 10px;}
.simplebundle-price {font-weight: bold;font-size: 16px;}
.simplebundle-percent {font-weight: bold;
                       color: #cd5033;}
.simplebundle{border-bottom: 1px solid #ddd;/*margin-bottom: 15px*/;}
.sb-popup-container {position: fixed;top: 10px;margin-left: 50%;left:-300px;text-align:center; height:80%; min-height:300px;max-width: 100%;}
.sb-popup {background: #fff;width: 600px; max-width: 100%;padding: 20px;margin:0 auto;}
.sb-popup > ul {min-height:250px; max-height:500px; overflow-y: scroll;}
.sb-popup-overlay {position: fixed;width: 200%;height: 200%;top: -25%;left: -25%;background: #000;opacity:0.86;}
.sb-popup-wrapper {}
#sb_popup {z-index:999999;position:relative;}
#sb_popup .availability {display:none;}
.sb-popup .product-right {float:right;width:50%;}
.sb-popup .product-options {position:initial;}
.sb-popup .product-options, #sb_popup .product-options dd, #sb_popup .product-options dt {margin:0;padding:0;background:none;border:0;clear: both;}
.sb-popup .product-options p.required {top:0;}
.sb-popup .product-options dt {float:left;}
.sb-popup .product-options-bottom {display:none;}
.sb-popup .product-left {text-align: left;max-width: 50%;display: inline-block;float: left;}
#sb_popup .clear{clear:both;}
.sb-product {text-align: left;padding:20px;background-color:#ddd;}
.sb-product-even {background-color:#eee;}
#sb_popup #products-header-notice {text-align: center;font-weight: bold;}
#sb_popup .products-header-price {float:right;}
#sb_popup .popup-error {font-size:1.2em;color:red;}
#product-list-simple-bundles .simplebundle-selection {width:100%;}
#product-list-simple-bundles .simplebundle-pic-qty {width:10px;height:14px;  font-size: 0.8em;padding-top: 1px;padding: 0px 3px;}
#product-list-simple-bundles .simplebundle-plus {padding: 12px 1px 0px 1px;font-size:16px;margin-bottom: 14px;}
#product-list-simple-bundles .simplebundle-selection .simplebundle-selection-item{margin-bottom: 10px;}
#product-list-simple-bundles .simplebundle-price {float: right;font-size:11px;}
#product-simple-bundles h2{
	color:#0c5086;
	font-size:24px;font-family: 'Lato', sans-serif;text-transform:capitalize;
}
.bundle-des{
	color:#0c5086;
	font-size:16px;font-family: 'Lato', sans-serif;
	
}





@media only screen and (max-width: 1024px){
    .sb-popup-container {
        left: -50%;
        width: 100%;
        
    }
    .sb-popup {
        width: 90%;
        padding: 5%;
        margin: 0 auto;
    }
    .product-right,
    .product-left {
        width: 100% !important;
        clear: both !important;
        float: none !important;
    }
    .sb-popup .product-options p.required {
        right: 0;
    }
    .sb-popup > ul {
        max-height: 600px;
        overflow: scroll;
    }
	
		
.simplebundle-selection {
    float: left;
    width: 57%!important;
    position: relative;
}



.simplebundle-pic {
    position: relative;
    z-index: 999;
    width: 130px!important;
    height: 135px;
}



.simplebundle-selection-item .product-box-con .product-box .product-image img {
    max-width: 100%!important;
}
}



@media (min-width: 768px) and (max-width: 991px) {
	
.simplebundle-selection {
    float: left;
    width: 57%!important;
    position: relative;
}



.simplebundle-pic {
    position: relative;
    z-index: 999;
    width: 130px!important;
    height: 135px;
}



.simplebundle-selection-item .product-box-con .product-box .product-image img {
    max-width: 100%!important;
}

}


@media only screen and (max-width: 667px){
	.simplebundle-selection {
    float: left;
    width: 50%!important;
    position: relative;
}

.simplebundle-pic {
    position: relative;
    z-index: 999;
    width: 100px!important;
    height: 135px;
}
}
@media only screen and (max-width: 640px){
	
  .simplebundle-infos{ position: absolute;
    top: 256px;
    background: none;}


.simplebundle-pic {
    position: relative;
    z-index: 999;
    width: 100px!important;
    height: 135px;
}


.simplebundle-selection {
    float: left;
    width:100%!important;
    position: relative;
}

.review-sec h4 {
    text-align: left;
    margin-top: 125px;
    text-align: left!important;
}
}

@media only screen and (max-width: 375px){
	
  .simplebundle-infos{ position: absolute;
    top: 220px;
    background: none;}


.simplebundle-pic {
    position: relative;
    z-index: 999;
    width: 70px!important;
    height: 135px;
}


.simplebundle-selection {
    float: left;
    width:100%!important;
    position: relative;
}
}
@media only screen and (max-width: 320px){


  .simplebundle-infos{ position: absolute;
    top: 220px;
    background: none;}


.simplebundle-pic {
    position: relative;
    z-index: 999;
    width: 70px!important;
    height: 135px;
}


.simplebundle-selection {
    float: left;
    width:100%!important;
    position: relative;
}
}