<?php
$collection = Mage::getModel('catalog/product')->getCollection();
$collection->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
$collection->joinField('qty',
                 'cataloginventory/stock_item',
                 'qty',
                 'product_id=entity_id',
                 '{{table}}.stock_id=1',
                 'left')
     ->addAttributeToFilter('qty', array("gt" => 0));
$collection->addFieldToFilter('featured_product', '1')->getSelect();

$total=$collection->count();

$total_pages = ceil($total/4)-1;

$collection_limit = Mage::getModel('catalog/product')->getCollection();
$collection_limit->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
$collection_limit->joinField('qty',
                 'cataloginventory/stock_item',
                 'qty',
                 'product_id=entity_id',
                 '{{table}}.stock_id=1',
                 'left')
     ->addAttributeToFilter('qty', array("gt" => 0));
$collection_limit->addFieldToFilter('featured_product', '1')->getSelect()->limit(4,0);

$limt_collection=$collection_limit->count();
?>
<div class="listing_block_heading">
      <h2><span><?php echo $this->__('Featured');?></span> <?php echo $this->__('Products');?></h2>
    </div>
    <div class="loading" id="loading" style="display: none;">
	<img alt="" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
    </div> 
<?php
if($limt_collection > 0)
{
?>
<div class="row" id="featu_list">
<?php
$i=0;
$attr_arr=array();
foreach ($collection_limit as $product)
{
		$attr_arr=array();
    $_product = Mage::getModel('catalog/product')->load($product->getId());
    ?>
    <div class="col-sm-6 col-md-3">
	<div class="list_pan img_cont">
	    <div class="pro_con">
	    <div class="product-box-con">
			<?php if(!$_product->isSaleable()): ?>
        <div class="bought"><span></span>OUT OF <br/>STOCK</div>
		<?php endif; ?>
		<div class="product-box">
		    <div class="product-image">
		    <a href="<?php echo $_product->getProductUrl() ?>">
		    <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(225,145);?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
		    </a>
		    </div>
		</div>
	    </div>
	    <div class="listing_content text-center">
		<h4><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $_product->getName() ?></a></h4>
		
		<?php
		if($_product->getBrand()!=''){ ?>
		<p>
				<?php
						$attr = $_product->getResource()->getAttribute("brand");
						$attr_arr[]= $attr->getSource()->getOptionText($_product->getBrand());
				?>
				
		<?php } ?>
		
		<?php if($_product->getMake()!=''){ ?>
				<?php 
						$attr = $_product->getResource()->getAttribute("make");
						$attr_arr[]= $attr->getSource()->getOptionText($_product->getMake());
				?>
		
		<?php } ?>
		
		<?php if($_product->getModel()!=''){ ?>
	
				<?php
						$attr_arr[]= $_product->getModel();
				?>
		
		<?php } ?>
		
		<?php if($_product->getProcessor()!=''){ ?>

				<?php
						$attr = $_product->getResource()->getAttribute("processor");
						$attr_arr[]= $attr->getSource()->getOptionText($_product->getProcessor());
				?>
			 
		<?php } ?>
		
		<?php if($_product->getInstalledMemoryRAM()!=''){ ?>
		
				<?php
						$attr = $_product->getResource()->getAttribute("installed_memory_ram");
						$attr_arr[]= $attr->getSource()->getOptionText($_product->getInstalledMemoryRam());
				?>
			 
		<?php } ?>
		
		<?php if($_product->getDisplaySizeDiagonal()!=''){ ?>
		
				<?php
						$attr = $_product->getResource()->getAttribute("display_size_diagonal");
						$attr_arr[] =$attr->getSource()->getOptionText($_product->getDisplaySizeDiagonal());
				?>
		 
		<?php } ?>
		
		<?php if($_product->getOperatingsystem()!=''){ ?>
		
				<?php
						$attr = $_product->getResource()->getAttribute("operatingsystem");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getOperatingsystem());
				?>
		 
		<?php } ?>
		
		<?php if($_product->getHarddrivesize()!=''){ ?>
	
				<?php
						$attr = $_product->getResource()->getAttribute("harddrivesize");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getHarddrivesize());
				?>	
		 
		<?php } ?>
		
		<?php if($_product->getLaptopBagSize()!=''){ ?>
	
				<?php
						$attr = $_product->getResource()->getAttribute("laptop_bag_size");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getLaptopBagSize());
				?>	
		 
		<?php } ?>
		
		<?php if($_product->getColour()!=''){ ?>
		
				<?php
						$attr = $_product->getResource()->getAttribute("colour");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getColour());
				?>	
		 
		<?php } ?>
		
		<?php if($_product->getDisplaySize()!=''){ ?>
		
				<?php
						$attr = $_product->getResource()->getAttribute("display_size");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getDisplaySize());
				?>	
			 
		<?php } ?>
		
		<?php if($_product->getCamera()!=''){ ?>
	
				<?php
						$attr = $_product->getResource()->getAttribute("camera");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getCamera());
				?>	
		 
		<?php } ?>
		
		<?php if($_product->getInternalStorage()!=''){ ?>
		
				<?php
						$attr = $_product->getResource()->getAttribute("internal_storage");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getInternalStorage());
				?>	
		 
		<?php } ?>
		
		<?php if($_product->getColourOrMono()!=''){ ?>
	
				<?php
						$attr = $_product->getResource()->getAttribute("colour_or_mono");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getColourOrMono());
				?>	
		 
		<?php } ?>
		
		<?php if($_product->getMaxPrintSpeed()!=''){ ?>
	
				<?php
						$attr = $_product->getResource()->getAttribute("max_print_speed");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getMaxPrintSpeed());
				?>	
		 
		<?php } ?>
		
		<?php if($_product->getWiredNetwork()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("wired_network");
                        $is_wired=$attr->getSource()->getOptionText($product_dtls->getWiredNetwork());
                        if($is_wired=='Yes'){
                            $attr_arr[] = 'Wired Network';
                        }
				?>	
			 
		<?php } ?>
		
		<?php if($_product->getWirelssNetwork()!=''){ ?>
	
				<?php
						$attr = $product_dtls->getResource()->getAttribute("wirelss_network");
                        $is_wireless=$attr->getSource()->getOptionText($product_dtls->getWirelssNetwork());
                        if($is_wireless=='Yes'){
                            $attr_arr[] = 'Wireless Network';
                        }
				?>	
		 
		<?php } ?>
		
		<?php if($_product->getDisplaySizeDiagonal()!=''){ ?>
	
				<?php
						$attr = $_product->getResource()->getAttribute("display_size_diagonal");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getDisplaySizeDiagonal());
				?>	
		
		<?php } ?>
		
		<?php if($_product->getResolution()!=''){ ?>
		
				<?php
						$attr = $_product->getResource()->getAttribute("resolution");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getResolution());
				?>	
		
		<?php } ?>
		
		<?php if($_product->getAspectRatio()!=''){ ?>
	
				<?php
						$attr = $_product->getResource()->getAttribute("aspect_ratio");
						$attr_arr[] = $attr->getSource()->getOptionText($_product->getAspectRatio());
				?>  
		<?php } ?>
		
		<?php
				//print_r($attr_arr);
				if(!empty($attr_arr)):
				echo implode(' | ',$attr_arr);
				endif;
		?>
		</p>  
		<p class="price_listing pull-left">
		    <?php
				// Get the Special Price
				$specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice(); 
				// Get the Special Price FROM date
				$specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
				// Get the Special Price TO date
				$specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
				// Get Current date
				$today =  time();
				
				$store = Mage::app()->getStore('default');
				$taxCalculation = Mage::getModel('tax/calculation');
				$request = $taxCalculation->getRateRequest(null, null, null, $store);
				$taxClassId = $_product->getTaxClassId();
				$percent = $taxCalculation->getRate($request->setProductClassId($taxClassId));

				
				if ($specialprice)
				{
					if($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate))
					{
						$taxprice=$_product->getSpecialPrice()*($percent/100);
							
						$inc_tax_price=$_product->getSpecialPrice()+$taxprice;
						
						$taxprice2=$_product->getPrice()*($percent/100);
					
						$inc_tax_price2=$_product->getPrice()+$taxprice2;
		    ?>
		    <span><?php echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price2,true,false); ?></span>
		   
		    <?php echo $_formattedSpecialPrice = Mage::helper('core')->currency($inc_tax_price,true,false); ?>
		    <?php
					}
					else
					{
						$taxprice=$_product->getPrice()*($percent/100);
					
						$inc_tax_price=$_product->getPrice()+$taxprice;
						
						echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price,true,false);
					}
				}
				else
				{
					$taxprice=$_product->getPrice()*($percent/100);
					
					$inc_tax_price=$_product->getPrice()+$taxprice;
					
					echo $_formattedActualPrice = Mage::helper('core')->currency($inc_tax_price,true,false);
				}
			?>
		</p>
	    </div>
	    <?php /*?>
	    <div class="pro-overlay">
                  <div class="iconset pro-overlay-iconset">
		    <a class="icon" href="<?php echo $this->getAddToCartUrl($_product) ?>"><span><img src="<?php echo  $this->getSkinUrl('images/cart.png') ?>" alt=""></span></a>
		    <?php if ($this->helper('wishlist')->isAllow()) : ?>
		    <a class="icon" href="<?php echo $this->getAddToWishlistUrl($_product) ?>"><span><img src="<?php echo  $this->getSkinUrl('images/like.png') ?>" alt=""></span></a>
		    <?php endif; ?>
                    <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
		    <a class="icon" href="<?php echo $_compareUrl ?>"><span><img src="<?php echo  $this->getSkinUrl('images/compare.png') ?>" alt=""></span></a>
		     <?php endif; ?>
		  </div>
            </div>
	    <?php */?>
	</div>
    </div>
    </div>
    <?php
    //if($i==3)
    //{
    ?>
<!--</div>
<div class="row" id="second_fet_row" style="display: none;">-->
<?php
    //}
$i++;
}
?>
</div>
<?php
if($total>4)
{
?>
<div class="animation_image" style="display: none;">
    <img alt="" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
</div>

<div class="more_heading load_more">
    <a href="javascript:void(0)" class="lod_ft_prd">
    <h2><span class="more"><?php echo $this->__('MORE') ?></span></h2>
    </a>
</div>
<?php } ?>

<?php }else { ?>

<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>

<?php } ?>
<script>
    jQuery(document).ready(function()
    {
	var track_click = 1;
	var total_pages = '<?php echo $total_pages; ?>';
	
	jQuery(".load_more").click(function (e) {
	    if(track_click <= total_pages) //make sure user clicks are still less than total pages
	    {
		    jQuery(this).hide(); //hide load more button on click
		    jQuery('.animation_image').show(); //show loading image
		    new Ajax.Request("<?php echo Mage::getBaseUrl();?>ak/index/prodlist",
			    {
				method: "post",
				parameters: {
				    start : track_click
				},
				onSuccess: function( transport )
				{
				    var da = transport.responseText;
				    
				    jQuery(".load_more").show();
				    jQuery("#featu_list").append(da); //append data received from server  
				    jQuery('.animation_image').hide();
				    track_click++;
				}
			    }); 
		    if(track_click >= total_pages)
		    {
			jQuery('.load_more').hide();
			jQuery('.lod_ft_prd').hide();
		    }
	     }
	    });
    });
</script>