@charset "utf-8";
/* CSS Document */
body{
		background:#fff;
}
h1
{
     font-family: 'Lato',sans-serif;
    font-weight: normal;
       color: #0c5086;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    line-height: 28px;

}

.order-bg{
	background:#dddddd;
}
.action-button td a{
		background-color: #3696c2;
    color: #FFF;
    width: 100%;
    height: 40px;
    display: block;
    border: 0 none;
    text-align: center;
    text-transform: uppercase;background: #60bb22;border-radius:5px;
    white-space: nowrap; font-family: 'Lato', sans-serif;
}
.action-button a{
	background-color: #3696c2;
    color: #FFF;
    width: 100%;
    height: 40px;
    display: block;
    border: 0 none;
    text-align: center;
    text-transform: uppercase;background: #60bb22;border-radius:5px;
    white-space: nowrap; font-family: 'Lato', sans-serif;
}
.logo{
	background:#60bb22;  padding: 10px 0px 5px 5px;
}
.logo img{
	margin: 0px 0px 0px 50%;
    width: 300px;
    text-align: center;
}
.banner{

	color: #fff;
	min-height: 484px;
}
.top-content{
	background:#ebebeb;
	color: #808080;
    display: block;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 0;
    text-align: left;
}
.closing-text{
	  font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;color:#fff;
}
.email-heading p{
	text-align:left;
}

.address-details h6{
		font-weight: 700;
    font-size: 16px;
    margin: 1em 0;
    line-height: 20px;
    text-transform: uppercase;
    color:#093a61;
}
.store-info h4{
	font-weight: 700;
    font-size: 16px;
    margin: 1em 0;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 25px;color:#093a61;
}
.email-heading h1, .store-info h4, th.cell-name, a.product-name, p.product-name, .address-details h6, .method-info h6, h5.closing-text, .action-button, .action-button a, .action-button span, .action-content h1{
	text-align:left;
}
td.order-details h3, td.store-info h4{
	font-family: Verdana, Arial; font-weight: 700; font-size: 16px; margin: 1em 0; line-height: 20px; text-transform: uppercase; margin-top: 25px;
}
 h6{
	    font-weight: 700;
    font-size: 16px;
    margin: 1em 0;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 25px;  font-family: "Lato",sans-serif;
}