@charset "utf-8";
/* CSS Document */
@media (min-width: 1025px) and (max-width: 1199px) {
	.bot_header .nav.navbar-nav li a{
		font-size:16px;
		padding:0 8px;	
	}
	
	.caret{
		display:none;
	}
}
@media (max-width: 1024px) {
	
	.small_products .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    margin: 0px 2px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}


.small_products .owl-carousel .owl-item {
    margin-right: 3px!important;
}	
	.new-pic {
	height: auto;
	margin:0px 0px 0px 0px;
}

.new-pic  img{
	width:100%;
}

.news_content {
	margin-bottom:10px;

}

	.product-review .ratings-table{
		background:none;
	}
.block-compare .block-content {
    margin-top: 5px;
    padding: 0px 20px 0px 20px;
}	
	
#cssmenu ul{
	display:none;
	
}
	.direct_sell {
    height: 40px;
    margin:0px auto  10px auto;
	width:195px;
	
}
	.faceButton, .twitterButton{
		margin-right:5px;
		
	}
	.dashboard.col-left-first{
		padding:0px 15px;
	}
	.bot_header .nav.navbar-nav li a{
		font-size:14px;
	
	}



	.nav_left{
		padding:0;	
	}
	.abs_mid {
		height: 176px;
		left: 0;
		margin-left: 0;
		margin-top: 0;
		width: 100%;
		bottom:50px;
	}
	.vert_slider p:first-child{
		font-size:56px;
		line-height:60px;	
	}
	#carousel-example-generic{
		height:335px;	
	}
	.abs_mid .btn-primary {
		font-size: 20px;
		line-height: 27px;
		padding: 6px 30px;
	}
	.left_panel .panel-body a{
		font-size:14px;
		line-height:30px;	
	}
	.select_drop{
		width:65%;	
	}
	.listing_content h4{
		font-size:18px;	
	}
	.left_panel .panel-body .tot_pad{
		background:#fff;
		border-top:none;	
	}
	.right_prodet p.heading{
		width:auto;
		padding-right:15px;	
	}
	.logo_slider .owl-carousel .owl-controls .owl-nav .owl-prev{
		left:0;	
	}
	.price_listing{
		min-width:100%;	
	}
	
	
.left-bottom-pic {
    float: left;
    width: 31%;
	}
	
		.mr15{
		margin-right:22px!important;	
	}
	
	
.mini_cart {
    float: left;
    margin: 0px 0px 0px 25px!important;
    padding: 0px!important;
}


.right-box-left h1 span{
	font-size:16px;
color: #60bb22!important;
}


.right-box-left {
    float: left;
    padding: 25px 0px -1px 10px;
}
.cart-item {
    float: left;
    margin: 0px;
    padding: 0px;
}


.cart-val {
    float: right;
    margin-top: 0px;
}
	.testimonial-area{
		    padding: 15px 100px;
	}
	
	
	.right_slide{
	 
	background:url(../images/rightprod1.jpg)  no-repeat 50% 100% / cover ;
	margin-bottom:1px;
	position:relative;
	padding:25px 18px 16px 18px;
	text-align:center;
	max-width:100%;
		
			
}
.pr0{
	padding-right:0px;
	padding-left:0px;
}

.right-panel-logo {
    margin-bottom: 32px;
    width: 216px;
    margin: 20px auto;
}


.right_slide{
	 
	background:url(../images/rightprod1.jpg)  no-repeat 35% 100% / cover ;
	margin-bottom:1px;
	position:relative;
	padding:25px 18px 16px 18px;
	text-align:center;
	max-width:100%;
		
			
}
.pr0{
	padding-right:0px;
	padding-left:0px;
}

.right-panel-logo {
    margin-bottom: 32px;
    width: 216px;
    margin: 20px auto;
}

.right_slide h1 {
    color: #60bb22;
    font-size: 23px;

}

.right_slide .rightpanel-txt{
	padding-top:72px;
}

.sorter {
    float: left;
    margin-bottom: 10px;
    width: 59%;
}

.social-btn img {
    margin-left: 1px;
    float: left;
}

.social-btn{
	padding:0px;    width: 360px;
}
.owl-carousel .owl-item img{
	width:auto;
}

.logo-slider .logo-block .logo-thumb{
	margin:0px;
	padding:0px;
}

.list_img_text {
    float: left;
    padding-left: 10px;
    width: 400px;
}

.feed-btn{
	    padding: 12px 40px;
}

.product-box-con .product-box .product-image img {
    height: auto;
    width: 100%;
}

.pro-overlay-iconset {
    margin-top: 60%;
    padding: 0 15px;
}

.col-sm-offset-1 {
    margin-left: 5%;
}



.recent-view{
width:100%;	
	}
	
		.descript_main {
		width:100%!important;
	}
.main-wrapper{
	width:100%;
	float:left;
}



.newsletter_inp .btn-primary{
	    padding: 11.5px 20px;
}	

.rate-review{
	display:block;
}

#discount-coupon-form .input-text{
	    width: 147px;
}
.display-single-price .cart-table .cart-links > li{
	    display: inline;
}

.display-single-price .cart-table .cart-links{
	    width: 50px;
}

.right-box-left {
    float: left;
    padding: 25px 0px -1px 10px;
}
.cart-item {
    float: left;
    margin: 0px;
    padding: 0px;
}


.cart-val {
    float: right;
    margin-top: 0px;
}
.cart-item p {
    margin: 2px 0px 8px 0px;
}
.right-box-left {
	margin-top:0px;
	padding-top:0px;
}

.right-box-left h1 {
    padding: 13px 0px 4px 0px;
}
.right-box-right{
	font-size:13px;
}

.mini_cart a.trigger_mini span{
	    top: 0px;
		right:-3px;
}


.bot_header .nav.navbar-nav li a{
    font-size: 15px;
    padding: 0 12px 0px 12px;
}

	.col-tot-6{
			width:100% !important;
}
.col-tot-12{
		width:100% !important;
}
.col-tot-4{
		width:100% !important;
}
.col-tot-3{
		width:100% !important;
}
	.sorter label {
    float: left;
    margin-right: 10px;
    color: #414141;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    line-height: 19px;
    margin-top: 5px;
}

.image-holder-box img{
	width:100%;
}
.block-compare .block-content .block-title {
    width: 17%!important;

}
.block-compare .block-content .product-name a{
	    color: #434343;
	font-weight:normal; font-family: 'Lato', sans-serif;font-size:12px;		white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-transform: capitalize;
}

	.direct_sell {
    height: 40px;
    margin:0px auto  10px auto;
	width:165px;
	
}

	.products-list .product-shop .product-primary, .products-list .product-shop .desc{
		  padding-right: 15px;
	}
	.products-list .product-price{
		    padding-left: 10px;
	}
	.direct_sell img{
		width:100%;
	}
	
	
	.bot_topfoot {
    padding: 0;
}

.view-btn a{
	width:100%;
}




.block-compare .actions a {
    float: right;
    margin-top: 10px;
    padding: 8px 8px 6px;
}


.block-compare .block-content li.item {
    width: 13%;
    float: left;
    position: relative;
    top: -21px;
}

 .products-list .product-shop .product-primary, .products-list .product-shop .desc{
width:100%;

}


.products-list .product-shop .product-secondary {
    float: left;
    width: 100%;
}
	.right_panel .success-msg {
    width: 96%;
    float: left;
    top: 0px;
    position: absolute;
    border-right: 0px #fff solid;
}
}

@media (min-width: 992px) and (max-width: 1024px) {
	.direct_sell img{
		width:100%;
	}
	.abs_text-slide .btn-primary {
		font-size: 14px;
		padding: 0 25px;
	}
	.abs_text-slide h4{
		font-size:22px;	
	}
	.left_slide,.right_slide{
		width:75%;	
		padding:0 15px;
	}
	.slide_right {
		float: left;
		margin-right: 0.033%;
		width:33.3%;
	}
	.no_leftpad{
		padding-left:15px;	
	}
	.no_mar_mob{
		margin:0;	
	}
	.mr15{
		margin-right:0;	
	}
	.social_icns li{
		margin-right:2px;	
	}
	.testimonial-area{
		    padding: 15px 100px;
	}
	
	.dots {
    position: absolute;
    bottom: -57px;
    right: 40%;
}

.right_slide{
	 
	background:url(../images/rightprod1.jpg)  no-repeat 35% 100% / cover ;
	margin-bottom:1px;
	position:relative;
	padding:25px 18px 16px 18px;
	text-align:center;
	width:100%;
		
			
}


.right_slide .btn-primary {
    padding: 16px 12px 17px 12px;
    border-radius: 5px;
	width:100%;
	font-size:13px;
}
.pr0{
	padding-right:0px;
	padding-left:0px;
}

.right-panel-logo {
    margin-bottom: 32px;
    width:100%;
    margin: 20px auto;
}

.m60{
	margin-top:20px;
}
.more_heading{
	margin-bottom:50px;
}

.bot_header .nav.navbar-nav li a{
	    padding: 0 12px 0px 12px;
}

.sorter {
    float: left;
    margin-bottom: 5px;
    width: 59%;
}
	.sorter label {
    float: left;
    margin-right: 10px;
    color: #414141;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    line-height: 19px;
    margin-top: 5px;
}

.iconset a.icon span {
    margin-right: 7px;
    padding: 12px;

}

.social-btn img {
    margin-left: 5px;
    float: left;
}

.social-btn{
	padding:0px;
}

.sign_box{
	padding:40px 0px 40px 23px;
}

.owl-carousel .owl-item img{
	width:auto;
}

.logo-slider .logo-block .logo-thumb{
	margin:0px;
	padding:0px;
}

.list_img_text {
    float: left;
    padding-left: 15px;
    width: 420px;
}

.feed-btn{
	    padding: 12px 40px;
}

.product-box-con .product-box .product-image img {
    height: auto;
    width: 100%;
}

.pro-overlay-iconset {
    margin-top: 60%;
    padding: 0 27px;
}


.img_port{
/*	width:53px;
	height:53px;*/
	border:none;
}

.img_port img {
	border:1px #ccc solid;
}

.col-sm-offset-1 {
    margin-left: 5%;
}

.no_pad_tab{
/*	padding:0px;*/
}

.recent-view{
width:100%;	
float:left;

	}
	.descript_main{
		    padding: 20px 10px 0px 0px;
	}
	
	.top_prod_description{
		width: 97%;
	}
	
	.review-text{
		    padding-left: 35px;
	
	}
	
	
	.descript_main {
		width:100%!important;
	}
	
	.main-wrapper{
	width:100%;
	float:left;
}

.similar_products .pro_con{
	margin-right:10px;
}

.newsletter_inp .btn-primary{
	    padding: 11.5px 20px;
}

.rate-review{
	display:block;
}

#discount-coupon-form .input-text{
	    width: 135px;
}

.display-single-price .cart-table .cart-links > li{
	    display: inline;
}

.display-single-price .cart-table .cart-links{
	    width: 50px;
}

.right-box-left {
    float: left;
    padding: 25px 0px -1px 10px;
}
.cart-item {
    float: left;
    margin: 0px;
    padding: 0px;
}


.cart-val {
    float: right;
    margin-top: 0px;
}
.cart-item p {
    margin: 2px 0px 8px 0px;
}
.right-box-left {
	margin-top:0px;
	padding-top:0px;
}

.right-box-left h1 {
    padding: 4px 0px 0px 0px;
}
.right-box-right{
	font-size:13px;
}

.mini_cart a.trigger_mini span{
	    top: 0px;
		right:-3px;
}
.bot_header .nav.navbar-nav li a{
    font-size: 15px;
    padding: 0 12px 0px 12px;
}
	.faceButton, .twitterButton{
		margin-right:5px;
		
	}
	
	.rating_block{
		width:100%;
		float:left;
	}
	
	.rate-rating{
		float:left;
	}
		.rating_block{
		width:100%;
		float:left;
	}
	
	.rate-rating{
		float:left;
	}
	
	.col-tot-6{
			width:100% !important;
}
.col-tot-12{
		width:100% !important;
}
.col-tot-4{
		width:100% !important;
}
.col-tot-3{
		width:100% !important;
}
.image-holder-box img{
	width:100%;
}
.block-compare .block-content .block-title {
    width: 17%!important;

}

.block-compare .block-content .product-name a{
	    color: #434343;
	font-weight:normal; font-family: 'Lato', sans-serif;font-size:12px;		white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-transform: capitalize;
}
	.direct_sell {
    height: 40px;
    margin:0px auto  10px auto;
	width:165px;
	
}

	.products-list .product-shop .product-primary, .products-list .product-shop .desc{
		  padding-right: 15px;
	}
	.products-list .product-price{
		    padding-left: 10px;
	}
	.products-list .product-shop{
	
}
.view-btn a{
	width:100%;
}

.block-compare .actions a {
    float: right;
    margin-top: 10px;
    padding: 8px 14px 6px;
}


.block-compare .block-content li.item {
    width: 13%;
    float: left;
    position: relative;
    top: -21px;
}

	.list_pan{
		 margin-bottom: 40px;
	}
	
	 .products-list .product-shop .product-primary, .products-list .product-shop .desc{
width:100%;

}


.products-list .product-shop .product-secondary {
    float: left;
    width: 100%;
}

	.right_panel .success-msg {
    width: 96%;
    float: left;
    top: 0px;
    position: absolute;
    border-right: 0px #fff solid;
}

.small_products .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    margin: 0px 2px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}


.small_products .owl-carousel .owl-item {
    margin-right: 3px!important;
}	
}
@media (min-width: 768px) and (max-width: 991px) {
.small_products .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    margin: 0px 1px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}


.small_products .owl-carousel .owl-item {
    margin-right: 3px!important;
}	
	
	.right_panel .success-msg {
    width: 96%;
    float: left;
    top: 0px;
    position: absolute;
    border-right: 0px #fff solid;
}

	
	.col-tot-4 {
    min-width: 600px !important;
    left:0px!important;
}

.col-tot-4  .col-md-4{
	width:50%;
	float:left;
}
	 .products-list .product-shop .product-primary, .products-list .product-shop .desc{
width:100%;

}


.products-list .product-shop .product-secondary {
    float: left;
    width: 100%;  padding-left: 15px;
}
	
	.list_pan{
		 margin-bottom: 30px;
	}
	.block-compare .block-content {
    margin-top: 5px;
    padding: 0px 20px 0px 10px;
}
	.products-list .product-shop .product-primary, .products-list .product-shop .desc{
		  padding-left: 15px;
	}
	.products-list .product-price{
		    padding-left: 10px;
	}
	.products-list .product-shop{
		  padding-left: 0px;
	}
		.direct_sell {
    height: 40px;
    margin:0px auto  10px auto;
	width:165px;
	
}


.direct_sell img{
	width:100%;
}
	.sorter label {
    float: left;
    margin-right: 10px;
    color: #414141;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    line-height: 19px;
    margin-top: 5px;
}
	#cssmenu{
		border-left:0px;
		border-right:0px;
		margin-bottom:10px;
	}
	
	.products-list li .product-image {
    float: left;
    width: auto;
    position: relative;
}
		.rating_block{
		width:100%;
		float:left;
	}
	
	.rate-rating{
		float:left;
	}
	.btn-add-cart a {
    padding: 10px 7px;
    background: #60bb22;
    margin-bottom: 10px;
    color: #909090;
    border: 1px #ccc solid;
    border-radius: 5px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    width: 154px;
    float: right;
    height: 44px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.discount-btn{
	width:100%;
}
	.skip-link{
		line-height:32px;
	}
	.cart-item p {
    margin: 2px 0px 5px 0px;
}
	.right-box-left h1 {
    padding: 0px 0px 0px 0px;
}
	.no_mar_mob{
		margin:0;	
	}
	.no_leftpad{
		padding-left:15px;	
	}

	.right_slide {
		padding-left: 15px;
		padding-top: 15px;
	}
	.slide_right{
		width:100%;
		float:left;
		border-radius:4px;
	}	
	.slide_right:last-child{
		width:100%;	
	}
	.left_panel .panel{
		width:45%;
		float:left;	
	}
	.left_panel .panel:nth-child(2n){
		float:right;	
	}
	.left_panel .panel:nth-child(3n){
		clear:left;	
	}
	.left_panel .panel:nth-child(4) .panel-body .tot_pad{
		max-height:none;	
	}
	.left_panel .panel-body .tot_pad{
		max-height:305px;
		overflow:scroll;	
	}
	.left_panel .panel-body.special_padd p{
		margin:30px 0 20px;	
	}
	#content-1 {
		max-height: 240px;
	}
	.home #content-1{
		max-height: 305px;	
	}
	.similar_products .price_listing{
		min-width: 100%;
		font-size: 16px;	
		text-align:center;
	}
	.menu_subinner ul li{
		font-size:14px;	
	}
	.top_foot .col-sm-6.col-md-3:nth-of-type(3){
		clear:left;	
	}
	.sub_maincats {
		left: 15px;
		position: absolute;
		right: 15px;
		top: -782px;
	}
	.lefted_total.nopad_right{
		padding-right:15px;	
	}
	
	
	
	.right_head {
    float: left;
    margin-left: 40px;


}

.left-bottom-image img{
	width:100%;
}

.left-bottom-pic {

    width: 31.8%;

}

.mr15 {
    margin-right: 15px!important;
}

	.mini_cart{
	float:right;
	margin:0px 0px 0px 0px!important;
	padding:0px!important;
}

.right-box-left h1 span {
    font-size: 16px;
}

.right-box-left {
    float: left;
    padding: 7px 0px 0px 10px;
}

.more{
	    left: 42%;
}
.testimonial-area{
	    padding: 15px 100px;
}
.head-title{
	font-size:40px;
}

.dots {
    position: absolute;
    bottom: -38px;
    right: 40%;
}

.left-bottom-pic{
	margin-bottom:15px;
	height:auto;
	
}

.left-bottom-image{
	height:auto;
}

.bot_header .nav.navbar-nav li a{
font-size: 13px;
padding: 0 6px 0px 0px
}

.nav.navbar-nav li:last-child a {
    padding: 0px 0px 0px 0px;
}
.sorter {
    float: left;
    margin-bottom: 5px;
    width: 58%;
}
.select-wrapper{
	width: 160px;
}
.iconset a.icon span {

    margin-right: 2px;
    padding: 15px;
}

.log_box{
	padding: 0px 20px 0px 0px;
}

.customer_box-1{
	padding-left:20px!important;
}
.customer_box{
	padding: 0px 0px 0px 0px;
}
.social-btn img {
    margin-left: 6px;
    float: left;
    width: 48%;
}

.sub_btn{
	padding:10px 40px;
}


.sign_box {
    display: table;
    margin-top: 30px;
    padding: 27px 0 27px 0px;
    width: 100%;
}

.sign_box h1, .sign_box h2{
	padding-left:15px;
}


.logo-slider .logo-block .logo-thumb {
    background: #fff none repeat scroll 0 0;
    margin: 0;
    padding: 0 25px;
    text-align: center;
    width: 100%;
}

.list_img_text {
    float: left;
    padding-left: 10px;
    width: 480px;
}

.productlist-box-con  .productlist-box .productlist-image img{
	max-width:100%;
	height:auto;
}
.product-box-con .product-box .product-image img {
    height: auto;
    width: 100%;
}


.pro-overlay-iconset {
    left: 20%;
    margin-top: 35%;
    padding: 0 15px;
    position: absolute;
}


.review-text {
    float: right;
    width: 74%;
	padding-left:15px;
}

.main-wrapper{
	width:100%;
	float:left;
}
.iconset {
    margin-top: 30%;
    padding: 0 27px;
}

.col-sm-offset-1 {
    margin-left: 0%;
    padding: 0px;
}

.social-widget{
	width:100%;
	float:left;
	text-align:right;
}


.product-shop{
	width:225px;
}

.right_prodet .product-price {
    width: 211px;
    float: right;
	padding-left:20px;
}

.btn-add span{
	padding-left:10px;
	font-size:14px;
}

.btn-compare a{
	padding:10px 15px 10px 50px;
	font-size:14px;
}

.descript_main {
    float: left;
    padding: 20px 0;
    width: 56%!important;
}

.recent-view {
    width: 40%;
}

.recent-view h1{
	text-align:center;
	font-size:19px;
}
.review-sec{
	width:100%!important;
}

.recent-view h2, .recent-view .price_listing{
	text-align:center;
}
.review-text h1{
	margin:0px;

}
.recent-view-con{
	height:auto;
}

.shop-cart .col-left{
	width:100%;
}
.shop-cart .col-right{
		width:100%;
}

.display-single-price .cart-table .cart-links{
	width: 50px;
    margin: 0px auto;
}

.display-single-price .cart-table .cart-links > li{
	min-width:20px;
	width:20px;
	display:inline;
}

#discount-coupon-form .input-text{
	    width: 203px;
}

.left_panel .panel-body .tot_pad{
	border:1px #ccc solid;
	margin-bottom:15px;
}

.cart-item {

    margin: 5px 0px 0px 0px;

}

.cart-val{
margin-top: 5px;}



.mini_cart a.trigger_mini span{
	right:3px;
}


#discount-coupon-form .button2 span {
    width: 80px;
}


	.col-tot-6{
			width:100% !important;min-width: 200px!important;
}
.col-tot-12{
		width:100% !important;
}
.col-tot-4{
		width:100% !important;
}
.col-tot-3{
		width:100% !important;
		
}

.image-holder-box img{
	width:100%;
}
.block-compare .block-content .block-title {
    width: 17%!important;

}


.block-compare .block-content .product-name a{
	    color: #434343;
	font-weight:normal; font-family: 'Lato', sans-serif;font-size:11px;		white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-transform: capitalize;
}

	.bot_topfoot {
    padding: 0 15px;
}

.social-btn{
	width:100%;
}

.view-btn a{
	width:100%;
}


.pro-qty input[type=text].qty {
    width: 2em;
    text-align: center;
    vertical-align: middle;
}
.add-link {
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.add-link a {
    padding: 10px 15px 10px 52px;
    background: url(../images/like-icon.png) 10px 12px no-repeat;
    margin-bottom: 10px;
    color: #909090;
    border: 1px #ccc solid;
    border-radius: 5px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    display: block;
    height: 44px;
    width: 100%;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
}


.add-link a:hover{
	color:#fff;
	padding: 10px 15px 10px 52px;
	background:#60bb22 url(../images/like-hover.png) 20px 12px no-repeat;
	margin-bottom:10px;
	color: #fff!important;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	height:44px;
	font-family: 'Lato', sans-serif
}



.add-compare {
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.add-compare a:hover {
    padding: 10px 15px 10px 52px;
    background: url(../images/compare-icon.png) 10px 12px no-repeat;
    margin-bottom: 10px;
    color: #909090;
    border: 1px #ccc solid;
    border-radius: 5px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    display: block;
    height: 44px;
    width: 100%;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
}
.add-compare a {
    padding: 10px 15px 10px 52px;
    background: url(../images/compare-icon.png) 10px 12px no-repeat;
    margin-bottom: 10px;
    color: #909090;
    border: 1px #ccc solid;
    border-radius: 5px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    display: block;
    height: 44px;
    width: 100%;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
}


.minicart-wrapper {
    padding: 10px;
    width: 85%;
    float: left;
    background: #fff;
    position: absolute;
    z-index: 9999;
    right: 10px;
    border: 1px #ccc solid;
    top: 40px;
}


.block-compare .actions a {
    float: right;
    margin-top: 10px;
    padding: 8px 8px 6px;
}


.block-compare .block-content li.item {
    width: 13%;
    float: left;
    position: relative;
    top: -21px;
}

.btn-holder-box .button{
	    padding: 7px 8px;
}

}
@media (max-width: 767px) {



	.top-con-mob{
		padding-top:30px;
	}
	
	.breadcrumb li.current_bred {
    color: #093a61;
    font-weight: bold;
    line-height: 27px;
}
	.vert_cen .btn-primary{
		width:100%;
	}
	.newsletter_inp  .success-msg{
    color: #76d833;
    text-align: left;
    padding-bottom: 4px;
	
}
.newsletter_inp  .error-msg{
	color:red;text-align: left;
    padding-bottom: 4px;
	
}
	#open_popup {
    width: 400px;
    background: #f0f0f0;
    padding: 10px 0px;
}
	.magnify{
		display:none;
	}
	.add-compare{
	display:none;
}
	.cart-table .cart-links > li > a{
	text-align:right;padding-top:15px;
    }
	.productlist-box-con .productlist-box .productlist-image img{
		    max-width: 217px;
	}
	.no-rating{
		text-align:left;
	}
	.container-header {
    margin: 52px 0 45px 0px;
    text-align: center;
    width: 100%;
    float: left;
}
.add-link{
	margin-top:10px;
}
	.review-sec h4 {
    text-align: left;
    margin-top: 40px;
}
	.social-btn{
	width:100%;
}
	direct_sell {
    height: 40px;
    margin-bottom: 10px;
    width: 195px;
    margin: 0px auto 10px auto;
}
.direct_sell > img{
	width:auto;
}
.block-compare{
	display:none;
}

.review-form h3 {
    margin: 0;
}	
.review-form .buttons-set{
	width:90%;
}
.nav_left .navbar-nav > li:first-child > .dropdown-menu {
	position:static;min-width:100%!important;


}
.name_rating{
	  padding-top: 10px;
}

.nav_left .navbar-nav > li:nth-child(2) > .dropdown-menu {
	position:static;min-width:100%!important;
}



.nav_left .navbar-nav > li:nth-child(3) > .dropdown-menu {
	position:static;min-width:100%!important;
}



.nav_left .navbar-nav > li:nth-child(4) > .dropdown-menu {
	position:static;min-width:100%!important;
}


.nav_left .navbar-nav > li:nth-child(5) > .dropdown-menu {
	position:static;min-width:100%!important;
}


.nav_left .navbar-nav > li:nth-child(6) > .dropdown-menu {
	position:static;min-width:100%!important;

}

.nav_left .navbar-nav > li:nth-child(7) > .dropdown-menu {
	position:static;min-width:100%!important;

}

.nav_left .navbar-nav > li:nth-child(8) > .dropdown-menu {
	position:static;min-width:100%!important;
}	
	
	

	
	
.bot_header .nav.navbar-nav li a:hover {
	color: #fff;
	background:none;
	display:block;
}	
	
	.bot_header .nav.navbar-nav li a {
		background:none;
	}
	
.social-widget{
	margin-top:10px;
}
.skip-link{
	line-height:35px;
	padding-right:10px;
}
	.col-sm-offset-1{
		margin-left:0px;
	}
	.social-btn img {
    margin-left: 0px;
    float: none;
    width: auto;
}
	.nav_left{
		padding:0 15px;	
	}
	.nav_left .nav.navbar-nav{
		margin:0;	
	}
	.bot_header > .container{
		padding-bottom:10px;
		padding-top:10px;	
	}
	header .right_head{
		clear:both;	
	}
	.tot_navicnpanel{
		display:block;	
	}
	.bot_header{
		clear:both;	
	}
	.tot_navicnpanel {
		display: block;
		float: left;
		position: relative;
		width:100%
	}
	.top_foot h5 a{
		display:block;
		color:#fff;	
	}
	.top_foot h5 a:hover{
		color:#fff;	
	}
	.top_foot .col-sm-6{
		border-bottom:1px solid #ccc;	
	}
	.no_mar_mob{
		margin:0;	
	}
	.top_foot .bot_topfoot{
		padding-top:15px;
		border-bottom:none;	
	}
	.top_foot{
		padding:30px 0 40px;	
	}
	.left_panel .panel-heading{
		text-align:left;	
	}
	.breadcrumb li::after{
		position:relative;
		top:2px;
		line-height:22px;	
	}
	.breadcrumb{
		border-top:1px solid #c0c0c0;
		padding:10px 0 10px 15px;	
	}
	.breadcrumb li{
		font-size:14px;
		line-height:22px;	
	}
	.right_prodet {
		clear: both;
		margin-top: 20px;
	}
	.similar_products {
		padding: 35px 15px;
	}
	.similar_products .list_pan:last-child{
		margin-bottom:0;	
	}
	.no_leftpad {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
	.right_slide {
		padding: 1px 0 0;
	}
	.lefted_total .left_panel{
		padding:0;
		margin:10px 0px;	
	}
	.nopad_right{
		padding-right:15px;	
	}
	.mr15{
		margin-right:0;	
	}
	.collapse_icn{
		display:block;	
	}
	.search_cont{
		margin-bottom:15px;	
	}
	.right_panel .listing_block:last-child{
		margin-bottom:0;	
	}
	.right_panel .listing_block:last-child .bx-wrapper{
		margin-bottom:0;	
	}
	.lefted_top{
		display:none;
	}
	.righted_top{
		float:right;	
	}
	.logo_col{
		padding-bottom:10px;
		margin-bottom:10px;
		border-bottom:1px dashed #fff;	
	}
	.logo_col:last-child{
		padding-bottom:0;
		margin-bottom:0;
		border:none;	
	}
	.list_pan{
		float:left;
		width:50%;
		clear:none;	
		margin-bottom:30px;
	}
	.list_pan .btn-primary{
		min-width:25%;	
	}
	.pro-slide .owl-next,.pro-slide .owl-prev{
		font-size:25px;	
	}
	.descript_main{
		padding:40px 15px;	
	}
	.tab_sub{
		width:100%;	
		text-align:center;
	}
	.tab_rowcell img{
		display:inline-block;	
	}
	.tab_rowcell .col-xs-12.col-sm-3.col-md-2:last-cild{
		margin-bottom:0;	
	}
	.owl-carousel-list-menu .item{
		text-align:center;	
	}
	.owl-carousel..owl-carousel-list-menu .owl-item img{
		width:auto;
		max-width:100%;
		display:inline-block;	
	}
	.sub_maincats {
		border: 1px solid #d4af37;
		height: 100%;
		left: 0;
		max-height: 100% !important;
		overflow: scroll;
		position: fixed;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 9;
	}
	.tab_mob{
		display:table;
		height:100%;
		width:100%;
		table-layout:fixed;	
	}
	.sub_catinner{
		display:table-cell;
		width:100%;
		vertical-align:middle;	
	}
	.for_mob {
		color: #d4af37;
		display: block;
		font-size: 22px;
		left: 0;
		margin-top: 17px;
		position: absolute;
		text-align: center;
		text-transform: capitalize;
		top: 0;
		width: 100%;
	}
	
	
	.right_slide{
		width:100%;
		float:left;
	}
	
	.left-bottom-pic{
		width:100%;
		float:left;
		margin-bottom:15px;
	}
	
	
	.testimonial-area {
	background:url(../images/blue-bg.png) no-repeat fixed center center / cover ;
    color: #fff;
    min-height: 484px;
    position: relative;
    z-index: 1;
	padding:55px 100px;
	text-align:center;
}




.slide_right_overlay{
	width:100%;
	
}



.testimonial-area{
	padding: 55px 20px;
}

	
.left-bottom-image{
	border-radius: 4px;
    height: 185px;
    margin: 0px auto;
    float: none;
    width: 278px;
}
	
	.price_listing {
    min-width: 100%;
}

.list_pan{
width:100%;margin-bottom:30px!important;
}


 .right_slide .btn-primary{
	text-align: center;
    margin: 0px auto;
    width: 250px;
    float: none;
    display: block;

}
.head-title{
	font-size:38px;
}

.right_slide{
	 
	background:url(../images/rightprod1.jpg)  no-repeat 50% 100% / cover ;
	margin-bottom:1px;
	position:relative;
	padding:25px 18px 16px 18px;
	text-align:center;
	max-width:100%;
		
			
}
.pr0{
	padding-right:0px;
	padding-left:0px;
}

.right-panel-logo {
    margin-bottom: 32px;
    width: 216px;
    margin: 20px auto;
}
.right_slide .rightpanel-txt{
	    padding-bottom: 10px;
}



.no_pad_mob{
	padding:0px;
}
.sorter{
	width:100%;
}
.sorter > .sort-by{
	width:100%;
	 margin-top: 10px;
    margin-bottom: 10px;
}
.sorter > .view-mode{
	float:left;
	margin:10px 0px;
	width:100%;
}

.pager{
	float:left;
	width:100%;
}

.pager > .count-container{
		float:left;
	width:100%;
}
.pager .amount{
	margin:10px 0px;
	float:left;
}


.pager .limiter > label {
    float: left;
    padding-right: 8px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 8px;
}

.select-wrapper{
	float:left;
}
.products-list li .product-image {
    float: left;
    width: 100%;
}

.products-list .product-shop {
    float: left;
    padding-left: 0px;
    width: 100%;
}

.products-list .product-price {
    float: left;
    padding-left: 0px;
   width: 100%;
   padding-bottom:15PX;
}
.product-price .btn-primary{
	    width: 150px;
	
}
.productlist-box-con {
    height: auto;
}
.productlist-box-con .productlist-box .productlist-image {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.delivery-txt{
	 text-align: center;
	 padding-left:0px;
}

.products-list .price_listing{
	 text-align: center;
}
.product-name a{
	 text-align: center;
}
.products-list .product-des{
	 text-align: center;
}


.view-btn{
	width:150px;
	margin:auto;
	clear:both;
}

.iconset a.icon span{
	margin-right:4px;
}


.log_box{
	padding:0px;border:none;
}
.customer_box{
	padding:0px;border:none;
}
.sign-right-box {
    float: none;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
	
}

.sign_box{
	padding:0px;
	border:0px;
}


.logo-slider .logo-block .logo-thumb {
    background: #fff none repeat scroll 0 0;
    margin: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.owl-carousel .owl-item img{
	width:auto;
}
.logo-slider .logo-block .logo-thumb{
	padding:0px;
}

.contact .input-group-1 {
    float: left;
    margin-right: 15px;
    text-align: center;
    width: 45%;
}
.contact .input-group-2 {
    float: left;
    text-align: center;
    width: 45%;
}
.contact form .submit{
	margin-left:0px;
}



.list_img_box {
    float: left;
    margin: 0px;
    width: 100%!important;
	text-align:center;
}

.list_img_text {
    float: left;
    width:100%!important;
	text-align:center;
	padding:10px 0px;
}

.no_pad_mob{
padding:0px;
}
.news_block h1{
	 font-size: 23px;
	 line-height:30px;
}

.feed-btn{
	    padding: 12px 30px;
}
.hover-overlay{
	height:100%;
}

.descript_main{
	padding:0px 0px 20px 0px;
}

.top_prod_details{
	padding:0px;
}

.main-wrapper{
	width:100%;
	float:left;
}

.recent-view{
	width:100%;
	float:left;
}

.review-text {
    text-align: center;
    width: 100%;
}

.recent-view .price_listing{
	text-align:center;
}
.recent-view h1{
		text-align:center;
}
.recent-view h2{
	text-align:center;
	width:100%;
	float:left;
}

.recent-view-con {
    height: 100%;
}

.recent-view-con {
    float: left;
    height: 100%;
    width: 100%;
}


.review-box-grid{
	width:100%;
	float:left;
}
.review-box-wrapper {
    display: block;
    float: none;
    height: 165px;
    margin: 20px auto;
    max-width: 100%;
    padding: 15px;
    width: 165px;
}

.descript_main h4{
	text-align:center;
}

.similar_products{
	padding:0px 15px;
}


.left-txt{
	text-align:left!important;
}

.big_img {
    margin-top: 30px;
}

.rate-review {
    display: inline;
}

.mini_cart a.trigger_mini span {
    background: #0c5086 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    height: 28px;
    line-height: 27px;
    padding: 0 6px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 6px;
    width: 27px;
}
.mini_cart{
	right:9px;
}

.pro-overlay-iconset{
	display:none;
}

#cssmenu ul ul li {

  z-index:999;
  position:relative;
  height:auto;
  
}
#cssmenu ul ul li ul{
  min-height:auto!important;
  positon:inherit!important;
  top:0px!important;
}


#cssmenu ul ul li ul li{
height:100%;
}
  #cssmenu ul ul li ul li ul{
	  
	min-height:auto!important;
  position:static;
  top:0px!important;
  }
  
   #cssmenu ul ul li ul li ul li a{
	   padding-left:50px;
   }
  #cssmenu ul ul ul li ul li a{
	 background: #60bb22 url("../images/bullet-arw.png") no-repeat scroll 40px 12px;
}













.nav_left .navbar-nav > li:first-child > .dropdown-menu {
	position:none;
	left:0px;
}


.nav_left .navbar-nav > li:nth-child(2) > .dropdown-menu {
	position:none;
	left:0px;
}



.nav_left .navbar-nav > li:nth-child(3) > .dropdown-menu {
	position:none;
	left:0px;
}



.nav_left .navbar-nav > li:nth-child(4) > .dropdown-menu {
	position:none;
	left:0px;
}


.nav_left .navbar-nav > li:nth-child(5) > .dropdown-menu {
	position:none;
	left:0px;
}


.nav_left .navbar-nav > li:nth-child(6) > .dropdown-menu {
	position:none;
	left:0px;
	width:23%;
}




.nav_left .navbar-nav > li:last-child > .dropdown-menu {
	position:none;
	right:0px;
}




.shop-cart .col-right{
width:100%;
}

.shop-cart .col-left{
width:100%;
}
.product-cart-info{
width:100%;
}
.cart-table .product-cart-image .product-image{
width:100%;
}

.display-single-price .cart-table .cart-links > li{
	margin:0px;
	width:100%;
	min-width:100%;
	display:inline;
}
.shop-cart h2.product-name a{
	text-align:left;
}

.cart-table .button2 span{
	font-size:16px!important;
}
.pager .amount{
	margin: 3px 0;
}
.left_panel .panel-body .tot_pad{
	margin-bottom:0px;
	padding-bottom:0px;
}

.block, .col-left-first{
		margin-bottom:0px;
}

.left_panel .block{
	padding:0px 15px;
}


.country-selector{
	 max-width: 100%;
    width: 365px;
}
.my-account .pager .limiter {
    float: right;
    height: 30px;
    line-height: 30px;
}

	
	.review-form h4{
		font-size:18px;
	}
	
	#facacc .question h3 {
    width: 90%;
    float: left;
    margin: 0;
    padding: 0 0 0 35px;
    font-size: 16px;
    line-height: 24px;
    color: #12598f;
    font-family: 'Lato', sans-serif;
    text-transform: none;
}

.mob-pd15{
	padding-left:15px;
}

#carousel-example-generic {
display:none;
}
.left-bottom-image{
display:none;
}
.left-bottom-pic{
display:none;
}
}
@media (min-width: 641px) and (max-width: 767px) {

#catalog-listing .price_listing {
    text-align: center;
}	
.review-form .form-list {
    width: 280px;
}
	
	.navbar-brand {
		float: left;
		max-width: 34%;
		padding: 10px;
		position:relative;
	}
	.op_men.pull-left{
		position:absolute;
		bottom:9px;
		top:auto;
		right:-29px;	
	}
	header .right_head{
		float:right;
		clear:none;	
	}
	.left_righthead {
		float: left;
		margin-top: 12px;
	}
	.mini_cart {
		float: right;
		margin-top: 13px;
	}
	.mini_cart a.trigger_mini{
		width:40px;
		height:40px;	
	}
	.mini_cart a.trigger_mini img{
		max-width:100%;	
	}
	.vert_slider p:first-child {
		font-size: 40px;
		line-height: 50px;
	}
	.mob_clear{
		clear:both;	
	}
	.select_drop{
		width:50%;	
	}
	.right_head{
		float:right;
		margin-top:20px;
		width:60%;	
	}
	.tab_rowcell .col-xs-12.col-sm-3.col-md-2.md50{
		width:50%;	
	}
	
	.right-box-left {
    float: left;
    padding: 2px 0px 0px 10px;
}

.dots {
    position: absolute;
    bottom: -40px;
    right: 40%;
}

.more{
	left:40%;
}

.products-list .product-shop{
	    width: 40%;
}
.products-list .product-price{
	   width: 30%;
}

.products-list li .product-image{
	 width: 30%;
}

.productlist-box-con .productlist-box .productlist-image img{
	width:195px;  padding: 20px 40px 20px 0px;
}
.product-des p{
	text-align:left;
}
.sorter > .view-mode {
    float: left;
    margin: 10px 0px;
    width: 50%;
}


.sorter > .sort-by {
    width: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.iconset {
    bottom: 40%;
    padding: 0 22px;
    position: absolute;
    z-index: 999;
}


.iconset a.icon span {
    margin-right: 1px;
    padding: 10px;

}


.pro-overlay-iconset{
	   left: 35%;
	    bottom: 45%;
}

 .social-widget {
    text-align: right;
    width: 37%;
    float: right;
    clear: both;
}


.right_prodet .product-shop{
	width:50%;
	float:left;
}


.right_prodet .product-name a{
	text-align:left;
}

.img_port{
	width:100px;
	height:100px;
}

#discount-coupon-form .input-text{
	    width: 160px;
}

.cart-totals .button2 span, .button2 span span{
	font-size:16px;
}


.my-account .page-title .title-heading{
	width:57%;
}
.print-order {
    margin-top: 10px;
}
.right-box-left h1 {
    padding: 0px 0px 0px 0px;
}
.mini_cart {
    right: 0px;
    top: -7px;
}
  .my-account .pager > .count-container {
    float: right;
    width:45%;
}
.direct_sell {

    height: 40px;
    margin-bottom: 10px;
    width: 195px;
    margin: 0px auto 10px auto;
}

.right_panel .success-msg {
    border-right: 0 solid #fff;
    float: left;
    position: absolute;
    top: 0;
    width: 95%;
}

.small_products .owl-carousel .owl-item {
    margin-right: -2px!important;
}
	.small_products .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    margin: 0px 20px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
}




@media (max-width: 640px) {
	.descript_main{
	padding:0px 0px 20px 0px;
}
	.small_products .owl-carousel .owl-item {
    margin-right: -2px!important;
}
	
	
	.small_products .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    margin: 0px 20px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
	
		.wishlist {
		margin-top:20px;
	}
	.productlist-box-con .productlist-box .productlist-image img {
    width: 195px;
}
	.direct_sell {

    height: 40px;
    margin-bottom: 10px;
    width: 195px;
    margin: 0px auto 10px auto;
}
.right-box-left h1 {
    padding: 0px 0px 4px 0px;
}
	.navbar-brand{
		width:100%;
		text-align:center;	
	}
	.navbar-brand > img,.navbar-brand a{
		display:inline-block;
		float:none !important;	
	}
.mini_cart {
    bottom: 98px;
    clear: both;
    float: left;
	right: 9px;
    margin-top: 19px;
    position: absolute;
}
	.mini_cart img{
		max-width:100%;	
	}
	.left_righthead ul li a{
		font-size:14px;	
	}
	.left_righthead p{
		font-size:14px;	
	}
	.mini_cart a.trigger_mini{
		width:40px;
		height:40px;
		top:74px;	
	}
	.left_righthead{
		margin-top:5px;	
	}
	.vert_slider p:first-child {
		font-size: 28px;
		line-height: 30px;
	}
	h2{
		font-size:18px;	
	}
	.top_header {
		padding-bottom: 4px;
		padding-top: 4px;
	}
	.left_righthead ul{
		width:100%;
		text-align:center;	
	}
	.left_righthead ul li{
		float:none;
		display:inline-block;	
	}
	.left_righthead p{
		text-align:center;	
	}
	.listing_prod .bx-wrapper{
		position:static;
	}
	.listing_prod{
		position:relative;	
	}
	.navbar-toggle{
		margin-top:6px;	
	}
	.select_drop select{
		background-size:36px;
		padding-right:36px;	
	}
	.select_drop{
		width:100%;
		padding-left:19px;
		margin-bottom:15px;	
	}
	.right_head{
		clear:both;
	}
	.op_men.pull-left{
		display:inline-block;
		float:none !important;
		top:0;	
	}
	.menu_subinner, .menu_sub_inner{
		margin-top:-5px;	
	}
	.menu_subinner ul li{
		font-size:16px;
		line-height:35px;
		width:50%;	
	}
	.menu_subinner ul li:nth-child(2n){
		text-align:right;	
	}
	.menu_subinner ul li:nth-child(2n+1){
		clear:left;	
	}
	.tab_rowcell .col-xs-12.col-sm-3.col-md-2.md50{
		width:50%;	
	}
	
.dots {
    position: absolute;
    bottom: -50px;
    right: 40%;
}
.right-box-left {
    float: left;
    padding: 8px 0px 0px 10px;
}	

.productlist-box-con .productlist-box .productlist-image img {
   width: auto;
    height: auto;    padding: 20px 40px 20px 0px;
}
.products-list .product-shop{
	    width: 40%;padding:0px 10px;
}
.products-list .product-price{
	   width: 30%;
}

.products-list li .product-image{
	 width: 30%;
}


.sorter > .view-mode {
    float: left;
    margin: 10px 0px;
    width: 50%;
}


.sorter > .sort-by {
    width: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.iconset {
    bottom: 40%;
    padding: 0 18px;
    position: absolute;
    z-index: 999;
}


.iconset a.icon span {
    margin-right: 1px;
    padding: 10px;

}
.pro-overlay-iconset{
	   left: 35%;
	    bottom: 45%;
}


.social-widget {
    text-align: right;
    width: 39%;
    float: right;
    clear: both;
}

.right_prodet .product-shop{
	width:50%;
	float:left;
}


.right_prodet .product-name a{
	text-align:left;
}

.img_port{
	width:100px;
	height:100px;
}

#discount-coupon-form .input-text{
	    width: 147px;
}

.my-account .page-title .title-heading{
	width:57%;
}
.print-order {
    margin-top: 10px;
}

  .my-account .buttons-set button.button{
	   padding: 10px 13px!important;
	   width:90px;
  }
  
  .my-account .pager > .count-container {
    float: right;
    width: 50%;
}
  
 .right_panel .success-msg {
    border-right: 0 solid #fff;
    float: left;
    position: absolute;
    top: 0;
    width: 95%;
} 
  
}



@media (max-width: 540px) {
	.more{
		    left: 37%;
	}

#discount-coupon-form .input-text {
    width: 80%;
}
.cart-table .product-cart-info{
	width:100%;
}
.cart-table .product-cart-image .product-image img {
    display: block;
    float: none;
    margin: 0 auto;
    width: 200px;
	border:1px #e7e8e7 solid;
}

.display-single-price .cart-table .cart-links > li{
	    margin: 0px;
    width: 50%!important;
    min-width: 50%;
	float:right;
}
.cart-table .product-cart-image {
    float: left;
    padding-bottom: 0;
    width: 100%;
}
.cart-table .product-cart-actions .qty {
    margin-right: 7px;
    margin-top: 0px;
}

  .cart-table .product-cart-actions{
	  float:right;
	      padding-bottom: 0;
    padding-top: 0;width:30%;
  }
  
  .product-cart-actions{
	  padding-left:40px;
  }
  
  
  .cart-table .product-cart-price {
    padding-bottom: 0;
    padding-top: 0;
    float: left;width:70%;
  }
.shop-cart .carttable .cart-table .product-cart-info, .cart-table .product-cart-actions{
    padding-top: 15px;
    width: 100%;
    float: left;
}
.cart-table .product-cart-info .btn-remove {
    float: right;
    margin: -4px 38px 2px 0px;
}
.cart-table .product-cart-actions{
	padding-left:25%!important;
}

.link-wishlist{
	    width: 200px;
    margin-top: 15px;
}


   .product-cart-price{ padding-top: 25px!important;
    line-height: 2px!important;
    padding-bottom: 22px!important;}

.right_panel .success-msg {
    border-right: 0 solid #fff;
    float: left;
    position: absolute;
    top: 0;
    width: 95%;
}

}

@media (max-width: 480px) {
	
	.descript_main {
    padding: 110px 0px 20px 0px;
}
	
	.cart-table .product-cart-actions {
    padding-left: 5%!important;
}
.link-wishlist {
    width: auto;
    margin-top: 15px;
}
		.more{
		left:35%;
	}
	
	.right-box-left {
    float: left;
    padding: 8px 0px 0px 10px;
	padding-top:1px;
}


.mini_cart {
    bottom: 95px;

}

.dots {
    position: absolute;
    bottom: -48px;
    right: 36%;
}

.delivery-txt{
	 text-align: center;
	 padding-left:0px;
}

.products-list .price_listing{
	 text-align: center!important;
}

.products-list .product-shop{
	    width: 100%;
}
.products-list .product-price{
	   width: 100%;
}

.products-list li .product-image{
	 width: 100%;
}

.sorter > .view-mode {
    float: left;
    margin: 10px 0px;
    width: 100%;
}


.sorter > .sort-by {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.iconset {
    left: 31%;

}

.img_port {
/*    border: 1px solid #d6d6d6;*/
/*    height: 67px;*/
    margin: 0 auto;
    padding: 0;
/*    width: 67px;*/
}
.product-shop{
	text-align:center;
}

.right_prodet .product-price {
    width: 197px;
    float: none;
	margin:0px auto;
	max-width:100%;
	clear:both;
}


.social-widget {
    float: none;
    margin: 10px auto;
    text-align: center;
	width:240px;
}

.listing_content {
    margin-top: 10px;
  
}

.discount-btn{
	text-align:center;
}


.right_prodet .product-shop{
	width:100%;
	float:left;
	text-align:center;
}
.right_prodet .product-name a{
	text-align:center;
}


.display-single-price .cart-table .cart-links > li{
	margin:0px;
	width:100%!important;
	min-width:100%;
}

#discount-coupon-form .input-text{
	width: 285px;
}

.cart-table .product-cart-image .product-image img{
	max-width:auto;
	width:auto;
}
	.display-single-price .cart-table .cart-links{
    margin: 15px 0px 0px 0px!important;
    width: 100%!important;
    min-width: auto!important;
    float: left!important;
}


.display-single-price .cart-table .cart-links > li{
	    margin: 0px;
    width: 50%!important;
    min-width: 50%;
}

.sorter > .sort-by .sort-by-switcher {
    margin-top: 115px!important;
}

.cart-table .product-cart-info{
	width:100%;
}
.cart-table .product-cart-image .product-image img {
    display: block;
    float: none;
    margin: 0 auto;
    width: 200px;
	border:1px #e7e8e7 solid;
}

.display-single-price .cart-table .cart-links > li{
	    margin: 0px;
    width: 50%!important;
    min-width: 50%;
	float:right;
}
.cart-table .product-cart-image {
    float: left;
    padding-bottom: 0;
    width: 100%;
}

.edit{
	margin-left:75px;
}

.cart-table .product-cart-info, .cart-table td[data-rwd-label]{
	width:100%;
}

.my-account .page-title .title-heading{
	  font-size: 18px;
}
.print-order{
	margin-top:0px;
}
  .my-account .buttons-set button.button{
	   padding: 10px 13px!important;
	   width:90px;
  }
.my-account .buttons-set button.btn-add{ min-width:135px!important;
}
  
 .my-account .buttons-set button.btn-share{
 min-width:130px!important;
 }
  
 .my-account .buttons-set button.btn-add{
	min-width:130px!important;
 }
 
 
 
 
 
 
 
.my-account .pager .limiter {
    float: right;
    height: 30px;
    line-height: 30px;
	margin:0px;
}

.my-account .limiter label{
	display:block;
}

  .my-account .pager > .count-container {
    float: right;
    width:60%;
}
	.review-form .form-list {
    width: 285px;
}

.review-form .buttons-set {
    width: 92%;
}

.right_prodet .product-des{
	width:100%;
	float:left;
}

.rate-rating{
	float:left;
}

.rate-review{
		float:left;
}

.ratings {
    margin: 7px auto;
    width: 204px;
    float: none;
    text-align: center;
}

 
 #carousel-example-generic {
    height: 190px;
}

.right_panel .success-msg {
    border-right: 0 solid #fff;
    float: left;
    position: absolute;
    top: 0;
    width: 93%;
}

.small_products .owl-carousel .owl-item {
    margin-right: -3px!important;
}
}



@media (max-width: 479px) {
	.descript_main {
    padding: 90px 0px 20px 0px;
}
	.pro-qty input[type=text].qty {
    width: 2.5em;
    text-align: center;
    vertical-align: middle;
}
	 
 #carousel-example-generic {
    height: 150px;
}
	
	.forgot .fieldset p.required{
		width:100%;
		float:left;
	}
	.forgot .buttons-set .button{
		width:auto!important;
	}
	.social-widget{
		margin:15px 0px;
		width:100%;
		float:left;
	}
	.right_prodet .delivery-txt{
		text-align:left;
	}
	.btn-add-cart{
		float:left!important;
		margin-left:10px;
	}
	.clear-fix{
		clear:both;
		width:100%;
		float:left;
	}
	
	.ratings{
		width:100%;
	}
	.review-form h4{
			font-size:17px;
	}
		.review-form h3 span{
			font-size:17px;
		}
	.review-form .form-list {
    width: 230px;
}
	.test_block{
		padding-top:0;
		text-align:center;
		padding-left:0;	
	}
	.test_mainimg{
		position:relative;
		margin:0 auto 15px;	
	}
	.righted_top {
		text-align: center;
		width: 100%;
	}
	.lefted_top {
		padding-top: 5px;
		text-align: center;
		width: 100%;
	}
	.lefted_top ul li{
		float:none;
		display:inline-block;	
	}
	.righted_top p{
		width:100%;	
	}
	.list_pan{
		width:100%;
		clear:both;	margin-bottom:30px;
	}
	.menu_subinner ul li{
		font-size:16px;
		line-height:35px;
		width:100%;
		text-align:left;
		padding-right:0;	
	}
	.menu_subinner ul li:nth-child(2n){
		text-align:left;	
	}
	.tab_rowcell .col-xs-12.col-sm-3.col-md-2.md50{
		width:100%;	
	}
	
	
	.right-box-left h1{
		font-size:13px;
	}
	.right-box-left{
		padding-top:0px;
	}
	.right-box-left h1 span{
	font-size: 14px;
	}
	
	.mini_cart{
	    bottom: 97px;
    right: 8px;
	}
	
	
 .right_slide .btn-primary{
	text-align: center;
    margin: 0px auto;
    width: 100%;
    float: none;
    display: block;

}
.more{
		left: 30%;
	}
	
	
	.head-title {
    font-size: 30px;
}
	
	.head-title span {
    font-size: 35px;
}
.news_content h1{
	font-size:16px;
}

	.dots {
    position: absolute;
    bottom: -45px;
    right: 28%;
}

.right_slide{
	padding:10px;
}
.productlist-box-con .productlist-box .productlist-image {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.delivery-txt{
	 text-align: center;
	 padding-left:0px;
}

.products-list .price_listing{
	 text-align: center!important;
}

.products-list .product-shop{
	    width: 100%;
}
.products-list .product-price{
	   width: 100%;
}

.products-list li .product-image{
	 width: 100%;
}
.sorter > .view-mode {
    float: left;
    margin: 10px 0px;
    width: 100%;
}


.sorter > .sort-by {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.iconset a.icon span {
    margin-right: 1px;
    padding: 10px;

}


.iconset a.icon span{
	margin-right:8px;
}

.iconset {
    left: 20%;
}
.log_box h1{
	font-size:22px;
}
.customer_box h1{
	font-size:22px;
}
.social-btn img {
    margin-left: 15px;
    margin-bottom: 15px;
}

.sub_btn{
	width:100%;
}
.customer_box .register-btn{
		width:100%;
}

.log_box .register-btn{
		width:100%;
}

.sign-right-box {
    float: none;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
	
}

.sign_box{
	padding:0px;
	border:0px;
}

.pro-overlay-iconset{
	   left: 20%;
	   bottom:45%;
}


.right_prodet .product-price {
    float: left;
    width: 100%;
}

.img_port img {
    height: auto;
    margin: 0px auto;
}

.img_port {
/*    border: 1px solid #d6d6d6;*/
   /* height: 84px;*/
    margin: 0 auto;
    padding: 0;
    /*width: 84px;*/
}

.right_prodet .product-name a{
	text-align:left;
}

.right_prodet .product-shop{
	text-align:left;
}

.listing_content {
    margin-top: 10px;
  
}

.cart-table .product-cart-info, .cart-table td[data-rwd-label]{
	width:100%;
}

.cart-table .product-cart-image{
		width:100%;
}
#discount-coupon-form .input-text{
	    width: 180px;
}

.cart-table .cart-footer-actions #empty_cart_button{
	float:none;
}
.cart-table .cart-footer-actions .btn-continue{
		float:none;
}

.display-single-price .cart-table .cart-links{
    width: 135px;
    float: right;}

.cart-table .cart-links > li > a{
	text-align:right;
}

.display-single-price .cart-table .cart-links > li{
	width:100%;
}

.pager .limiter{
	 margin-right: 80px;
	 float:right;
}


.cart-table .product-cart-info{
	width:100%;
}
.cart-table .product-cart-image .product-image img {
    display: block;
    float: none;
    margin: 0 auto;
    width: 200px;
}

.display-single-price .cart-table .cart-links > li{
	    margin: 0px;
    width: 50%!important;
    min-width: 50%;
	float:right;
}

.edit{
	margin-left:0px;
}

.my-account .page-title .title-heading{
	text-align:center;
	width:100%;
	font-size:19px;
}
.print-order{
	margin-top:20px;
}

.right-box-left h1{
	    padding: 6px 0px 4px 0px;
}
  .skip-link {
    line-height: 42px;
    padding-right: 10px;
}

  .my-account .pager > .count-container {
    float: left;
    width: 100%;
}
  .my-account .buttons-set button.btn-update{ min-width:100%!important;margin:5px auto;float:none;
}
  
 .my-account .buttons-set button.btn-share{
 min-width:125px!important;    margin: 5px auto 5px 35px;
 }
  
 .my-account .buttons-set button.btn-add{
	min-width:125px!important;margin:5px auto 5px 5px;
 }
 
 #wishlist-table.clean-table td{
	padding:0px 15px;
}

.img_port img {
    height: auto;
    margin: 5px auto;
}
.review-form .form-list {
    width: 240px;
}
.review-form .buttons-set{
	width:92%;
}

.direct_sell {
    height: 40px;
    margin-bottom: 10px;
    width: 195px;
    margin: 0px auto 10px auto;
}

#recaptcha_response_field{
	width:200px!important;
}
#recaptcha_image{
	width:200px !important;
}
#recaptcha_image img{
	max-width:100% !important;
}

.right_panel .success-msg {
    border-right: 0 solid #fff;
    float: left;
    position: absolute;
    top: 0;
    width: 90%;
}

.small_products .owl-carousel .owl-item {
    margin-right: -13px!important;
}
}
@media (max-width: 360px) {
	.small_products .owl-carousel .owl-item {
    margin-right: -4px!important;
}

.direct_sell {

    height: 40px;
    margin-bottom: 10px;
    width: 195px;
    margin: 0px auto 10px auto;
}
	.more{
		left: 29%;
	}
.iconset a.icon span {
    margin-right: 1px;
    padding: 10px;

}


.iconset a.icon span{
	margin-right:8px;
}

.iconset {
    left: 18%;
}
.img_port img {
    height: auto;
    margin: 0px auto;
}

.img_port {
/*    border: 1px solid #d6d6d6;
    height: 84px;*/
    margin: 0 auto;
    padding: 0;
/*    width: 84px;*/
}
.cart-table .product-cart-info, .cart-table td[data-rwd-label]{
	width:100%;
}

.cart-table .product-cart-image{
		width:100%;
}
#discount-coupon-form .input-text{
	    width: 167px;
}

.cart-table .cart-footer-actions #empty_cart_button{
	float:none;
}
.cart-table .cart-footer-actions .btn-continue{
		float:none;
}

.display-single-price .cart-table .cart-links{
    width: 135px;
    float: right;}

.cart-table .cart-links > li > a{
	text-align:right;padding-top:15px;
}

.display-single-price .cart-table .cart-links > li{
	width:100%;
}

.sorter label{
	margin-right:20px;
}


.pager .limiter{
	 margin-right: 55px;
	 float:right;
}


  .skip-link {
    line-height: 42px;
    padding-right: 10px;
}
  .my-account .pager > .count-container {
    float: left;
    width: 100%;
}


  .my-account .buttons-set button.btn-update{ min-width:100%!important;margin:5px auto;float:none;
}
  
 .my-account .buttons-set button.btn-share{
 min-width:125px!important;  margin: 5px auto 5px 25px;
 }
  
 .my-account .buttons-set button.btn-add{
	min-width:125px!important;margin:5px auto 5px 5px;
 }
 
 .review-form .buttons-set {
    width: 92%;
}

.review-form .form-list {
    width: 240px;
}

#recaptcha_response_field{
	width:200px!important;
}
#recaptcha_image{
	width:200px !important;
}
#recaptcha_image img{
	max-width:100% !important;
}

.right_panel .success-msg {
    border-right: 0 solid #fff;
    float: left;
    position: absolute;
    top: 0;
    width: 90%;
}

.small_products .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    margin: 0px 10px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}


}
@media (max-width: 320px) {
	
		.review-form .form-list {
    width: 230px;
}
	.left-bottom-image{
	width:auto;
}

.left-bottom-image img{
	width:100%;
}
	.mini_cart{
	    bottom: 100px;
    right: 1px;
	}
	
	.more{
		left: 24%;
	}
	
	.dots {
    position: absolute;
    bottom: -45px;
    right: 28%;
}


.select-wrapper{
	float:left;
}
.sorter > .sort-by .sort-by-switcher{
	 margin-top: 115px;
}
.iconset a.icon span {
    margin-right: 1px;
    padding: 10px;

}


.iconset a.icon span{
	margin-right:8px;
}

.iconset {
    left: 15%;
}

.pro-overlay-iconset{
	   left: 10%;
	   bottom:45%;
}

.recent-view h1{
	font-size:18px;
}
.img_port img {
    height: auto;
    margin: 0px auto;
}

.img_port {
/*    border: 1px solid #d6d6d6;
*/   /* height: 65px;*/
    margin: 0 auto;
    padding: 0;
 /*   width: 65px;*/
}

.cart-table .product-cart-info, .cart-table td[data-rwd-label]{
	width:100%;
}

.cart-table .product-cart-image{
		width:100%;
}
#discount-coupon-form .input-text{
	    width: 125px;
}

.cart-table .cart-footer-actions #empty_cart_button{
	float:none;
}
.cart-table .cart-footer-actions .btn-continue{
		float:none;
}

.display-single-price .cart-table .cart-links{
    width: 135px;
    float: right;}

.cart-table .cart-links > li > a{
	text-align:right;
}

.display-single-price .cart-table .cart-links > li{
	width:100%;
	float:right;
}



.pager .limiter{
	 margin-right: 16px;
	 float:right;
}
  .data-table.orders .separator{
	  display:none;
  }
  
  .my-account .form-list .control label{
	  float:left;
	  width:100%;
  }
  
  .mini_cart a.trigger_mini span{
	  top:9px;
  }
  
  .skip-link {
    line-height: 42px;
    padding-right: 10px;
}

  .my-account .pager > .count-container {
    float: left;
    width: 100%;
}
  .my-account .buttons-set button.btn-update{ min-width:100%!important;margin:5px auto;float:none;
}
  
 .my-account .buttons-set button.btn-share{
 min-width:126px!important;margin:5px auto!important;
 }
  
 .my-account .buttons-set button.btn-add{
	min-width:126px!important;margin:5px auto 5px 5px;
 }
 
 #carousel-example-generic {
    height: 150px;
}

.direct_sell {

    height: 40px;
    margin-bottom: 10px;
    width: 195px;
    margin: 0px auto 10px auto;
}


.review-sec h4 {
    text-align: center;
    margin-top: 40px;
}

#recaptcha_response_field{
	width:200px!important;
}
#recaptcha_image{
	width:200px !important;
}
#recaptcha_image img{
	max-width:100% !important;
}

.add-compare{
	display:none;
}
#open_popup {
    width: 230px;
    background: #f0f0f0;
    padding: 10px 0px;
}

#open_popup h1{
	line-height:30px !important;
}

.right_panel .success-msg {
    border-right: 0 solid #fff;
    float: left;
    position: absolute;
    top: 0;
    width: 90%;
}

.small_products .owl-carousel .owl-item {
    margin-right: -6px!important;
}


.small_products .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    margin: 0px 10px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.right-box-left h1 {
    padding: 6px 0px 4px 0px;
}

	.descript_main {
    padding: 60px 0px 20px 0px!important;
}
}