@charset "utf-8";
/* CSS Document */


body {
	background: #f4f4f4;
	font-family: 'Lato', sans-serif;
}
a:hover, a:focus {
	color: #034984;
	text-decoration: none;
}
/*............common styles..........*/

.newsletter_inp .btn-primary i {
	margin-left: 10px;
}
.m30 {
	margin-bottom: 30px;
}
.m10 {
	margin-top: 10px;
}
.m20 {
	margin-top: 20px;
}
.md50 {
	margin-bottom: 50px;
}
.p30 {
	padding-top: 30px;
}
.m60 {
	margin-top: 60px;
}
.pr0 {
	padding-right: 0px;
}
.md10 {
	margin-bottom: 10px;
}
.nopad_right {
	padding-right: 0;
}
.nomargin {
	margin: 0;
}
.nopad {
	padding: 0px;
}

.mr15 {
	margin-right: 15px;
}
.mr10 {
	margin-right: 10px;
}
.no_leftpad {
	padding-left: 0;
}


.textBox {
	font-size: 16px;
	line-height: 18px;
	padding: 8px 15px;
	border-radius: 3px;
	background: #fff;
	border: none;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	font-family: 'Lato', sans-serif;
	font-style: italic;
}
.textBox:focus {
	background: #D8F0FB;
	color: #000;
}
.textBox_bord_variety {
	background: transparent;
	border: 1px solid #d6d6d6;
	font-size: 16px;
	line-height: 40px;
	color: #414141;
	height: 40px;
}
h2 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-family: 'Lato', sans-serif;
}
h3 {
}
/* Animation delays */
#carousel-example-generic {
	position: relative;
}
#carousel-example-testimonial {
	position: relative;
}
#carousel-example-generic .item {
	background-size: cover !important;
	background-position: 0 0;
	background-repeat: no-repeat;
}
#carousel-example-generic .item {
	background-size: cover !important;
	background-position: 0 0;
	background-repeat: no-repeat;
}
/*..................header section.............*/

.top_header {
	padding: 10px 0px;
	background: url(../images/header-bg.png) repeat;
}
.navbar-brand img {
	width: 100%;
}
.right_head {
	float: right;
}
.right-box {
	border: 2px #fff solid;
	border-radius: 5px;
	margin-top: 12px;
	width: 100%;
	float: left;
	position:relative;
}

.right-box span{
	color: #60bb22!important;
}

.right-box-left {
	float: left;
	padding: 15px 0px 5px 10px;
}
.right-box-left h1 {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	color: #fff;
}
.right-box-left h1 span {
	color: #60bb22!important;
	font-size: 19px;
	font-weight: bold;
	display: block;
	    line-height: 28px;
    padding-top: 4px;
}
.right-box-right {
	background: #fff;
	border-radius: 2px;
	float: right;
	width: 56%;
	padding: 9px 10px;
	color: #888888;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
}
.cart-item {
	padding-top: 4px;
	padding-left: 0px;
}
.cart-item p {
	margin: 0px 0px 5px 0px;
}
.mini_cart {
	float: right;
}
.cart-item span {
	color: #60bb22;
	font-size: 13px;
}
.mini_cart a.trigger_mini {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	font-family: 'Lato', sans-serif;
	padding-top: 17px;
}
.mini_cart a.trigger_mini span {
    background: #0c5086 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff!important;
    font-size: 15px;
    font-weight: normal;
    height: 30px;
    line-height: 27px;
    padding: 0 6px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: 0px;
    width: 30px;
}

.minicart-wrapper{
	padding:10px;
}


.minicart-wrapper .block-subtitle{
	  background: #60bb22 none repeat scroll 0 0;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    padding: 5px;
	color:#fff;
}

.minicart-wrapper .close{
	color:#fff;
	opacity:1;
	line-height:16px;
}



.minicart-wrapper .product-name a{
	 font-family: "Lato",sans-serif;
    font-size: 14px;
	color:#093a61;
	padding:0px;
	margin:0px;
}

.minicart-wrapper .input-text{
	width:50px;
	margin-top:7px;
	text-align:center;
	margin-bottom:15px;
}
.minicart-wrapper .cart-link{
		background:#60bb22;
	border-radius:3px;
	padding:8px 12px;
    border: 0 none;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.minicart-wrapper.button.disabled {
    background: #1e6ca2 none repeat scroll 0 0;
    cursor: not-allowed;
    height: 27px;
    margin: 0;
    opacity: 0.6;
    padding: 0;
    position: relative;
    top: -2px;
    width: 45px;
}
.minicart-wrapper .subtotal span.label{
	 color: #337ab7;
	  font-size: 14px;
}

.minicart-wrapper .subtotal{
	width:200px;
	margin:15px auto;
}
.compare-table table tr{
	border-bottom:1px #ccc solid;
}
.product-shop-row{
		border-bottom:1px #ccc solid;
}

.product-shop-row th{
	border:0px;
}



.catalog-product-compare-index .btn-remove, .btn-previous {
    display: inline-block;
    width: 25px;
    height: 27px;
    border: 1px solid #ccc;
  background: #60bb22;
  color:#fff;
    text-align: center;
    font: 0/0 a;
    text-shadow: none;
    /* line-height: 19px; */
    color: transparent;
    position: relative;
}
.compare-table table tr .even{
	border-bottom:1px #ccc solid;
}
.quantity-button{
  background: #1e6ca2;
  display: inline-block;
  padding: 0px;
  border: 0;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
   height: 27px;
   padding:4px 15px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  position:relative;
  top:-2px;	
}
.quantity-button:hover{
	background: #1e6ca2;
}

.minicart-wrapper th{
	color:#337ab7;
	padding-right:10px;
}

.minicart-wrapper .qty-wrapper{
	margin-bottom:5px;
}



.bot_header {
	background: #093a61;
}
.bot_header .nav.navbar-nav {
	padding-left: 0;
}
.bot_header .nav.navbar-nav li {
	list-style-type: none;
	position:relative;
}

.bot_header .nav.navbar-nav li.dropdown{
	display:block!important;
}
.bot_header .nav.navbar-nav li a {
	font-size: 15px;
	line-height: 48px;
	color: #fff;
	font-weight: 600;
	padding: 0 21px 0px 20px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	background:#093a61;
	position:relative;
}
.navbar-collapse {

	padding: 0px;
}
.bot_header .nav.navbar-nav li:last-child a {
	background: none;

}
.bot_header .nav.navbar-nav li a:hover {
	color: #093a61;
}

.dropdown-menu > li > a:hover{
		color: #093a61!important;
}
.search_panel {
	width: 100%;
	float: left;
}
.search_cont {
	width: 100%;
	position: relative;
}
.search_cont .textBox {
	height: 40px;
	width: 100%;
	margin-top: 8px;
	padding-right:30px;
}
.search_btn {
	background: url(../images/search_icn.png) no-repeat 0 0;
	width: 24px;
	height: 24px;
	position: absolute;
	z-index: 3;
	right: 0;
	border: none;
	text-indent: -9999px;
	top: 18px;
	right: 6px;
	padding: 0;
}
.head_at_top {
	padding: 8px 0;
	background: #60bb22;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
.righted_top p {
	font-size: 16px;
	color: #f4f4f4;
	line-height: 24px;
	margin: 0;
}
.righted_top select {
	font-size: 16px;
	color: #fff;
	line-height: 24px;
	background: #333333 url(../images/arrow_sel.png) no-repeat 97% center;
	float: right;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none !important;
}
.phn_tophead {
	float: right;
}

.phn_tophead a{
	color:#fff;
}
.phn_tophead span {
	margin-left: 20px;
}
.phn_tophead i {
	margin-right: 10px;
	font-size: 18px;
}
/*.content-bg{
	background: #bcdaf4 url(../images/content-bg.png) no-repeat;
}*/
/*........slider............*/

.tot_layer {
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
}
.abs_mid {
	width: 100%;
	height: 250px;
	position: absolute;
	top: auto;
	margin-top: 0;
	left: 0;
	margin-left: 0;
	z-index: 5;
	text-align: left;
	bottom: 0;
	padding-left: 35px;
}
.abs_mid .btn-primary, .abs_text-slide .btn-primary {
	font-size: 23px;
	line-height: 30px;
	padding: 9px 30px;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
}
.abs_text-slide .btn-primary {
	padding: 4px 25px;
}
.main-content {
	background: #fff;
	width: 100%;
	padding: 15px;
	float: left;
}
.main-wrapper {
	background: #fff none repeat scroll 0 0;
	float: left;
	padding-bottom:40px;
}
.left_slide {
	padding-right: 0;
	padding-left: 0;
}
.right_slide {
	background: url(../images/rightprod1.png) no-repeat;
	margin-bottom: 1px;
	position: relative;
	padding: 25px 15px 16px 15px;
	text-align: center;
	max-width: 260px;
}
.right_slide img {
	width: 100%;
}
.right_slide .btn-primary {
	padding: 16px 15px 17px 15px;
	border-radius: 5px;
}
.slide_right {
	height: 511px;
	margin-bottom: 1px;
	position: relative;
	text-align: center;
}
.right_slide h1 {
	color: #60bb22;
	font-size: 27px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 0px;
}
.slide_right:nth-child(3) {
	margin-bottom: 0;
}
.slide_right_overlay {
	background: url(../images/rightpro-bg.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: 0px;
	width: 95%;
	height: 511px;
	padding: 15px;
}
.right_slide .rightpanel-txt {
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	text-align: center;
	padding-top: 97px;
	border-bottom: 1px #aeaeae solid;
	padding-bottom: 30px;
	margin-bottom: 32px;
	line-height: 32px;
}
.left-bottom-pic {
	float: left;
	width: 32.1%;
	height: 185px;
	border-radius: 4px;
}
.left-bottom-image {
	border-radius: 4px;
	height: 185px;
}
.left-bottom-image img {
	width: 100%;
}
.right-panel-logo {
	margin-bottom: 32px;
}
.new-pic {
	height: 198px;
}
.product-box-con {
	height: 145px;
	padding-top: 15px;
}
.product-box-con .product-box {
	display: table;
	width: 100%;
	height: 100%;
}
.product-box-con .product-box .product-image {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: none;
}
.product-box-con .product-box .product-image img {
	max-width: 225px;
	height: auto;
	display:inline;
}
.testimonial-area {
	background: url(../images/blue-bg.png) no-repeat;
	color: #fff;
	min-height: 484px;
	position: relative;
	z-index: 1;
	padding: 55px 100px;
	text-align: center;
}
.testimonial-txt {
	color: #ffffff;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
	padding: 0px 20px;
	line-height: 32px;
}
.testiholder {
	color: #a4d5fd;
	font-family: 'Lato', sans-serif;
	font-size: 16px;height:40px;
}
.testiholder span {
	color: #fff;
	font-weight: bold;
}
.dots {
    position: absolute;
    bottom: -57px;
    right: 45%;
    width: auto;
    padding: 0px 25px;
}
.head-title {
	color: #ffffff;
	font-size: 50px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.head-title span {
	font-weight: 600;
	font-size: 50px;
}
.client-thumb {
	margin: 20px 0 25px;
}
.client-thumb img {
	border: 7px solid #2085b3;
}
.cart-item {
	float: left;
}
.cart-val {
	float: right;
	margin-top: 5px;
}
/*.............maincontent...............*/

.maincontent {
	padding: 35px 0 30px;
	clear: both;
}

.left_panel{
	margin-top:40px;
	
}


.left_panel .panel-default {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: transparent;
}
.left_panel .panel-heading {
	font-size: 17px;
	line-height: 24px;
	color: #f4f4f4;
	padding: 12px 20px;
	background: #67c627;
	border-radius: 0;
	border: none;
	text-transform: uppercase;
}
.left_panel .panel-body {
	font-size: 17px;
	line-height: 35px;
	padding: 0;
}
.left_panel .panel-body .tot_pad {
	padding: 15px 10px;
}
.left_panel .panel-body.newsletter_panel .tot_pad {
	background: #e5e5e5;
	padding-bottom: 40px;
}
.left_panel .panel-body.newsletter_panel .tot_pad .form-group label {
	font-size: 18px;
	line-height: 26px;
	color: #8d8d8d;
	font-weight: 400;
}
.left_panel .panel-body.newsletter_panel .tot_pad .form-group {
	margin-bottom: 20px;
}
.left_panel .panel-body.newsletter_panel .tot_pad .form-group .form-control {
	font-size: 18px;
	line-height: 44px;
	color: #333333;
	height: 44px;
	background: #f4f4f4;
	border: 1px solid #d0d0d0;
}
.left_panel .panel-body.newsletter_panel .tot_pad .form-group textarea.form-control {
	line-height: 22px;
	height: 74px;
	resize: none;
}
.left_panel .panel-body.newsletter_panel .tot_pad .form-group .form-control::-webkit-input-placeholder {
 color: #d2d1d1;
}
 .left_panel .panel-body.newsletter_panel .tot_pad .form-group .form-control:-moz-placeholder { /* Firefox 18- */
 color: #d2d1d1;
}
 .left_panel .panel-body.newsletter_panel .tot_pad .form-group .form-control::-moz-placeholder {  /* Firefox 19+ */
 color: #d2d1d1;
}
 .left_panel .panel-body.newsletter_panel .tot_pad .form-group .form-control:-ms-input-placeholder {
 color: #d2d1d1;
}
.left_panel .panel-body a {
	font-size: 15px;
	line-height: 30px;
	color: #434343;
	display: block;
	padding:0px;
	font-family: 'Lato', sans-serif;
}
.left_panel .panel-body a:hover {
	color: #67c627;
}
.left_panel .panel {
	margin-bottom: 30px;
	margin-top: 35px;
}
.left_panel .panel-body h1 {
	color: #093a61;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 0px 0px 10px 0px;
	margin: 0px;
	font-weight: 600;
	text-transform: uppercase;
}
.nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.nav li a {
	font-size: 15px;
	line-height: 30px;
	color: #434343;
	display: block;
	list-style: none;
}
.showMore {
	color: #60bb22;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-transform: capitalize;
}
.showMore .fa {
	padding-right: 5px;
}
.left_panel hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border: 0;
	border-top: 1px solid #ccc;
}
.listing_block {
	width: 100%;
	float: left;
}
.listing_block_heading {
	position: relative;
	width: 100%;
	float: left;
	margin-bottom: 40px;
}
.listing_title_heading h1 {
	color: #093a61;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	text-align: left;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}
.listing_block_heading h2 {
	margin: 0;
	text-transform: uppercase;
	padding-bottom: 10px;
	position: relative;
	z-index: 3;
	text-align: center;
	color: #0c5086;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}
.listing_block_heading h2 span {
	font-weight: 600;
}
.listing_block_heading:after {
	content: '';
	width: 10%;
	height: 3px;
	background: #ebebeb;
	position: absolute;
	bottom: 0;
	z-index: 2;
	left: 45%;
	text-align: center;
}
.toolbar {
	background: #fff none repeat scroll 0 0;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	width: 100%;
	float: left;
	margin-bottom: 15px;
	padding: 10px 0 0;
	margin-top: 24px;
}


.sorter {
	float: left;
	margin-bottom:10px;
	width: 50%;
}
.sorter p {
	margin-bottom: 0;
}
.sorter label {
	float: left;
	margin-right: 10px;
	color: #414141;
	margin-bottom:0px;
	margin-top:5px;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	line-height:24px;
}
.sorter label::after {
	content: ":";
}
.sorter > .sort-by {
	float: left;
	height: 30px;
	margin-right: 5px;
}
.sort-by .select-wrapper select option {
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-top-colors: none !important;
	background: #fff none repeat scroll 0 0 !important;
	border-color: -moz-use-text-color #c9c9c9 #c9c9c9 !important;
	border-image: none !important;
	border-style: none solid solid !important;
	border-width: 0 1px 1px !important;
}
.sorter > .view-mode {
	float: right;
	margin-top: 3px;
}
.sorter > .view-mode .grid {
		background: url(../images/grid-view.png) no-repeat;
	background-position: 0px 0px;
	margin-right: 0;
	outline: medium none;
	text-indent: -9999px; margin-top: 6px;
}
.sorter > .view-mode .list {
	float: left;
	margin-top: 6px;
	outline: medium none;
	width: 30px;
	background: url(../images/list-view.png) no-repeat;
	background-position: 0px 0px
}

.sorter > .view-mode .list:hover {

	background: url(../images/list-view-hover.png) no-repeat;
}


.sorter > .view-mode .grid_view{
	background: url(../images/grid-view-hover.png) no-repeat;
	background-position: 0px 0px;
	margin-right: 0;
	outline: medium none;
	text-indent: -9999px;
}

.sorter > .view-mode .grid:hover {
	background-position: 0px 0px;
	background: url(../images/grid-view-hover.png) no-repeat;
}


.sorter > .view-mode strong.list{
	background: url(../images/list-view-hover.png) no-repeat;	margin-right: 0;
	outline: medium none;
	text-indent: -9999px;
	
}
.pager {
	float: right;
	overflow: hidden;
	margin: 0px;
}
.pager > .count-container {
	float: left;
}
.pager .amount {
	color: #414141;
	float: left;
	font-family: "OpensansSemibold", Verdana, Arial, sans-serif;
	font-size: 16px;
	margin: 4px 15px 0 0;
	text-transform: uppercase;
	white-space: nowrap;
}
.amount strong {
	color: #414141;
	font-size: 16px;
	font-weight: normal;
}
.amount strong span {
	font-weight: bold;
}
.pager .limiter {
	float: left;
	height: 30px;
	line-height: 30px;
}
.pager .limiter > label {
	float: left;
	padding-right: 8px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top:3px;
}
.pager .limiter > label::after {
	content: ":";
}
.pager .amount, .pager .limiter, .pager .pages {
	margin-bottom: 5px;
}
.select-wrapper {
	border: 1px solid #ccc;
	height: 32px;
	padding-bottom: 4px;
	width: 160px;
	float: left;
	margin-bottom: 15px;
	color: #818181;
	font-size: 14px;
}
.select-wrapper select {
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	background: url(../images/drop-arw.png) no-repeat 95% 9px;
	border: medium none;
	color: #818181;
	font-size: 14px;
	outline: 0 none;
	padding-left: 10px;
	width: 98%;
	font-family: 'Lato', sans-serif;
	border: none;
	line-height: 22px;
	margin-top: 4px;
}
.sort-wrapper {
	border: 1px solid #ccc;
	height: 32px;
	padding-bottom: 4px;
	width: 91px;
	float: left;
	margin-bottom: 15px;
	color: #818181;
	font-size: 14px;
}
.sort-wrapper select {
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	background: url(../images/drop-arw.png) no-repeat 95% 9px;
	border: medium none;
	color: #818181;
	font-size: 14px;
	outline: 0 none;
	padding-left: 10px;
	width: 98%;
	font-family: 'Lato', sans-serif;
	border: none;
	line-height: 22px;
	margin-top: 4px;
}
.limiter .select-wrapper select option {
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-top-colors: none !important;
	background: #fff none repeat scroll 0 0 !important;
	border-color: -moz-use-text-color #c9c9c9 #c9c9c9 !important;
	border-image: none !important;
	border-style: none solid solid !important;
	border-width: 0 1px 1px !important;
}
.limiter .select-wrapper .holder {
	border: 0 none;
	color: #818181;
	cursor: pointer;
	display: block;
	font-size: 14px;
	overflow: hidden;
	padding: 2px 5px 0;
	position: absolute;
	text-align: left;
	white-space: nowrap;
	width: 86%;
	z-index: -1;
}

.cat_active{
	background-color:#60bb22!important;
}

.active-list {
    color: #60bb22!important;
}
.products-list {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px;
	width: 100%;
	float: left;
}
.products-list ul {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border-bottom: 1px #ccc solid;
}
.products-list li {
	border-bottom: 1px solid #ededed;
	list-style: none;
}
.products-list li:after {
	content: '';
	display: table;
	clear: both;
}
.products-list li .product-image {
	float: left;
	width: 33.33333%;
	position: relative;
}
.products-list li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
.products-list .product-shop {
	float: left;
	padding-left: 20px;
	width: 40.33333%;
	margin-top: 35px;
}
.products-list .product-price {
	float: right;
	padding-left: 20px;
	width: 25.33333%;
	margin-top: 35px;
}
.product-name a {
	color: #0c5086;
	font-size: 18px;
	font-weight: bold;
	padding: 0px 0px 15px 0px;
	margin: 0px;
	display: block;
}
.products-list .product-des {
	font-family: 'Lato', sans-serif;
	color: #434343;
	font-size: 14px;
	line-height: 28px;
}
.right_prodet .product-name a {
	color: #0c5086;
	font-size: 22px;
	font-weight: bold;
	padding: 0px 0px 15px 0px;
	margin: 0px;
	display: block;
	font-family: 'Lato', sans-serif;
}
.right_prodet .product-des {
	color: #434343;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	line-height: 28px;
}
.productlist-box-con {
	height: 230px;
}
.productlist-box-con .productlist-box {
	display: table;
	width: 100%;
	height: 100%;
}
.productlist-box-con .productlist-box .productlist-image {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.productlist-box-con .productlist-box .productlist-image img {
	max-width: 225px;
	height: auto;
}
.delivery-txt {
	color: #0c5086;
	font-size: 16px;
	font-weight: 600;
	width: 100%;
	float: left;
	padding: 15px 0px 15px 15px;
}
.product-price .price_listing {
	height: auto;
	line-height: normal;
}





.product-price .btn-primary {
	background: #fff;
	border: 1px #60bb22 solid;
	border-radius: 5px;
	color: #60bb22;
	font-size: 16px;
	font-weight: 600;
	padding: 11px 0px;
	width: 100%;
	text-transform: uppercase;
}
.hover-overlay {
/*	background: url(../images/transparent.png) repeat;
*/	position: absolute;
	display: none;
	height: 230px;
	top: 0px;
	width: 100%;
}
.hidden {
	visibility: hidden;
}
.iconset {
	padding: 0px 30px;
	margin-top: 30%;
}
.iconset a.icon {
	display: inline;
	font-family: "Lato", sans-serif;
	padding-top: 15px;
	position: relative;
	width: 100%;
}
.iconset a.icon span {
	background: #60bb22 none repeat scroll 0 0;
	border-radius: 100%;
	color: #fff;
	font-size: 17px;
	line-height: 27px;
	padding: 20px 19px;
	text-align: center;
	margin-right: 8px;
}
.more_heading {
	position: relative;
	width: 100%;
	float: left;
	margin-bottom: 40px;
}
.more_heading h2 {
	margin: 0;
	text-transform: uppercase;
	padding-bottom: 10px;
	position: relative;
	z-index: 3;
	text-align: center;
}
.more_heading:after {
	content: '';
	width: 100%;
	height: 1px;
	background: #b9e19e;
	position: absolute;
	bottom: 0;
	z-index: 2;
	left: 0%;
	text-align: center;
}
.more {
	position: absolute;
	background: #ffffff;
	border: 1px #b9e19e solid;
	border-radius: 4px;
	color: #60bb22;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	height: 40px;
	width: 134px;
	line-height: 37px;
	top: -10px;
	left: 45%;
}
.show_sys_msg{
	width:100%;
	float:left;border-left:5px #fff solid;border-right:5px #fff solid;
}
.save {
	background: #60bb22 none repeat scroll 0 0;
	border-radius: 100%;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
    padding: 13px 9px 9px 9px;
	position: absolute;
	right: 4px;
	text-align: center;
	top: 2px;
	width: 87px;
	height: 87px;
}
.save span {
	font-size: 17px;
	font-weight: bold;
	line-height: 25px;
}
.img_cont {
	border: 1px solid #e0e0e0;
}
.listing_content {
	margin-top: 30px;
	padding: 0px 15px;
}
.news_content h1 {
	color: #0c5086;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-align: left;
	padding: 15px 0px 10px 0px;
	margin: 0px;
	text-transform: capitalize;
}
.news_content p {
	color: #686565;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
	text-align: left;
}
.listing_content h4 {
	font-size: 17px;
	line-height: 24px;
	color: #0c5086;
	margin: 0;
	padding-bottom: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: bold;
	text-transform: capitalize;
}
.price_listing {
	font-size: 20px;
	line-height: 42px;
	color: #3a3a3a;
	display: block;
	font-family: 'Lato', sans-serif;
	margin-bottom: 0;
	min-width: 100%;
	height: 40px;
	font-weight: bold;
	text-align: center;
}
.price_listing span {
	color: #ff0000;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-decoration: line-through;
	padding-right: 10px;
}
.btn-primary.add_wish:focus, .btn-primary.add_wish.focus {
	color: #fff;
	background-color: #a11518;
	border-color: #a11518;
}
.btn-primary.add_wish:hover {
	color: #fff;
	background-color: #a11518;
	border-color: #a11518;
}
.bx-wrapper .bx-controls-direction a {
	width: 27px;
	height: 27px;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	font-size: 20px;
	color: #d6d7d7;
	margin-top: 0px;
}
.bx-wrapper .bx-controls-direction a.bx-prev {
	right: 33px;
	background: url(../images/prev_arr.png) no-repeat center center;
}
.bx-wrapper .bx-controls-direction a.bx-next {
	right: 0;
	background: url(../images/next_arr.png) no-repeat center center;
}
.bx-pager {
	display: none;
}
/*............logo_slider styles..........*/

.logo_slider {
	background: #d4af37;
	height: auto;
	position: relative;
	padding: 17px 0;
}
.logo_slider p {
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	margin-bottom: 0;
}
.logo_slider p i {
	margin-right: 15px;
	font-size: 24px;
}
.logo_slider p img {
	margin-right: 15px;
}
/*...........footer styles.................*/

.top_foot {
	padding: 40px 0;
	background: url(../images/footer-bg.png) repeat;
}
/*.top_foot-overlay{
	position:absolute;
	top:0px;
	height:100%;
	 background:url(../images/footer-bg.png) repeat;	

}*/


.top_foot h5 {
	font-size: 16px;
	color: #ffffff;
	line-height: 20px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}
.top_foot ul {
	padding: 0;
}
.top_foot p, .top_foot a {
	font-size: 17px;
	line-height: 25px;
	color: #373737;
	font-family: 'Lato', sans-serif;
	display: block;
}
.top_foot p i, .top_foot a i {
	width: 30px;
	font-size: 18px;
}
.top_foot a:hover {
	color: #60bb22;
}
.top_foot p.mob_foot i {
	font-size: 24px;
}
.top_foot ul li {
	list-style-type: none;
}
.top_foot ul li a {
	font-size: 14px;
	color: #a5a4a4;
	line-height: 32px;
	display: block;
	font-family: 'Lato', sans-serif;
}
.top_foot h5 a {
	color: #373737;
	display: none;
}
.social_icns {
	margin-top: 20px;
	margin-bottom: 20px;
}
.social_icns ul {
	margin: 0px;
	padding: 0px;
}
.social_icns li {
	float: left;
	margin-right: 10px;
	width: 39px;
	height: 39px;
	border: 1px solid #7d7d7d;
	border-radius: 2px;
	list-style: none;
}
.social_icns li.fb:hover {
	background-color: #3b5998;
}
.social_icns li.twit:hover {
	background-color: #4099FF;
}
.social_icns li.linked:hover {
	background-color: #0e76a8;
}
.social_icns li.goog_plus:hover {
	background-color: #d34836;
}
.social_icns a {
	display: block;
	width: 39px;
	height: 39px;
	color: #d0d0d0;
	font-size: 18px;
	display: table;
	table-layout: fixed;
	text-align: center;
}
.social_icns a span {
	display: table-cell;
	vertical-align: middle;
	height: 39px;
	width: 39px;
	line-height: 39px;
	color: #d0d0d0;
}
.social_icns a span:hover {
	color: #60bb22;
}
.bot_foot {
	background: url(../images/footer-bg.png) repeat;
	padding: 20px 0px;
}
.bot_foot p {
	margin: 0;
	color: #5c5c5c;
	font-size: 17px;
	font-family: 'Lato', sans-serif;
}
.bot_foot h1 {
	color: #5c5c5c;
	font-size: 17px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}
.bot_foot .footer-logo {
	padding: 30px 0px 0px 0px;
	float: right;
}
/*..........product_listing..............*/

.breadcrumb {
	padding: 0 15px;
	border-radius: 0;
}
.breadcrumb ul {
	padding-left: 0;
	margin-bottom: 0;
}
.breadcrumb li {
	float: left;
	list-style-type: none;
	font-size: 15px;
	line-height: 50px;
	color: #434343;
	margin-right: 10px;
	font-weight:300;
}
.breadcrumb li a {
color: #434343;
}

.breadcrumb li.current_bred{
	color:#093a61;
	font-weight:bold;
}


.breadcrumb li:after {
	content: '\f105';
	font-family: 'FontAwesome';
	font-size: 20px;
	line-height: 50px;
	color: #093a61;
	margin-left: 10px;
	font-weight: 300;
}
.breadcrumb li:last-child:after {
	display: none;
}
.list_pan {
	margin-bottom: 70px;
	border-radius: 5px;
	width: 100%;
	float: left;
	padding: 0px 0px;
}
.pro_con {
	position: relative;
	width: 100%;
	height: 270px;
}
.pro-overlay {
	/*background: url(../images/transparent.png) repeat;*/
	position: absolute;
	display: none;
	/*height: 270px;*/
	height:50px;
	top: 0px;
	width: 100%;
}
.pro-overlay-iconset {
	margin-top: 50%;
	padding: 0 0px 0px 22px;
}
.select_drop {
	border: 1px solid #dddddd;
	padding-left: 30px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 3px;
	margin-top: -3px;
}
.select_drop p {
	font-size: 17px;
	color: #b9b9b9;
	width: 26%;
	margin: 0;
}
.select_drop select {
	font-size: 17px;
	color: #b9b9b9;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	width: 72%;
	float: right;
	border: none;
	background: transparent url(../images/sel_arr.jpg) no-repeat right center;
	padding-right: 58px;
	outline: 0;
}
.right_prodet h2 {
	color: #414141;
	padding-bottom: 10px;
	border-bottom: 3px solid #c7c7c7;
	margin-top: 0;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
}
.right_prodet p.price_det {
	font-size: 20px;
	line-height: 30px;
	color: #414141;
	font-weight: 800;
	margin-bottom: 13px;
}
.right_prodet p.desc_text {
	font-size: 16px;
	line-height: 30px;
	color: #414141;
	font-weight: 700;
}
.desc_fulltext p {
	font-size: 17px;
	line-height: 24px;
	color: #7c7c7c;
}
.right_prodet p.heading {
	font-size: 16px;
	line-height: 40px;
	color: #414141;
	float: left;
	margin-bottom: 0;
	position: relative;
	width: 23%;
	margin-right: 15px;
}
.right_prodet p.heading:after {
	content: ':';
	margin-right: 0;
	position: absolute;
	right: 0;
}
.right_prodet .total_oneline small {
	font-size: 16px;
	line-height: 40px;
	color: #414141;
	float: left;
	margin-bottom: 0;
}
.right_prodet .textBox_bord_variety {
	width: 44px;
}
.total_oneline {
	float: left;
	width: 100%;
}
.btn-lightblue {
	background: #38b5ed;
	color: #fff;
}
.btn-lightblue i {
	color: #fff;
	margin-right: 15px;
	font-size: 20px;
}
/*.btn-add {
	padding: 10px 15px;
	background: #fff;
	margin-bottom:10px;
	color: #909090;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height:44px;
	font-family: 'Lato', sans-serif;
}
.btn-add i {
	color: #60bb22;
}
.btn-add:hover i {
	color: #fff;
		color: #60bb22;
}

.btn-add a:hover {
	color:#fff;
}

.btn-add a i:hover {
	color:#fff;
}
.btn-add:hover {
	padding: 10px 15px;
	background: #60bb22;
	color: #fff;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	font-family: 'Lato', sans-serif;
}
.btn-add span {
	position: relative;
	top: -5px;
	padding-left:20px;
}

.btn-add span:hover{
	color:#fff;
}
.btn-add .fa {
	font-size: 26px;
}



*/


.btn-add{
		margin-bottom:10px;
		width:197px;
		float:left;
}

.btn-add a {
	padding: 10px 15px 10px 55px;
	background: url(../images/like-icon.png) 20px 12px no-repeat;
	margin-bottom:10px;
	color: #909090;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	display:block;
	height:44px;
	width:100%;
	line-height:21px;
	font-family: 'Lato', sans-serif;
}

.btn-add a:hover{
	color:#fff;
	padding: 10px 15px 10px 55px;
	background:#60bb22 url(../images/like-hover.png) 20px 12px no-repeat;
	margin-bottom:10px;
	color: #fff!important;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height:44px;
	font-family: 'Lato', sans-serif
}


.add-link {
			margin-bottom:10px;
		width:197px;
		float:left;
		margin-top:8px;
}
.add-link a {
	padding: 10px 15px 10px 55px;
	background: url(../images/like-icon.png) 20px 12px no-repeat;
	margin-bottom:10px;
	color: #909090;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	display:block;
	height:44px;
	width:100%;
	line-height:21px;
	font-family: 'Lato', sans-serif;
}

.add-link a:hover{
	color:#fff;
	padding: 10px 15px 10px 55px;
	background:#60bb22 url(../images/like-hover.png) 20px 12px no-repeat;
	margin-bottom:10px;
	color: #fff!important;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height:44px;
	font-family: 'Lato', sans-serif
}







.add-compare {
			margin-bottom:10px;
		width:197px;
		float:left;
}
.add-compare a {
	padding: 10px 15px 10px 55px;
	background: url(../images/compare-icon.png) 20px 9px no-repeat;
	margin-bottom:10px;
	color: #909090;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	display:block;
	height:44px;
	width:100%;
	line-height:21px;
	font-family: 'Lato', sans-serif;
}
.bot_topfoot .validation-advice1{
    color: #c62828!important;
}
.add-compare a:hover{
	color:#fff;
	padding: 10px 15px 10px 55px;
	background:#60bb22 url(../images/compare.png) 20px 9px no-repeat;
	margin-bottom:10px;
	color: #fff!important;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height:44px;
	font-family: 'Lato', sans-serif
}


.state label.required:after, span.required:after{display:none;}


.faceButton, .twitterButton{
	float:left;
	margin-right:10px;
}


.googlePlusOneButton{
	float:left;
	margin-right:0px;
	width:60px;
}


.btn-add-cart .button{
		padding: 10px 10px;
	background: #60bb22;
	margin-bottom:10px;
	color: #fff;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	width:145px;
	float:right;
	height:44px;
	cursor:pointer;
}

.btn-add-cart .button i {
	color: #fff;
	font-size:24px;
}

.btn-add-cart .button span{
	text-transform:capitalize;
		position: relative;
	top: -4px;
	color:#fff;
	padding-left:10px;
}

.btn-add-cart a{
	padding: 10px 10px;
	background: #60bb22;
	margin-bottom:10px;
	color: #909090;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	width:148px;
	float:right;
	height:44px;
	text-transform:capitalize;
	cursor:pointer;
	font-family: 'Lato', sans-serif;
}
.btn-add-cart a i {
	color: #fff;
}
.btn-add-cart a span {
	position: relative;
	top: -4px;
	color:#fff;
	padding-left:10px;
}
.btn-add-cart a .fa {
	font-size: 24px;
}


.pro-qty {
	float:left;
}
.pro-qty input{
	height:44px;
}









.btn-cart-combo {
    padding: 0px 15px;
    background: #60bb22;
    margin-bottom: 10px;
    color: #fff;
    border: 1px #ccc solid;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
    width: 196px;
    height: 45px;
	margin-top:15px;
    font-family: 'Lato', sans-serif;
}
.btn-cart-combo i {
	color: #fff;
}


.btn-cart-combo span {
	position: relative;
	top: -3px;
	color:#fff;
	padding-left:20px;
}
.btn-cart-combo .fa {
	font-size: 26px;
}






.btn-compare{
		margin-bottom:10px;
		width:197px;


}


.btn-compare a {
	padding: 10px 15px 10px 60px;
	width: 100%;
	background: url(../images/compare-icon.png) 20px 8px no-repeat;
	margin-bottom:10px;
	color: #909090;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	height:44px;
	line-height:21px;
	font-family: 'Lato', sans-serif;
}

.btn-compare a:hover{
	color:#fff;
	padding: 10px 15px 10px 60px;
	background:#60bb22 url(../images/compare.png) 20px 8px no-repeat;
	margin-bottom:10px;
	color: #fff!important;
	border: 1px #ccc solid;
	border-radius: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height:44px;
	font-family: 'Lato', sans-serif
}

.social-widget{
	float:right;
	margin-top:40px;
}
.fb_iframe_widget iframe {
    position: absolute;
}
._5jjq {
    border: 1px solid;
	background:red;
    border-color: #e9eaed #e9eaed #d1d1d1;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .15);
}
.btn-grey {
	background: #7e7e7e;
	color: #fff;
}
.btn-primary i {
	font-size: 20px;
	vertical-align: middle;
}
.btn-wishlist {
	padding: 9px 10px;
	margin-left: 10px;
}
.top_prod_details {
	padding-bottom: 55px;
}
.similar_products h1 {
	font-size: 24px;
	line-height: 30px;
	color: #0c5086;
	font-weight: normal;
	 margin: 0 0 20px;
	 text-transform:none;
    padding: 0;
	
}
.similar_products h4 a{
	    font-size: 17px;
		font-weight:bold;
			font-family: 'Lato', sans-serif
}
.products-list .product-shop .product-primary .ratings .rating-box {
    margin: 0px 0;
    float: left;
}
.similar_products {
	width:100%;
	float:left;
}
.collapse_icn {
	color: #fff;
	background-color: transparent;
	border: none;
	outline: 0 !important;
	display: none;
}
.collapse_icn:hover {
	color: #fff;
}
.navbar-toggle {
	border-color: #ccc;
}
.navbar-toggle .icon-bar {
	background: #ccc;
}
.tot_navicnpanel {
	display: none;
}
header .dropdown-menu {
	background: #fff;
	border: 1px solid #d4af37;
}
.newsletter_inp {
	width: 100%;
	position: relative;
}
.newsletter_inp .textBox {
	font-size: 14px;
	line-height: 26px;
	color: #a5a4a4;
	font-style: normal;
	height: 44px;
	border-bottom: 1px solid #999483;
	width: 100%;
	padding: 0px 0px 0px 0px;
	text-align:left;
	border-radius:0px;
	background-color: transparent;
}
.newsletter_inp .btn-primary {
	padding: 11.5px 42px;
	background: #555555;
}
/*.............testimonial_styles...........*/

.test_mainimg {
	width: 147px;
	height: 147px;
	overflow: hidden;
	border-radius: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.test_block {
	padding-left: 200px;
	position: relative;
	padding-top: 15px;
	min-height: 147px;
}
.test_block p {
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.listing_prod, .listing_block .bx-wrapper {
	clear: both;
}
.listing_prod ul li {
	float: left;
}
#content-1 {
	max-height: 660px;
}
.left_panel .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .left_panel .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #000;
}
.pro-slide .owl-nav {
	position: absolute;
	left: 0;
	/*  top: 34%;*/
	top: 25%;
	width: 100%;
}
.pro-slide .owl-prev {
	position: absolute;
	left: -20px;
	color: #c5c5c5;
}
.pro-slide .owl-next {
	position: absolute;
	right:-15px;
	color: #c5c5c5;
}




.similar-product .owl-nav {
	position: absolute;
	left: 0;
	/*  top: 34%;*/
	top: 35%;
	width: 100%;
}


.similar-product .owl-nav i{
	color:transparent;
}

.similar-product .owl-prev {
	position: absolute;
	left: -20px;
  color:transparent;
	background:url(../images/left-arw-slide.png) no-repeat;
}
.similar-product .owl-next {
	position: absolute;
	right:-35px;
	 color:transparent;
	background:url(../images/right-arw-slide.png) no-repeat;
}





.top_prod_details {
	padding: 70px 15px 0px 15px;
}


.top_prod_description{
	border-top:1px #cfcfcf solid;
	margin:35px 15px;
	
}

.nav_left .navbar-nav > li {
	position: inherit;
}
/*.bot_header .nav.navbar-nav li.dropdown:hover .dropdown-menu{
	display:block;
}*/
.nav_left .navbar-nav > li {
	position: inherit;
}
.nav_left .navbar-nav > li > .dropdown-menu {
	border-radius:0px;
	padding:15px 10px;
}

.nav_left .navbar-nav > li:first-child > .dropdown-menu {
	position:absolute;
	left:0px;
	

}
.col-tot-6{
			min-width:400px !important;
}
.col-tot-12{
	min-width:300px !important;
}
.col-tot-4{
		min-width:800px !important;
}
.col-tot-3{
	min-width:600px !important;
}



.bot_header .nav.navbar-nav li a:hover {
	color: #093a61;
	background:#FFF;
}
.bot_header .nav.navbar-nav li .dropdown-menu li a {
    color: #0c5086;
   font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
    padding: 5px 0;
    text-transform: capitalize;
}

.bot_header .nav.navbar-nav li .dropdown-menu li  span a{
	color:#434343;
	font-family: 'Lato', sans-serif;
    font-size: 15px;
	font-weight:normal; line-height: 19px;
}

.nav_left {
	position: static;
}
.bot_header {
	position: relative;
}
.pad_all {
	padding: 40px;
}
.right_prodet .price_listing {
	margin-right: 10px;
}
.right_prodet .price_listing strike {
	color: #333;
	margin-right: 5px;
}
.right_prodet .product-price {
	width: 197px;
	float: right;
}
.right_prodet .price_listing {
	text-align: left;
}
.right_prodet .delivery-txt {
	color: #0c5086;
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 0 15px 0px;
	width: 100%;
	margin: 0px;
	font-family: 'Lato', sans-serif;
}
.big_img img {
	width: 100%;
}
.small_products {
	margin-top: 25px;
}
.img_port {
    height: 58px;
    margin: 0 0px 15px 0px;
    padding: 0;
    width: 58px;
		border: 1px solid #d6d6d6;

}
.img_port img {
	height:100%;
}
.img_port.active img {
	border: 2px solid #60bb22;
}
.discount-btn {
	width: 100%;
	float: left;
	margin-top: 15px;
	background: #fff none repeat scroll 0 0;
	border: 1px solid #60bb22;
	border-radius: 5px;
	color: #357808;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	padding: 4px 10px 4px;
}
.descript_main {
	padding: 20px 0;
	width:100%;
	float:left;

}
.descript_main h4 {
	font-size: 24px;
	color: #0c5086;
	line-height: 30px;
	text-transform:capitalize;
}

.descript_main h5 {
	font-size: 16px;
	color: #565656;
	line-height: 35px;
	font-weight:bold;
	margin:0px;
	padding:0px;
	text-transform:capitalize;
}
.descript_main p {
	font-size: 16px;
	color: #434343;
	line-height: 25px;
	font-family: 'Lato', sans-serif;
	margin-bottom:15px;
	
}

.detail-list ul{
	margin:0px 0px 15px 0px;
	padding:0px;
}

.detail-list li{
	color:#0c5086;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
	background:url(../images/list-bullet.png) 0px 13px no-repeat;
	list-style:none;
	padding-left:10px;
}

.recent-view {
    background: #fff;
    border: 1px solid #cfcfcf;
    height: auto;
    margin-bottom: 40px;
    margin-top: 30px;
    padding:15px 20px;
    width:300px;
	float:right;
}


.recent-view  h1{
	color:#0c5086;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	font-weight:bold;
	margin:0px;
	padding:0px 0px 20px 0px;
	text-transform:capitalize;
}

.recent-view  h2{
	color:#0c5086;
	font-family: 'Lato', sans-serif;
	font-size:15px;
	line-height:25px;
	font-weight:normal;
	margin:10px 0px 0px 0px;
	padding:0px;
	text-transform:capitalize;
}

.recent-view  hr {
	margin-top: 8px;
	margin-bottom: 8px;
	border: 0;
	border-top: 1px solid #ccc;
	width:100%;
	float:left;
}



.recent-view-con {
	height: 75px;
}
.recent-view-con .recent-view-box {
	display: table;
	width: 100%;
	height: 100%;
	margin-top: 5px;
}
.recent-view-con .recent-view-box .recent-view-image {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.recent-view-con .recent-view-box .recent-view img {
	max-width: 75px;
	height: auto;
}






.recent-view  .price_listing {
    color: #3a3a3a;
    display: block;
    font-family: "Lato",sans-serif;
    font-size:16px;
    font-weight: bold;
    height: 40px;
    line-height: 30px;
    margin-bottom: 0;
    min-width: 100%;
    text-align:left;
}
.recent-view .price_listing span {
    color: #ff0000;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-right: 10px;
    text-decoration: line-through;
}






.nav_left .navbar-nav > li > .dropdown-menu {
	background: #fff;
	top:50px;
}
.op_men.pull-left {
	vertical-align: bottom;
	margin-top: 60px;
	color: #a11518;
	margin-left: 18px;
	position: relative;
	top: 5px;
	font-size: 30px;
	display: block;
}
.menu_sub {
	background: #fff;
	position: relative;
}
.menu_subinner, .menu_sub_inner {
	padding: 35px 0;
	height: 100%;
}
.menu_subinner ul li {
	font-size: 17px;
	line-height: 41px;
	color: #777777;
	list-style-type: none;
	cursor: pointer;
	width: 25%;
	padding-right: 20px;
	float: left;
	margin: 0 0;
	background-color: rgba(255, 255, 255, 0.52);
	padding-left: 0px;
	color: #000;
	position: relative;
	z-index: 9;
}
.menu_subinner .container {
	position: relative;
	overflow: hidden;
}
.menu_subinner .container:after {
	width: 273px;
	height: 171px;
	position: absolute;
	content: '';
	background: url(../images/menu_back.jpg) no-repeat 0 0;
	right: 40px;
	bottom: 0;
	z-index: 7;
}
.menu_sub_sub {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	bottom: 0;
	z-index: 9;
}
.menu_sub_sub h5 {
	font-size: 17px;
	color: #777777;
}
.tab_sub {
	display: table;
	height: 100%;
	table-layout: fixed;
}
.tab_rowcell {
	display: table-cell;
	height: 380px;
	vertical-align: middle;
}
.close_menu {
	position: absolute;
	right: 35px;
	top: -10px;
	z-index: 10;
}
.menu_sub_inner .container {
	position: relative;
}
.tab_sub_cont {
	max-height: 380px;
}
.tab_sub .mCustomScrollBox {
	margin-top: 40px;
}
.tab_sub .mCSB_dragger {
	z-index: 33;
}
.menu_sub_sub .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .menu_sub_sub .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail, .menu_sub .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .menu_sub .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #A11518;
}
.for_scrollbar {
	max-height: 410px;
}
.sub_catinner .close_menu {
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 10;
}
.for_mob {
	display: none;
}

.select_drop .sorter, .select_drop .sort-by {
	width: 100%;
	margin-bottom: 0;
	height: auto;
}
.select_drop .sort-label {
	font-size: 15px;
	color: #b9b9b9;
	width: 20%;
	margin: 0;
	line-height: 26px;
}
.sorter > .sort-by .sort-by-switcher {
	position: absolute;
	top: 0px;
	margin-top:50px;
}
.listing_block.inner_listing {
	position: relative;
}


#catalog-listing .limiter > label {
	    color: #414141;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: normal;


}
.grid-list .price_listing{
	text-align:center;
}
.list-page .price_listing{
	text-align:left;
}
.list-page .delivery-txt{
	padding-left:0px;
}

.toolbar-bottom {
	clear: both;
	width: 100%;
	float: left;
	padding-top: 10px;
/*	border-top: 1px solid #ebebeb;*/
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
  background:#60bb22;    border-left: 5px #fff solid;
    border-right: 5px #fff solid;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;	
  
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
/*#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 18px;
  right: 14px;
  width: 17px;
  height: 17px;
  display: block;
  background:url(../images/menu-cross.png) no-repeat;
  content: '';
}*/



#cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 10px;
    width: 20px;
    content: '';
  }











/*#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 18px;
  height: 16px;
  background:url(../images/toggle-menu.png) no-repeat;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
*/


#cssmenu > ul > li.has-sub > a:before  {
    background:url(../images/toggle-menu.png) no-repeat;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    right: 17px;
    top: 15px;
    width: 20px; 
}







#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 16px;
  background:url(../images/menu-cross.png) no-repeat;border:none;

  
}
#cssmenu ul ul {
  position: relative;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  z-index:999;
  position:static
}

#cssmenu ul ul li  ul{
 
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  z-index:999;
  position:static}


#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}



#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  background: #60bb22;
 font-family: 'Lato', sans-serif;	
}

 #cssmenu ul ul li ul {
  position: absolute;
  top: -40px;
   background:#60bb22;
   z-index:9999;
/*   min-height:332px;*/
}
 #cssmenu ul ul  li ul li ul {
   position: absolute;
  top: -38px;
   background:#60bb22;
   z-index:9999;
/*   min-height:332px;*/
 }

#cssmenu ul ul li ul li a {
    background: #60bb22 url("../images/bullet-arw.png") no-repeat scroll 17px 14px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    color: #fff;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    width: 100%;
	padding-left:30px;
}




#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
  background:#67c627;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 17px;
  height: 17px;
  display: block;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
  
  
}


.sign_box {
	display: table;
	padding: 40px 0px;
	width: 100%;
	
	margin-top: 30px;
}
.sign_box h1 {
	font-size: 18px;
	line-height: 32px;
	margin: 0 0 15px 0;
	font-family: 'Lato', sans-serif;
	color: #3f3a34;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	text-transform: capitalize;
}
.sign_box h2 {
	font-size: 15px;
	line-height: 30px;
	margin: 0 0 15px 0;
	font-family: 'Lato', sans-serif;
	color: #7a7a7a;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	text-transform: capitalize;
}
.log_box {
	display: table;
	padding: 0px 40px 0px 20px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;border-right: 1px #e1e1e1 solid;
}
.vert_cen {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}
.log_box h1 {
	font-size: 24px;
	line-height: 38px;
	margin: 0 0 15px 0;
	font-family: 'Lato', sans-serif;
	color: #3f3a34;
	text-transform: capitalize;
}
.log_box p {
	font-size: 15px;
	line-height: 22px;
	color: #7a7a7a;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	margin-bottom: 20px;
}


.customer_box {
    display: table;
    padding: 0px 40px 0px 20px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
   
}
.customer_box-1{
	 border-left: 1px #e1e1e1 solid;
}
.customer_box h1 {
	font-size: 24px;
	line-height: 38px;
	margin: 0 0 15px 0;
	font-family: 'Lato', sans-serif;
	color: #3f3a34;
	text-transform: capitalize;
}
.customer_box p {
	font-size: 15px;
	line-height: 22px;
	color: #7a7a7a;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	margin-bottom: 20px;
}











.log_box .btn-primary {
	margin-top: 23px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 11px 25px;
	line-height: 24px;
	border-radius: 5px;
	text-transform: uppercase;
}
.log_box .register-btn {
	margin-top:0px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 11px 0px;
	width: 250px;
	line-height: 24px;
	border-radius: 5px;
	text-transform: uppercase;
}



.regular-checkbox {
    display: none;

}
.log_box  span{
	color:#7a7a7a;
	font-family: 'Lato', sans-serif;
	font-size:15px;
	font-style:normal;
}
.regular-checkbox  input{
	width:8px;height:8px;
margin-right:10px;
}
.regular-checkbox + label {
	  border: 1px solid #cccccc!important;
	background:none;
    border-radius: 3px;
    display: inline-block;
    padding: 8px;
	width:8px ;height:8px;
    position: relative;
	float:left;
	margin-right:10px;
	margin-top:3px;
	color:#828282;
	font-family: "Lato",sans-serif;
	font-size:14px;

}
.regular-checkbox:checked + label:after {
	 color: #60bb22;
    content: "✔";
    font-size: 12px;
    font-weight: 600;
    left: 2px;
    line-height: 16px;
    position: absolute;
    top: 0px;
	
}
.regular-checkbox:checked + label {
	  border: 1px solid #dedede;
     background-color:none;
	 border:0;
	 border-radius: 3px;
    color: #99a1a7;
    padding: 8px;
	width:auto;
	margin-right:10px;
	margin-top:3px;
		width:8px;height:8px;

}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}





.main-content .form-group input[type="email"], .main-content .form-group input[type="password"], .main-content .form-group input[type="text"], .main-content .form-group input[type="tel"], .main-content .form-group textarea {
	font-size: 15px;
	color: #7a7a7a;
	font-style: normal;
	line-height: 20px;
	padding: 12px 24px;
	background: #fff!important;
	border: none;
	width: 80%;
	float: left;
	box-shadow:none!important;
	padding: 12px 20px;
	border-radius: 5px;
	border: 1px #ccc solid;
	width: 100%;
	height:45px;
	margin-bottom:5px;
	
}
.maincontent .form-group textarea {
	min-height: 90px;
}
.maincontent .form-group input[type="email"]:focus, .maincontent .form-group input[type="password"]:focus, .maincontent .form-group input[type="text"]:focus {
	background: #2e6089;
}
.log_box .form-group {
	margin-bottom: 12px;
}
.forgot_btn {
	display: block;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	color: #0c5086;
	margin-top: 24px;
	float: left;
	text-transform: capitalize;
}
.sub_btn {
	background-color: #60bb22;
	border-color: #60bb22;
	border: medium none;
	border-radius: 5px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	margin-top: 10px;
	padding: 10px 55px;
	text-align: center;
	float: right;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
}
.container-header {
	margin: 30px 0 40px 0px;
	text-align: center;
	width: 100%;
	float: left;
}
.container-header span {
	background: #e4e4e4 none repeat scroll 0 0;
	border-radius: 100%;
	color: #7a7a7a;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	letter-spacing: -0.04em;
	margin: 0 0 20px 15px;
	padding: 16px;
	text-transform: uppercase;
}
.container-header p {
	font-size: 1em;
	font-weight: bold;
	margin: 20px 0 0 26px;
	text-align: center;
	width: 100%;
}
.header-stripe {
	background: #e1e1e1 none repeat scroll 0 0;
	height: 1px;
	margin: 10px 0 -18px;
}
.social-btn {
	padding-left: 15px;
	margin: 0px auto;
	width: 100%;
}


.social-btn img {
	margin-left: 15px;
	cursor:pointer;
}
.social-login {
	width: 100%;
	float: left;
}
.sign-right-box {
	width: 100%;
	float: left;
	margin-bottom: 50px;
}
.cms h1 {
	font-size: 23px;
	line-height: 38px;
	margin: 0 0 15px 0;
	font-family: 'Lato', sans-serif;
	color: #3f3a34;
	text-transform: capitalize;
	font-weight: bold;
}
.cms h2 {
	font-size: 20px;
	line-height: 38px;
	margin: 0 0 15px 0;
	font-family: 'Lato', sans-serif;
	color: #0c5086;
	text-transform: capitalize;
	font-weight: bold;
}
.cms p {
	font-size: 15px;
	line-height: 22px;
	color: #7a7a7a;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	margin-bottom: 20px;
}
.contact {
	width: 100%;
	margin: 50px 0px;
}
.contact h1 {
	color: #3f3a34;
	font-family: "Lato", sans-serif;
	font-size: 24px;
	font-weight: bold;
	padding: 3px 0px 30px 0px;
	margin: 0px;
	line-height: 22px;
	text-transform:none;
}
.contact .form-group {
	margin: 0px;
	padding: 0px;
	clear: both;
}
.contact .captcha-con {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	width: 100%;
	float: left;
}
.contact label {
	width: 25%;
	float: left;
	color: #5d654d;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 35px;
}
.contact label span {
	color: #e10707;
	font-weight: 700;
}
.contact .input-group {
	width: 95%;
	float: left;
}
.contact .input-group-1 {
	width: 20%;
	float: left;
	text-align: center;
	margin-right: 15px;
}
.contact .input-group-2 {
	width: 40%;
	float: left;
	text-align: center;
}
.contact .input-group-1 input {
	text-align: center;
}
.contact form input {
	width: 100%;
	height: 45px;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px #c4c4c4 solid;
	margin: 0px 0px 20px 0px;
	color: #5d654d;
	font-style: normal;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}


.contact-left .form-group .input-group input {
	width: 100%;
	height: 45px;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px #c4c4c4 solid;
	margin: 0px 0px 20px 0px;
	color: #5d654d;
	font-style: normal;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}
.contact form textarea {
	width: 100%;
	max-width:100%;
	height: 120px;
	margin: 0px 0px 20px 0px;
	padding: 10px;
	float: left;
	background-color: #fff;
	border-radius: 5px;
	border: 1px #c4c4c4 solid;
	color: #5d654d;
	font-style: normal;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}
.contact form .submit {
	background: none repeat scroll 0 0 #67c627;
	border: medium none;
	color: #fff;
	float: left;
	font-size: 16px;
	height: 45px;
	padding: 5px;
	width: 150px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border-radius: 4px;
	margin-left: 0px;
}


.captcha {
	background: url(../images/captcha.jpg) no-repeat;
}
.contact-left {
	width: 100%;
	float: left;
}
.contact-right {
	color: #5d654d;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width: 100%;
	float: left;
}
.contact-right img {
	width: 100%;
}
.contact-right p {
	color: #093a61;
	float: left;
	display: block;
	line-height: 28px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}
.contact-left .form-group  textarea {
	padding-left: 10px;
}
.logo-slider {
	margin: 20px 0px 40px 0;
}

#recaptcha_logo{
	display:none;
}

.recaptchatable{
	border:0px;
}
/*.logo-slider .item{
margin:0 20px;
float:left;
min-height:50px;
	
}*/


.logo-slider .item {
	float: none;
	margin: 0 0px;
	min-height: 50px;
	min-width: 50px;
}
.logo-slider .owl-controls .owl-nav {
	font-size: 60px;
	color: #d2d3d5;
}
.logo-slider .owl-controls .owl-nav .owl-prev, .logo-slider .owl-controls .owl-nav .owl-next {
	position: absolute;
	height: 60px;
	top: 0%;
	margin-top: -28px;
	padding: 0px 10px;
	position: absolute;
}
.logo-slider i {
	font-size: 35px;
}
.logo-slider .owl-controls .owl-nav .owl-prev {
	left: -10px;
}
.logo-slider .owl-controls .owl-nav .owl-next {
	right: -10px;
}
.logo-slider .owl-controls .owl-nav .owl-prev:hover, .logo-slider .owl-controls .owl-nav .owl-next:hover . {
 color:#dddcdc;
}
.logo-slider .logo-block .logo-thumb {
	background: #fff;
	text-align: center;
	padding: 0px 0px 0px 5px;
	margin: 0px 0px 0px 0px;
	width: 100%;
}
.logo-slider .logo-block .logo-thumb img {
	height: auto;
	margin: 0px;
}
.logo-slider .logo-block .logo-top-row {
	margin: 18px 0;
	font-size: 15px;
	color: #3f434f;
}
.logo-slider .logo-block .logo-bottom-row {
	margin: 18px 0;
	font-size: 17px;
	color: #3f434f;
	font-weight: 700;
}
.logo-slider .logo-block .logo-top-row span, .logo-slider .logo-block .logo-bottom-row span {
	display: inline-block;
	padding: 0 10px;
}
/*  NEWS-LIST */
.caption-content {
	bottom: 0;
	right: 0;
	z-index: 2;
}
.caption-heading {
	color: #fff;
	padding-top: 40px;
	width: 45%;
}
.caption-heading h1 {
	font-size: 38px;
	font-weight: bold;
	color: #fff;
	margin: 0px;
	padding-left: 8px;
	font-family: 'Lato', sans-serif;
}
.list_block {
	width: 100%;
	margin-top: 0px;
	float: left;
}
.list-sec h1 {
	color: #3f3a34;
	font-family: "Lato", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
	margin: 0;
	padding: 0 0 10px;
	text-transform:capitalize;
}
.list-sec hr {
	width: 100%;
	margin: 28px 0px;
	float: left;
}
.list_img_box {
	margin-right: 25px;
	width: 130px;
	float: left;
	margin-top: 5px;
}
.list_img_box img {
	border: 5px solid #d7d7d7;
}
.list_img_box-con {
	margin-right: 25px;
	width: 139px;
	float: left;
	height: 139px;
	border: 5px solid #d7d7d7;
	text-align: center;
}
.list_img_box-con img {
	vertical-align: middle;
}
.list_img_text {
	float: left;
	padding-left: 15px;
	width: 550px;
}
.list_img_text h1 a{
	color: #60bb22;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 3px 0px;
	margin: 0px;
	text-transform:capitalize;
	font-style:normal;
}
.list_img_text p {
	color: #555555;
	font-family: "Lato", sans-serif;
	font-size: 15px;
	font-weight: normal;
	height: auto;
	line-height: 22px;
	padding: 0px;
	margin: 0px 0px 4px 0px;
}
.date {
	color: #9b9b9b !important;
	font-family: "Lato", sans-serif;
	font-style: italic;
	font-size: 14px!important;
}
.list-sec a {
	font-family: "Lato", sans-serif;
	font-style: italic;
	color: #0c5086;
	font-size: 16px;
	text-decoration: none;
}
.blog_feild_area {
	height: auto;
	margin-top: 20px;
	background: #f1f1f1;
	padding-bottom: 20px;
	width: 100%;
	margin-bottom: 40px;
	border: 1px #e1e1e1 solid;
}
.blog_feild_text {
	color: #606060;
	font-family: "Lato", sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	padding: 20px 15px 0 15px;
}
.blog_feild_area h2 {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0c5086;
	line-height: 24px;
	padding: 0px 0px 5px 0px;
	margin: 0px;
	text-transform:capitalize;
}
.blog_feild_area p {
	color: #606060;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	padding-top: 5px;
}
.blog_heading_bg {
	padding: 10px 30px 10px 30px;
	background: #60bb22;
}
.heading_text {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: bold;
}
.blog_feild_area hr {
	margin-top: 21px;
	margin-bottom: 21px;
	border: 0;
	border-bottom: 1px solid #d7d7d7;
	width: 100% !important;
}
.feed-btn {
	font-size: 18px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	padding: 12px 75px;
	text-transform: uppercase;
	color: #0c5086;
	background: #fff;
	border: 2px #60bb22 solid;
	border-radius: 4px;
	text-align: center;
	margin-top: 25px;
}
.pagination .fa {
	font-size: 20px;
	padding: 0px 0px 0px 3px;
}
/* NEWS-LIST */



/*NEWS-DETAIL */

.news_block {
	width: 100%;
	margin-top: 8px;
}
.news_block h1 {
	color: #60bb22;
	font-family: "Lato", sans-serif;
	font-size: 25px;
	font-weight: normal;
	padding: 30px 0px 10px 0px;
	margin: 0px;
}
.news-blk-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.news-blk-image img {
	border: 1px #dddddd solid;
	padding: 5px;
	width: 100%;
}
.news_block p {
	color: #606060;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: normal;
	height: auto;
	line-height: 22px;
	padding: 10px 0px;
	margin: 0px 0px 4px 0px;
}
.post-date {
	color: #9b9b9b;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-style: italic;
}

/*NEWS-DETAIL */


/*REVIEW */

.review-box-grid{
	border-bottom:1px #e1e1e1 solid;
	margin-bottom:40px;
	width:100%;
	float:left;
}


.review-box-wrapper{
	width:165px;
	background:#fff;
	border:1px #c6c6c6 solid;
	border-radius:5px;
	padding:10px 15px;
	position:relative;
	display: inline-block;
	margin-bottom:30px;
}


.review-box-wrapper:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -10px;
	width: 9px;
	height: 13px;
	background:url(../images/review-box-arw.png) no-repeat;


}


.review-box-con {
    height: 100px;
    padding-top: 15px;display: table; width: 100%;
	border:none;
}
.review-box-con .review-box {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.review-box-con .review-box h1{
	color:#60bb22;
	font-family: "Lato", sans-serif;
	font-size:14px;
	text-transform:uppercase;
	margin:0px;
	padding:0px;
	line-height:28px;
	}
.review-box-con .review-box h2{
	color:#5f5f5f;
	font-family: "Lato", sans-serif;
	font-size:13px;
	font-style:italic;
	line-height:26px;
	margin:0px;
	padding:0px;
	text-transform:capitalize;
	}
	
	.review-name{
   font-family: "Lato", sans-serif;
    border-radius: 100%;
    color: #fff;
    font-size: 24px;
    line-height: 48px;
    padding: 0 9px;
    position: absolute;
    right: 32%;
    text-align: center;
    top: -15px;
	width:54px;
	height:54px;
}

.review-form p.required, .review-form .validation-advice {
    margin: 5px 0 0;
    color: #df280a;
    font-size: 13px;
    width: 100%;
    float: left;
        position: inherit;
    display: block;
}
.review-form h4{
	
	color:#60bb22;
	font-family: "Lato", sans-serif;
	font-size:20px;
	text-transform:capitalize;
	margin:0px;
	padding:0px;
	font-weight:bold;
	line-height:28px;
}
.name_rating{
	font-size:16px;
	color:#0000;
	padding-bottom:5px;
}
.review-form h3{
	margin:12px 0px;
}
.review-form h3 span{
	
	color:#0c5086;
	font-family: "Lato", sans-serif;
	font-size:18px;
	text-transform:capitalize;
	margin:0px;
	padding:0px 0px 10px 0px;
	font-weight:bold;

}

.review-form .inline-label label{
	color:#000;
	font-family: "Lato", sans-serif;
	font-size:16px;
	text-transform:capitalize;
	padding:10px 0px 0px 0px;
	font-weight:normal;
}

.review_field{
		color:#000;
	font-family: "Lato", sans-serif;
	font-size:16px;
	text-transform:capitalize;
	padding:10px 0px 0px 0px;
	font-weight:normal;
	

}

.review-form input[type="email"], .review-form input[type="search"], .review-form input[type="number"], .review-form input[type="password"], .review-form input[type="tel"], .review-form input[type="text"] {
    max-width: 100%;
    width: 100%;
}

.review-form .buttons-set button .buttuon{
	    color: #fff;
    background-color: #60bb22;
    border-color: #60bb22;
    padding: 11.5px 15px;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 16px;
}

#review_field{
	border:1px #ccc solid;
	min-width:100%;
}

.jStar{
	margin-bottom:10px;
}

.orange-btn{
	 background: #f8691a none repeat scroll 0 0;
	 color: #fff;
}

.green-btn{
	 background: #60bb22 none repeat scroll 0 0;
	 color: #fff;
}
.blue-btn{
	 background: #167fd3 none repeat scroll 0 0;
	 color: #fff;
}

.rate-review{
	color:#60bb22;
	font-family: "Lato", sans-serif;
	font-size:15px;
	padding-left:2px;
}
.rate-rating{
	color:#565656;
	font-family: "Lato", sans-serif;
	font-size:15px;
	font-weight:300;
	padding-left:2px;
}


.review-text{
	float:right;
	width:81%;
}


.review-text h1{
	color:#3a3a3a;
	font-family: "Lato", sans-serif;
	font-size:16px;
	font-weight:bold;
	text-transform:capitalize;

}



.review-text p{
	color:#434343;
	font-family: "Lato", sans-serif;
	font-size:16px;
	font-weight:normal;
}


.review-container{
	margin-top:20px;
}

.shop-cart {
    float: left;
    margin: 0;
    padding: 30px 0 0;
    width: 100%;
}
.shop-cart .col-left {
    float: left;
    margin: 0;
    padding: 0;
    width: 70%;
}
.shop-cart .col-left .page-title {
    float: left;
    margin: 0;
    padding: 0 0 15px;
    width: 100%;
}

.shop-cart .col-left .page-title h1 {
    color: #0c5086;
    float: left;
	font-size:24px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
	font-weight:normal;
	text-transform:capitalize;
    width: 100%;
}
.shop-cart .col-left .page-subtitle {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.shop-cart .col-left .page-subtitle h2 {
    color: #414141;
    float: left;
	font-size:16px;
     font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 15px 0 0;
    text-transform: none;
    width: 100%;
}
.shop-cart .carttable {
    float: left;
    margin: 0;
    padding: 30px 0 0;
    width: 100%;
}
.shop-cart .carttable .cart-table thead {
    background: #ffffff none repeat scroll 0 0 !important;
    border-top: 1px solid #ffffff !important;
}
.shop-cart .carttable .data-table th {
    color: #414141;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    white-space: nowrap;
}
.shop-cart .carttable .data-table th:first-child {
    padding-left: 0;
}
.shop-cart .carttable .cart-table .product-cart-info, .cart-table .product-cart-actions {
    border-right: 0 none;
    padding-left: 15px;
    padding-top: 20px;
    vertical-align: top;
}


.cart-table .product-cart-info{
	width:35%;
}

    #info a{
		background:none;
		padding:0px;
	}
	
	 #info a:hover{
		background:none;
		
	}
	
	.view-more{
		color:#60bb22!important;
	}

.shop-cart .carttable .cart-table .product-cart-total, .cart-table .product-cart-price {
    border-right: 0 none;
    color: #414141;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
    vertical-align: top;
}
.shop-cart .carttable .data-table thead th, .data-table tbody td {
    border-bottom: 1px solid #cecece;
}
.shop-cart .col-left .messages {
    float: left;
    margin: 0;
    padding: 5px 0 0;
    width: 100%;
}
.shop-cart .col-right {
    float: right;
    margin: 0;
    padding: 0;
    width: 30%;
}

.shop-cart h2.product-name a{
	padding:0px;
		font-family: 'Lato', sans-serif;
		font-weight:600;
	text-transform:capitalize;
}

.shop-cart .price{
	color:#414141;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	font-weight:normal;
}
.product-cart-total .price{
	font-weight:600;
}
.description-cart{
	font-family: 'Lato', sans-serif;
	color:#434343;
	font-size:14px;
	    margin: 0px 0px 1px 0px;
}
.display-single-price .cart-table .cart-links{
	    width: 50px;
    margin:0px auto 0px auto;
}
 .no_log_in {
 width: 23px!important;
    padding: 0px 4px;
    position: relative;
    top: -22px;
	margin:0px auto;
}

.cart-table .nobr{
	color:#414141;
	font-size:16px;
}
.display-single-price .cart-table .cart-links > li { width:20px;  display:inline; margin:0 3px 0px 0px; padding:0; }
.edit  { width:20px; height:18px; float:left; font-size:0; background:url(../images/btn_edit.png) 0 0 no-repeat; margin:0; padding:0 2px; }
.edit:hover { width:20px; height:18px; float:left; font-size:0; background:url(../images/btn_edit-hover.png) 0 0 no-repeat; margin:0; padding:0 2px; }


.wishlist 
 { width:20px; height:18px; font-size:0; background:url(../images/btn_wishlist.png) 0 0 no-repeat; margin:0; padding:0 2px; }
 
 
 .wishlis:hovert 
 { width:20px; height:18px; float:right; font-size:0; background:url(../images/btn_wishlist-hover.png) 0 0 no-repeat; margin:0; padding:0 2px; }
.cart-table .product-cart-remove {
  padding-top: 25px;
  vertical-align: top;
}


.btn-del  { width:17px; height:18px; float:left; font-size:0; background:url(../images/delete.png) 0 0 no-repeat; margin:0; padding:0 2px; }
	
	.btn-del:hover  { width:17px; height:18px; float:left; font-size:0; background:url(../images/delete_hover.png) 0 0 no-repeat; margin:0; padding:0 2px; }

	
	
	/*REVIEW */

#catalog-listing .pro-overlay-iconset{padding: 0 0px 0px 22px;}

#catalog-listing .iconset a.icon span{
	margin-right:4px;
}
.left_panel  .price{
	font-weight:normal;
		font-family: 'Lato', sans-serif;
}
#catalog-listing .toolbar .view-mode > label{
	display:block;margin-top:1px;
}


.active_list a{
	color:#60bb22!important;
}



#cssmenu ul li .cat_active span a{
	color:red!important;
}



.print-order{
	float:right;
	margin-top:20px;
}

.order-details .back-link a{
	  background: #60bb22 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    font-family: "Lato",sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 7px 13px;
    text-decoration: none;
    text-transform: uppercase;
 }


 .back-link a{
	  background: #60bb22 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    font-family: "Lato",sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 9px 13px!important;
    text-decoration: none;
    text-transform: uppercase;
	text-align:center;
	min-width:90px;
 }
 
 
  .back-link a:hover{
	  background: #1e6ca2 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    font-family: "Lato",sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 9px 13px!important;
    text-decoration: none;
    text-transform: uppercase;
	text-align:center;
	min-width:90px;
 }
  .my-account .buttons-set button.button{
	   padding: 10px 13px 10px 13px;
	   width:90px;
  }
.my-account .button{
	
	  background: #60bb22 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    font-family: "Lato",sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 9px 13px;
    text-decoration: none;
    text-transform: uppercase;
	text-align:center;
	min-width:95px;
}
.my-account .buttons-set button.button{
	    float: left;
    margin-left: 5px;
    width: 90px;
    padding: 10px 13px;
}
.log_box input[type=email], 
.log_box input[type=search], .log_box input[type=number], .log_box input[type=password], .log_boxinput[type=tel],
.log_box input[type=text]{

    font-size: 15px;
    color: #7a7a7a;
    font-style: normal;
    line-height: 20px;
    padding: 12px 24px;
    background: #fff;
    border: none;
    width: 80%;
    float: left;
   box-shadow:none!important;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px #ccc solid;
    width: 100%;
    height: 45px;
}


.log_box .validation-advice{
	 width: 100%;
    float: left;
	position:relative;
}




.newsletter .buttons-set button.button{
	    min-width: 90px;
}

.h-width{
	width:50%!important;
}
.my-account .addresses-list .col-1, .my-account .addresses-list .col-2{
	padding-top:0px;
}

.my-account .addresses-list .col-1 h2, .my-account .addresses-list .col-2 h2{
	    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: capitalize;
    margin-bottom: 15px;
    padding-bottom: 7px;
    border-bottom: 2px solid #67c627;
    width: 100%;
    float: left;
	
}
.my-account .addresses-list address{
	font-size:14px;
}

.my-account .addresses-list .col-1 h3{
	    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: capitalize;
	width:100%;
	float:left;
	margin:0px;
	padding-bottom:5px;
}
.addresses-primary a{
	font-size: 16px;
}
.my-account .buttons-set button.button-save{
	width:120px;
	background: #60bb22 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 13px;
	border:0px;
    font-weight: 700;
    margin: 0 0px 0px 10px;
    padding: 11px 13px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}

.country-selector  {
    border: 1px solid #ccc;
        min-height: 35px;
    border-radius: 3px;
    padding-bottom: 4px;
    width: 365px;
    margin-bottom: 15px;
    color: #818181;
    font-size: 14px;
}

.country-selector select{
	    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: url(../images/drop-arw.png) no-repeat 100% 11px;
    border: medium none;
    color: #818181;
    font-size: 14px;
    outline: 0 none;
    padding-left: 10px;
    width: 98%;
    font-family: 'Lato', sans-serif;
    border: none;
    line-height: 22px;
    margin-top: 4px;
}



.nobr{COLOR:#60bb22;
font-size:	14px;
}
.view-btn a{
	color:#60bb22;
font-size:	14px;
    background: #fff;
    border: 1px #60bb22 solid;
    border-radius: 5px;
    color: #60bb22;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 0px;
    width: 92%;
    text-transform: uppercase;
}

.view-btn a:hover{
	color:#fff!important;
    font-size:	14px;
    background: #60bb22;
    border: 1px #60bb22 solid;
    border-radius: 5px;
    color: #60bb22;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 0px;
    width: 92%;
    text-transform: uppercase;
}

.view-btn strong{
	font-size:13px;
}


#my-reviews-table .product-name a{
	 font-size: 14px; color: #0c5086;  font-family: 'Lato', sans-serif;
}


.my-account .buttons-set button.btn-share{
	background:none!important;
	color:#60bb22;
	width:auto;
	height:36px;
	padding:0px 13px;
	border:1px #60bb22  solid;border-radius:3px;text-transform:uppercase;outline:0px!important;
}

.my-account .buttons-set button.btn-add{
	background:none!important;
	color:#60bb22;
	width:auto;
	padding:0px 13px;
	height:36px;
	border:1px #60bb22  solid;border-radius:3px;text-transform:uppercase;
}

.my-account .buttons-set button.btn-update{
	background:none!important;
	color:#60bb22;
	width:auto;
	padding:0px 13px;
	height:36px;width:auto!important;
	border:1px #60bb22  solid;border-radius:3px;
}

#wishlist-table .buttons-set button .btn-cart{
	background:none!important;
	color:#60bb22;
	width:auto;
	padding:0px 13px;
	height:36px;
	border:1px #60bb22  solid;border-radius:3px;
}
.col-tot-6{
	min-width:500px!important;
}

.forgot h2{
	text-transform:capitalize;
}

.forgot label{
	    font-weight: normal;
    font-size: 14px;
}
.forgot form .form-instructions {
    font-style: normal;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    color: #a0a0a0;
}
	.forgot .fieldset p.required{
		width:100%;
		float:left;
	}
.forgot .buttons-set button.button{    min-width: 120px;}


.forgot button {
    background: #60bb22 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 10px 13px!important;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    min-width: 80px;
}




.update-btns {
    background: url(../images/update.png) no-repeat 0 0;
    border: 0px;
    text-indent: -9999px;
    margin-top: -36px;
    width: 20px;
    margin-left: 85px;
}




.review-menu-block a.review-total{
	background:#60bb22;
}
.star1{
	background:#e6e6e6;
}
.star1 .jRatingColor{
	background:#ff9d29!important;
}
.star2{
	background:#e6e6e6;
}
.star2 .jRatingColor{
	background:#ff9d29!important;
}


.ratings-description{
	width:100%;
	float:left;
}


.note-msg{
	    width: 100%;
    float: left;
    margin-top: 10px;
}
.product-review h1{
	    font-size: 17px;
    line-height: 24px;
    color: #000;
    margin: 0;
    padding-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    text-transform: capitalize;
}
.product-review h2{
	    color: #0c5086;
    font-family: "Lato",sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    text-rendering: optimizespeed;
    text-transform: capitalize;
}

.heavy-product{
	background:url(../images/contact_bg.jpg) no-repeat;
	padding:15px 15px;
	width:100%;
	float:left;
	height:235px;
}
.heavy-product h1{
    font-size: 17px;
    line-height: 22px;
    color: #fff;
	font-weight:bold;
	text-align:center;	
	margin:0px 0px 10px 0px;
	 font-family: 'Lato', sans-serif;
	text-transform:capitalize;

}
.heavy-item{
margin:20px 0px 0px 0px;	
width:100%;
float:left;
}
.heavy-icon{
	float:left;
	width:50px;
}

.heavy-icon i {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.heavy-txt{
	float:left;
     font-family: 'Lato', sans-serif;
	 font-size:15px;
	 color:#fff;
}

.block-compare{
	background:#f4f4f4;
	width:100%;
	float:left;
	height:206px;
	position:relative;
	
}
.block-compare .block-content .block-title{
	width:11%;
	float:left;
	text-align:center;
	border:none;
}



.block-compare .block-content .block-title small{
	color:#fff;font-weight: 600;
    font-size: 25px;
}
.block-compare .block-content .block-title h1 {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #fff;
    padding: 5px 0px 0px 0px;
    margin: 0px;
    line-height: 25px;
}

.block-compare .block-content li.item{
	width:15%;
	float:left;    position: relative;
    top: -21px;
}


.block-compare .block-content .image-holder{
	background:#fff;
}
.block-compare .block-content {
    margin-top: 5px;
    padding: 0px 20px;
}

.block-compare .block-content .image-holder {
    height: 120px;
   display: table; width: 100%;
   position:relative;
	border:none;
}
.block-compare .block-content .image-holder-box {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.block-compare .block-content .btn-holder {
    height: 142px;
   display: table; width: 100%;
   position:relative;
   margin-top:20px;
	border:none;background:none;
}
.block-compare .block-content .btn-holder-box {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.block-compare .block-content .text-holder {
    height: 160px;
   display: table; width: 100%;
   position:relative;background: #0c5086;
	border:none;margin-top:0px;
}
.block-compare .block-content .text-holder-box {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.block-compare .block-content .product-name{
	text-align:center;
	background:#e6e6e6;
	  padding:11px 5px;
	
}

.block-compare .block-content .product-name a{
	    color: #434343;
	font-weight:normal; font-family: 'Lato', sans-serif;font-size:13px;white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.block-compare  .actions {
    margin: 10px 0 0;
    width: 10%;
    float: right;
}
#compare-items .btn-remove {
    background: #60bb22;
    margin-top: 10px;
    top: 22px;
    z-index: 999;
    right: 0px;
    width: 22px;
    height: 22px;
}
 #compare-items .btn-remove:after{
	color:#fff;line-height:23px;
}

.block-compare  button .button{
    background: #0c5086;
    display: inline-block;
    padding: 7px 15px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.block-compare .clear-btn{
	    background: #60bb22;
    display: inline-block;
    padding: 7px 15px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.block-compare .actions a{
	float:right;margin-top:10px;padding: 8px 14px 6px;
}
.close_compare{
	width:20px;
	height:20px;
	float:right;
	position:absolute;
	right:15px;
	    text-indent: -99999px;
		background: url(../images/cross-icon.png) no-repeat 0 0;
}

.direct_sell{
	margin-bottom:10px;
}

.siteul a {
    color: #5d654d;
    font-size: 16px;
    line-height: 28px;
}

.smh2 {
    font-size: 16px;
	text-transform:capitalize;
    padding: 0px;
    display: block;
    margin-bottom: 20px;
    border-bottom: 2px #60bb22 solid;
}
.siteul li{
	color:#60bb22;
}
.strongsm {
     font-size: 16px;
    display: block;
	color: #5d654d;
	font-weight:normal;
	padding:10px;
}

.cat a{
	color: #5d654d;
    font-size: 16px;
    line-height: 28px;
}

.sitecatul li.cat ul li{
	color:#60bb22;
}

.sitecatul li.cat{
	margin-bottom:20px;
}
#facacc {
  width:100%;
  float:left;
  margin:0;
  padding:0 0 30px 0;
  height:auto !important;
}
#facacc .question {
  width:100%;
  float:left;
  margin:25px 0 0 0;
  padding:0;
  cursor:pointer;
  background:none;
  height:auto !important;
  border:none!important;
  outline:none!important;
}
#facacc .question h3 {
  width:94%;
  float:left;
  margin:0;
  padding:0 0 0 35px;
  font-size: 18px;
  line-height:24px;
  color:#12598f;
  font-family: 'Lato', sans-serif;
  text-transform:none;
}
#facacc .question span.ui-icon-triangle-1-s {
  width:16px;
  height:17px;
  float:left;
  padding:0;
  position:relative;
  top:3px;
  margin:0px 0 0 0;
  background:url(../images/icon-minus.png) 0 0 no-repeat;
}
#facacc .question span.ui-icon-triangle-1-e {
  width:16px;
  height:17px;
  position:relative;
  top:3px;
  float:left;
  padding:0;
  margin:0px 0 0 0;
  background:url(../images/icon-plus.png) 0 0 no-repeat;
}
#facacc .answer {
  width:100%;
  float:left;
  margin:0;
  padding:15px 0 0 50px;
  height:auto !important;
  font-size: 15px;
    font-family: 'Lato', sans-serif;
	line-height:24px;
  color: #434343;
   border:none!important;
}
.recaptcha_image_cell{
	padding:0px!important;
}

#open_popup{
	width:600px;
	background:#f0f0f0;
	padding:10px 15px;
}
#open_popup h1{
	color:#3f3a34;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	font-weight:bold;
	line-height:35px;
	text-transform:none;text-align:center;
}


#open_popup  p{
	color:#7a7a7a;
	font-family: 'Lato', sans-serif;
	font-size:15px;
	line-height:28px;
	text-align:center;
	padding:0px 20px;
}
.newsletter_inp  .success-msg{
    color: #76d833;
    text-align: center;
    padding-bottom: 4px;
	
}
.newsletter_inp  .error-msg{
	color:red;text-align: center;
    padding-bottom: 4px;
	
}

#newsloading{

    color: #fff;
    margin-top: 50px;
}
.cm{
	padding:2px;
}


 .magnify .magnify-lens.opacityno{
	opacity:0!important;
}
 .share-btns{
	 width:auto!important;
	 
 }
 
 
.sharing-wishlist-page  .button{
	background: #60bb22 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    font-family: "Lato",sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 9px 13px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
	min-width:120px;
	display:block;
   
}
.sharing-wishlist-page  .button2{
	background: #60bb22 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    font-family: "Lato",sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 11px 13px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
	min-width:120px;
	display:block;
   
}
.sharing-wishlist-page .link-wishlist{
		background: #60bb22 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    font-family: "Lato",sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 9px 13px!important;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;min-width:120px;
	display:block;
   
}

.sharing-wishlist-page .buttons-set{
	border-top:0px;
}

.forgot .input-text{
	
	font-size: 15px;
    color: #7a7a7a;
    font-style: normal;
    line-height: 20px;
    padding: 12px 24px;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px #ccc solid;

    height: 45px;
    margin-bottom: 5px;
}
.right_panel .success-msg {
    width: 100%;
    float: left;
    top: -270px;
    position: absolute;
    border-right: 5px #fff solid;
}
.animation_image2{
	    margin: 10px auto;
    width: 200px;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #fff;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
	
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 10px;
    width: 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 15px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #fff;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
 
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px; background: #ffffff;
/*    background: #dddddd;
*/    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
   #cssmenu ul ul li ul {
	   height:auto;
   }
  
  
  #cssmenu ul ul li ul{
  min-height:auto!important;
  position:static;

  top:0px!important;
}
  #cssmenu ul ul li ul li ul{
	    min-height:auto!important;
  position:static;

  top:0px!important;
  }
  #cssmenu ul ul li {

  z-index:999;
  position:relative;
  height:auto;
  
}
#cssmenu ul ul ul li ul li a{
	 background: #60bb22 url("../images/bullet-arw.png") no-repeat scroll 40px 12px;
}

  #cssmenu ul ul li ul li ul li a{
	   padding-left:50px;
   }
#cssmenu ul ul li ul li a {
	 padding: 8px 15px 8px 30px;
	  background: #60bb22 url("../images/bullet-arw.png") no-repeat scroll 17px 12px;
}
}









@media (max-width: 767px) {

#cssmenu ul ul li ul{
  min-height:auto!important;
  positon:inherit!important;
  top:0px!important;
}
}


